CoEStarterKit/CenterofExcellenceCoreComponents_2_1_6_managed/Workflows/AdminSyncTemplatev3FlowActionDetails-7EBB10A6-5041-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_flowmanagement_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAutomateManagement"},"api":{"name":"shared_flowmanagement"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FullInventory":{"defaultValue":true,"type":"Bool","metadata":{"schemaName":"admin_FullInventory","description":"Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "}},"Power Automate Environment Variable":{"defaultValue":"https://us.flow.microsoft.com/manage/environments/","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"Initialize_FlowTrigger":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowTrigger","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('List_Environments_as_Admin')?['body/value']","actions":{"Apply_to_each_Flow":{"foreach":"@outputs('List_Flows_as_Admin')?['body/value']","actions":{"ReSet_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"Get_Flow_from_CoE":{"runAfter":{"ReSet_isNewToCoE":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_isNewToCoE_to_true":{"runAfter":{"Get_Flow_from_CoE":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"See_if_flow_already_in_CoE":{"actions":{"List_Existing_Flow_Action_References":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","$select":"admin_flowdetailmodifiedon, admin_flowactiondetailid","$filter":"_admin_flow_value eq '@{items('Apply_to_each_Flow')?['name']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory":{"actions":{"Delete_existing_action_references":{"foreach":"@outputs('List_Existing_Flow_Action_References')?['body/value']","actions":{"Delete_action_reference":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","recordId":"@items('Delete_existing_action_references')?['admin_flowactiondetailid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Foreach"},"Create_array_of_actions_for_this_flow":{"runAfter":{"Delete_existing_action_references":["Succeeded"]},"type":"Select","inputs":{"from":"@items('Apply_to_each_Flow')?['properties']?['definitionSummary']?['actions']","select":{"ActionType":"@if(contains(item()['Type'], 'ApiConnection'), coalesce(item()?['api']?['properties']?['displayname'], item()['Type']), item()['Type'])","Operation":"@if(contains(item()['Type'], 'ApiConnection'), coalesce(item()?['swaggerOperationId'], ''), coalesce(item()?['Kind'], ''))","isTypeTrigger":"No"}}},"Create_array_of_triggers_for_this_flow":{"runAfter":{"Create_array_of_actions_for_this_flow":["Succeeded"]},"type":"Select","inputs":{"from":"@items('Apply_to_each_Flow')?['properties']?['definitionSummary']?['triggers']","select":{"ActionType":"@if(contains(item()['Type'], 'ApiConnection'), coalesce(item()?['api']?['properties']?['displayname'], item()['Type']), item()['Type'])","Operation":"@if(contains(item()['Type'], 'ApiConnection'), coalesce(item()?['swaggerOperationId'], ''), coalesce(item()?['Kind'], ''))","isTypeTrigger":"Yes"}}},"Combine_triggers,_actions,_and_remove_duplicates":{"runAfter":{"Create_array_of_triggers_for_this_flow":["Succeeded"]},"type":"Compose","inputs":"@union(body('Create_array_of_triggers_for_this_flow'), body('Create_array_of_actions_for_this_flow'), json('[]'))"},"Parse_Flow_Actions":{"runAfter":{"Combine_triggers,_actions,_and_remove_duplicates":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Combine_triggers,_actions,_and_remove_duplicates')","schema":{"type":"array","items":{"type":"object","properties":{"ActionType":{"type":"string"},"Operation":{"type":"string"},"Connector":{"type":"string"},"IsTypeTrigger":{"type":"string"}},"required":["ActionType"]}}}},"If_list_not_empty":{"actions":{"Apply_to_each_Flow_Action":{"foreach":"@body('Parse_Flow_Actions')","actions":{"Insert_Flow_Actions_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","item/admin_actiontype":"@items('Apply_to_each_Flow_Action')['ActionType']","item/admin_actioninformation":"@items('Apply_to_each_Flow_Action')?['Connector']","item/admin_Flow@odata.bind":"admin_flows(@{items('Apply_to_each_Flow')?['name']})","item/admin_flowactiondetaildeleted":false,"item/admin_FlowActionDetailEnvrinment@odata.bind":"admin_environments(@{substring(items('Apply_to_each')?['name'], sub(length(items('Apply_to_each')?['name']), 36), 36)})","item/admin_flowdetailmodifiedon":"@variables('today')","item/cr5d5_istypetrigger":"@items('Apply_to_each_Flow_Action')?['IsTypeTrigger']","item/admin_operation":"@items('Apply_to_each_Flow_Action')?['Operation']","item/overriddencreatedon":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Foreach"},"See_if_trigger_action_had_operation":{"actions":{"Set_FlowTrigger":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowTrigger","value":"@{first(body('Create_array_of_triggers_for_this_flow'))?['ActionType']}"}}},"runAfter":{"Apply_to_each_Flow_Action":["Succeeded"]},"else":{"actions":{"Set_FlowTriger_with_Operation":{"runAfter":{},"type":"SetVariable","inputs":{"name":"flowTrigger","value":"@{concat(first(body('Create_array_of_triggers_for_this_flow'))?['ActionType'], ' : ', first(body('Create_array_of_triggers_for_this_flow'))?['Operation'])}"}}}},"expression":{"equals":["@first(body('Create_array_of_triggers_for_this_flow'))['Operation']",""]},"type":"If"},"Update_a_record":{"runAfter":{"See_if_trigger_action_had_operation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","item/cr5d5_flowtrigger":"@variables('flowTrigger')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Parse_Flow_Actions":["Succeeded"]},"expression":{"greater":["@length(body('Parse_Flow_Actions'))",0]},"type":"If"}},"runAfter":{"FlowLastModified":["Succeeded"]},"expression":{"or":[{"less":["@outputs('ActionLastModified')","@outputs('FlowLastModified')"]},{"equals":["@variables('fullInventory')","yes"]}]},"type":"If"},"ActionLastModified":{"runAfter":{"List_Existing_Flow_Action_References":["Succeeded"]},"type":"Compose","inputs":"@coalesce(first(body('List_Existing_Flow_Action_References')?['value'])?['admin_flowdetailmodifiedon'], '')"},"FlowLastModified":{"runAfter":{"ActionLastModified":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(items('Apply_to_each_Flow')?['properties/lastModifiedTime'], 'yyyy-MM-dd HH:mm:ss')"}},"runAfter":{"Set_isNewToCoE_to_true":["Succeeded","Skipped"]},"expression":{"equals":["@variables('isNewToCoE')","@false"]},"type":"If"}},"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Foreach"},"List_Flows_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"ListFlowsInEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@items('Apply_to_each')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"Foreach"},"Initialize_variable_isNewToCoE":{"runAfter":{"Initialize_FlowTrigger":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":"@false"}]}},"Initialize_variable_fullInventory":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fullInventory","type":"string","value":"@{parameters('FullInventory')}"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_today":{"runAfter":{"Initialize_variable_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"List_Environments_as_Admin":{"runAfter":{"Initialize_variable_fullInventory":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Flow_Action_Details_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Flow Action Details)","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Flow Action Details Failed"}}}},"runAfter":{"Apply_to_each":["Failed"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}