CoEStarterKit/CenterofExcellenceCoreComponents_2_1_6_managed/Workflows/AdminSyncTemplatev3CustomConnectors-AE1EF367-1B3E-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsforAdmins"},"api":{"name":"shared_powerappsforadmins"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"https://us.flow.microsoft.com/manage/environments/","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments"}}},"triggers":{"When_a_record_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Environment_Deleted,_terminate_if_true":{"actions":{"Terminate_for_environments_marked_deleted":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentdeleted']","@true"]},"type":"If"},"Initialize_variable_today":{"runAfter":{"Check_if_Environment_Deleted,_terminate_if_true":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Get_Custom_Connectors_and_store_them_in_CoE_CDS_Entity":{"actions":{"Get_Custom_Connectors_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminConnectors","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@triggerOutputs()?['body/admin_environmentname']","api-version":"2017-05-01","$top":250},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Connector":{"foreach":"@outputs('Get_Custom_Connectors_as_Admin')?['body/value']","actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@items('Apply_to_each_Connector')?['properties/apiDefinitions/modifiedSwaggerUrl']"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"swagger":{"type":"string"},"info":{"type":"object","properties":{"version":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"}}},"host":{"type":"string"},"basePath":{"type":"string"},"schemes":{"type":"array","items":{"type":"string"}},"consumes":{"type":"array"},"produces":{"type":"array","items":{"type":"string"}},"definitions":{"type":"object","properties":{}},"parameters":{"type":"object","properties":{}},"responses":{"type":"object","properties":{}},"securityDefinitions":{"type":"object","properties":{"basic_auth":{"type":"object","properties":{"type":{"type":"string"}}}}},"security":{"type":"array"},"tags":{"type":"array"}}}}},"See_if_already_in_CoE":{"actions":{"Get_Connector_creators_user_profile":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_Connector')?['properties/createdBy/id']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch":{"runAfter":{"Get_Connector_creators_user_profile":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{items('Apply_to_each_Connector')?['properties/createdBy/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_Maker":{"actions":{"Update_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_Connector')?['properties/createdBy/id']","item/admin_displayname":"@outputs('Get_Connector_creators_user_profile')?['body/displayName']","item/admin_city":"@outputs('Get_Connector_creators_user_profile')?['body/city']","item/admin_country":"@outputs('Get_Connector_creators_user_profile')?['body/country']","item/admin_department":"@outputs('Get_Connector_creators_user_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_Connector_creators_user_profile')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Connector_creators_user_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Connector_creators_user_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Maker":["Succeeded"]},"else":{"actions":{"Create_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_Connector_creators_user_profile')?['body/displayName']","item/admin_city":"@outputs('Get_Connector_creators_user_profile')?['body/city']","item/admin_country":"@outputs('Get_Connector_creators_user_profile')?['body/country']","item/admin_department":"@outputs('Get_Connector_creators_user_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_Connector_creators_user_profile')?['body/jobTitle']","item/admin_makerid":"@items('Apply_to_each_Connector')?['properties/createdBy/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Connector_creators_user_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Connector_creators_user_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Maker')?['body/value'])",0]},"type":"If"},"Update_Custom_Connector":{"runAfter":{"Update_or_Insert_Maker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","recordId":"@outputs('Compose_connector_upsert_guid')","item/admin_displayname":"@items('Apply_to_each_Connector')?['properties/displayName']","item/admin_name":"@items('Apply_to_each_Connector')?['name']","item/admin_backgroundcolor":"@items('Apply_to_each_Connector')?['properties/iconBrandColor']","item/admin_connectorcreateddatetime":"@items('Apply_to_each_Connector')?['properties/createdTime']","item/admin_connectorcreatordisplayname":"@outputs('Get_Connector_creators_user_profile')?['body/displayName']","item/admin_connectordeleted":false,"item/admin_environmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_iconuri":"@items('Apply_to_each_Connector')?['properties/iconUri']","item/admin_appisorphaned":"no","item/admin_connectormodified":"@items('Apply_to_each_Connector')?['properties/changedTime']","item/admin_customconnectorhost":"@body('Parse_JSON')?['host']","item/admin_EnvironmentCustomConnector@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_iscustomapi":true,"item/admin_Maker@odata.bind":"admin_makers(@{items('Apply_to_each_Connector')?['properties/createdBy/id']})","item/admin_tier":"Custom"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Update_Custom_Connector_(orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","recordId":"@outputs('Compose_connector_upsert_guid')","item/admin_displayname":"@items('Apply_to_each_Connector')?['properties/displayName']","item/admin_name":"@items('Apply_to_each_Connector')?['name']","item/admin_backgroundcolor":"@items('Apply_to_each_Connector')?['properties/iconBrandColor']","item/admin_connectorcreateddatetime":"@items('Apply_to_each_Connector')?['properties/createdTime']","item/admin_connectordeleted":false,"item/admin_environmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_iconuri":"@items('Apply_to_each_Connector')?['properties/iconUri']","item/admin_appisorphaned":"yes","item/admin_connectormodified":"@items('Apply_to_each_Connector')?['properties/changedTime']","item/admin_customconnectorhost":"@body('Parse_JSON')?['host']","item/admin_EnvironmentCustomConnector@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_iscustomapi":true,"item/admin_tier":"Custom"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_Connector_creators_user_profile')['statusCode']","type":"Switch"}},"runAfter":{"Compose_connector_upsert_guid":["Succeeded"]},"else":{"actions":{"Get_Connector_creators_user_profile_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_Connector')?['properties/createdBy/id']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')"}},"Switch_2":{"runAfter":{"Get_Connector_creators_user_profile_New":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{items('Apply_to_each_Connector')?['properties/createdBy/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Insert_or_Update_Maker_New":{"actions":{"Update_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_Connector')?['properties/createdBy/id']","item/admin_displayname":"@outputs('Get_Connector_creators_user_profile_New')?['body/displayName']","item/admin_city":"@outputs('Get_Connector_creators_user_profile_New')?['body/city']","item/admin_country":"@outputs('Get_Connector_creators_user_profile_New')?['body/country']","item/admin_department":"@outputs('Get_Connector_creators_user_profile_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_Connector_creators_user_profile_New')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Connector_creators_user_profile_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Connector_creators_user_profile_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Maker_New":["Succeeded"]},"else":{"actions":{"Create_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_Connector_creators_user_profile_New')?['body/displayName']","item/admin_city":"@outputs('Get_Connector_creators_user_profile_New')?['body/city']","item/admin_country":"@outputs('Get_Connector_creators_user_profile_New')?['body/country']","item/admin_department":"@outputs('Get_Connector_creators_user_profile_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_Connector_creators_user_profile_New')?['body/jobTitle']","item/admin_makerid":"@items('Apply_to_each_Connector')?['properties/createdBy/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Connector_creators_user_profile_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Connector_creators_user_profile_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Maker_New')?['body/value'])",0]},"type":"If"},"Create_Custom_Connector":{"runAfter":{"Insert_or_Update_Maker_New":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","item/admin_displayname":"@items('Apply_to_each_Connector')?['properties/displayName']","item/admin_name":"@items('Apply_to_each_Connector')?['name']","item/admin_backgroundcolor":"@items('Apply_to_each_Connector')?['properties/iconBrandColor']","item/admin_connectorcreateddatetime":"@items('Apply_to_each_Connector')?['properties/createdTime']","item/admin_connectorcreatordisplayname":"@outputs('Get_Connector_creators_user_profile_New')?['body/displayName']","item/admin_connectordeleted":false,"item/admin_environmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_iconuri":"@items('Apply_to_each_Connector')?['properties/iconUri']","item/admin_appisorphaned":"no","item/admin_connectormodified":"@items('Apply_to_each_Connector')?['properties/changedTime']","item/admin_customconnectorhost":"@body('Parse_JSON')?['host']","item/admin_EnvironmentCustomConnector@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_iscustomapi":true,"item/admin_Maker@odata.bind":"admin_makers(@{items('Apply_to_each_Connector')?['properties/createdBy/id']})","item/admin_tier":"Custom"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Create_Custom_Connector_(orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","item/admin_displayname":"@items('Apply_to_each_Connector')?['properties/displayName']","item/admin_name":"@items('Apply_to_each_Connector')?['name']","item/admin_backgroundcolor":"@items('Apply_to_each_Connector')?['properties/iconBrandColor']","item/admin_connectorcreateddatetime":"@items('Apply_to_each_Connector')?['properties/createdTime']","item/admin_connectordeleted":false,"item/admin_environmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_iconuri":"@items('Apply_to_each_Connector')?['properties/iconUri']","item/admin_appisorphaned":"yes","item/admin_connectormodified":"@items('Apply_to_each_Connector')?['properties/changedTime']","item/admin_customconnectorhost":"@body('Parse_JSON')?['host']","item/admin_EnvironmentCustomConnector@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_iscustomapi":true,"item/admin_tier":"Custom"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_Connector_creators_user_profile_New')['statusCode']","type":"Switch"}}},"expression":{"not":{"equals":["@length(outputs('Get_Connector_Record')?['body/value'])",0]}},"type":"If"},"Get_Connector_Record":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_connectorid","$filter":"admin_name eq '@{items('Apply_to_each_Connector')?['name']}'","$top":1},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Compose_connector_upsert_guid":{"runAfter":{"Get_Connector_Record":["Succeeded"]},"type":"Compose","inputs":"@if(empty(outputs('Get_Connector_Record')?['body']), guid(), first(outputs('Get_Connector_Record')?['body/value'])?['admin_connectorid'])"}},"runAfter":{"Get_Custom_Connectors_as_Admin":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"Scope"},"Get_Custom_Connectors_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Custom Connectors)","item/admin_environmentname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Custom Connectors Failed"}}}},"runAfter":{"Get_Custom_Connectors_and_store_them_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}