CoEStarterKit/CenterofExcellenceCoreComponents_2_1_6_managed/Workflows/AdminCapacityAlerts-108A99EF-B08C-EB11-A812-000D3A1F6308.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Admin eMail":{"defaultValue":"adelev@pplatform.onmicrosoft.com","type":"String","metadata":{"schemaName":"admin_AdminMail","description":"CoE Admin eMail. Email address used in flows to send notifications to admins; this should be either your email address or a distribution list"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"schedule":{"weekDays":["Monday"],"hours":["9"]}},"type":"Recurrence"}},"actions":{"List_Environment_Capacity_information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentcapacities","$select":"admin_actualconsumption,admin_approvedcapacity,admin_capacitytype,admin_capacityunit","$filter":"admin_approvedcapacity ne null","$expand":"admin_Environment"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_capacity":{"foreach":"@outputs('List_Environment_Capacity_information')?['body/value']","actions":{"Actual_is_over_Approved":{"actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"varOverCapacity","value":{"EnvironmentName":"@items('Apply_to_each_capacity')?['admin_environment/admin_displayname']","EnvironmentID":"@items('Apply_to_each_capacity')?['admin_environment/admin_environmentid']","ApprovedCapacity":"@items('Apply_to_each_capacity')?['admin_approvedcapacity']","ActualConsumption":"@items('Apply_to_each_capacity')?['admin_actualconsumption']","CapacityType":"@items('Apply_to_each_capacity')?['admin_capacitytype']"}}}},"runAfter":{},"expression":{"greater":["@items('Apply_to_each_capacity')?['admin_actualconsumption']","@items('Apply_to_each_capacity')?['admin_approvedcapacity']"]},"type":"If"},"Actual_is_80_percent_of_Approved":{"actions":{"Append_to_array_variable_2":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"varCloseToCapacity","value":{"EnvironmentName":"@items('Apply_to_each_capacity')?['admin_environment/admin_displayname']","EnvironmentID":"@items('Apply_to_each_capacity')?['admin_environment/admin_environmentid']","ApprovedCapacity":"@items('Apply_to_each_capacity')?['admin_approvedcapacity']","ActualConsumption":"@items('Apply_to_each_capacity')?['admin_actualconsumption']","CapacityType":"@items('Apply_to_each_capacity')?['admin_capacitytype']"}}}},"runAfter":{"Compose":["Succeeded"]},"expression":{"and":[{"greaterOrEquals":["@div(items('Apply_to_each_capacity')?['admin_actualconsumption'], items('Apply_to_each_capacity')?['admin_approvedcapacity'])",0.8]},{"less":["@div(items('Apply_to_each_capacity')?['admin_actualconsumption'], items('Apply_to_each_capacity')?['admin_approvedcapacity'])",1]}]},"type":"If"},"Compose":{"runAfter":{"Actual_is_over_Approved":["Succeeded"]},"type":"Compose","inputs":"@div(items('Apply_to_each_capacity')?['admin_actualconsumption'], items('Apply_to_each_capacity')?['admin_approvedcapacity'])"}},"runAfter":{"Initialize_htmlHeader":["Succeeded"]},"type":"Foreach"},"Initialize_varOverCapacity":{"runAfter":{"List_Environment_Capacity_information":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varOverCapacity","type":"array"}]}},"Initialize_varCloseToCapacity":{"runAfter":{"Initialize_varOverCapacity":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCloseToCapacity","type":"array"}]},"description":"Currently alerts if capacity is at 80% of approved capacity"},"Initialize_adminMail":{"runAfter":{"Initialize_varCloseToCapacity":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"string","value":"@parameters('Admin eMail')"}]}},"Initialize_htmlHeader":{"runAfter":{"Initialize_adminMail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"string","value":"<style>\ntable {\n  border-collapse: collapse;\n  width: 100%;\n}\n\nth, td {\n  padding: 8px;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n}\n</style>"}]}},"Create_Over_Capacity":{"runAfter":{"Apply_to_each_capacity":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('varOverCapacity')","format":"HTML"}},"Create_Close_to_Capacity":{"runAfter":{"Create_Over_Capacity":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('varCloseToCapacity')","format":"HTML"}},"Send_mail_if_either_array_non-empty":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('adminMail')","emailMessage/Subject":"Admin | Capacity alerts","emailMessage/Body":"<p>@{variables('htmlHeader')}<br>\n<br>\nThe following environments are over their approved capacity:<br>\n@{body('Create_Over_Capacity')}<br>\n<br>\nThe following environments are at 80% of their approved capacity:<br>\n<br>\n@{body('Create_Close_To_Capacity')}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Close_to_Capacity":["Succeeded"]},"expression":{"or":[{"greater":["@length(variables('varOverCapacity'))",0]},{"greater":["@length(variables('varCloseToCapacity'))",0]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}