CoEStarterKit/CenterofExcellenceCoreComponents_2_1_6_managed/Workflows/AdminSyncTemplatev3-9E9FFF08-A643-EB11-A813-000D3A1BB495.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"https://us.flow.microsoft.com/manage/environments/","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"Initialize_GuidFound":{"runAfter":{"Initialize_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GuidFound","type":"string"}]}},"Initialize_systemMaker":{"runAfter":{"Initialize_GuidFound":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"systemMaker","type":"string"}]}},"Initialize_variable_today":{"runAfter":{"Initialize_systemMaker":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_isCDS":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isCDS","type":"boolean","value":"@false"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_CDS_Metadata_Name":{"runAfter":{"Initialize_variable_isCDS":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CDS Metadata Name","type":"string"}]}},"Initialize_cdsURL":{"runAfter":{"Initialize_CDS_Metadata_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"cdsURL","type":"string"}]}},"Get_System_User":{"actions":{"List_Makers":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_displayname eq 'SYSTEM'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Is_System_Maker":{"actions":{"Create_Maker_record_for_SYSTEM":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"SYSTEM"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_systemMaker_with_new_record":{"runAfter":{"Create_Maker_record_for_SYSTEM":["Succeeded"]},"type":"SetVariable","inputs":{"name":"systemMaker","value":"@outputs('Create_Maker_record_for_SYSTEM')?['body/admin_makerid']"}}},"runAfter":{"List_Makers":["Succeeded"]},"else":{"actions":{"Set_systemMaker_with_existing_record":{"runAfter":{},"type":"SetVariable","inputs":{"name":"systemMaker","value":"@{first(body('List_Makers')?['value'])?['admin_makerid']}"}}}},"expression":{"equals":["@length(outputs('List_Makers')?['body/value'])",0]},"type":"If"}},"runAfter":{"Initialize_cdsURL":["Succeeded"]},"type":"Scope"},"Get_Environments_and_store_them_in_the_CoE_CDS_Entity":{"actions":{"Get_Environments":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2021-03-01","$expand":"properties.capacity,properties.addons"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Environment":{"foreach":"@outputs('Get_Environments')?['body/value']","actions":{"Remove_any_Environment_prefix":{"runAfter":{"Name_Length":["Succeeded"]},"type":"Compose","inputs":"@substring(items('Apply_to_each_Environment')?['name'], int(outputs('Name_Length')), 36)","description":"Returns the GUID without any prefix (right 36 chars)"},"Check_if_CDS":{"actions":{"Set_isCDS_false":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isCDS","value":"@false"}},"Set_'CDS_Metadata_Name'_to_empty_string":{"runAfter":{"Set_isCDS_false":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CDS Metadata Name","value":"@{concat('', '')}"}}},"runAfter":{"Remove_any_Environment_prefix":["Succeeded"]},"else":{"actions":{"Set_isCDS_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isCDS","value":"@true"}},"Set_cdsURL":{"runAfter":{"Set_isCDS_true":["Succeeded"]},"type":"SetVariable","inputs":{"name":"cdsURL","value":"@{concat('.', split(items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl'], '.')[1])}"}},"Set_'CD_Metadata_Name'":{"runAfter":{"Set_cdsURL":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CDS Metadata Name","value":"@{replace(concat(\r\n   items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['uniqueName'], \r\n   variables('cdsURL')\r\n), '/', '')}"}}}},"expression":{"equals":["@items('Apply_to_each_Environment')?['properties/linkedEnvironmentMetadata']","@null"]},"type":"If"},"ReSet_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"Name_Length":{"runAfter":{"ReSet_isNewToCoE":["Succeeded"]},"type":"Compose","inputs":"@sub(length(items('Apply_to_each_Environment')?['name']),36)","description":"Returns the index where the GUID starts"},"Check_if_Legacy_Environment":{"actions":{"See_if_we've_created_previously":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid","$filter":"admin_environmentname eq '@{items('Apply_to_each_Environment')?['name']}'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"If_found,_we've_already_created,_just_update_it,_else_create":{"actions":{"Set_GuidFound":{"runAfter":{},"type":"SetVariable","inputs":{"name":"GuidFound","value":"@{first(outputs('See_if_we''ve_created_previously')?['body/value'])?['admin_environmentid']}"}},"Update_Legacy_Environment":{"runAfter":{"Set_GuidFound":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@variables('GuidFound')","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"no","item/admin_Maker@odata.bind":"admin_makers(@{variables('systemMaker')})","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"See_if_we've_created_previously":["Succeeded"]},"else":{"actions":{"Insert_Legacy_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"no","item/admin_Maker@odata.bind":"admin_makers(@{variables('systemMaker')})","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(body('See_if_we''ve_created_previously')?['value'])",0]},"type":"If"}},"runAfter":{"Check_if_Teams_envt":["Succeeded"]},"else":{"actions":{"Get_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@outputs('Remove_any_Environment_prefix')","$select":"admin_environmentid"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_isNewToCoE_to_true":{"runAfter":{"Get_Environment":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"See_if_already_in_CoE":{"actions":{"Check_if_SYSTEM_created_Environment":{"actions":{"Update_Environment_(System)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@outputs('Remove_any_Environment_prefix')","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"no","item/admin_Maker@odata.bind":"admin_makers(@{variables('systemMaker')})","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"else":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['id']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch":{"runAfter":{"Get_user_profile_(V2)":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Env_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_user_profile_(V2)')?['body/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_Envt_Maker":{"actions":{"Update_Env_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_user_profile_(V2)')?['body/id']","item/admin_displayname":"@outputs('Get_user_profile_(V2)')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Env_Maker":["Succeeded"]},"else":{"actions":{"Create_Env_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_user_profile_(V2)')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_user_profile_(V2)')?['body/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Env_Maker')?['body/value'])",0]},"type":"If"},"Update_Environment":{"runAfter":{"Update_or_Insert_Envt_Maker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@outputs('Remove_any_Environment_prefix')","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"no","item/admin_Maker@odata.bind":"admin_makers(@{outputs('Get_user_profile_(V2)')?['body/id']})","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Update_Environment_(Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@outputs('Remove_any_Environment_prefix')","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"yes","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_user_profile_(V2)')['statusCode']","type":"Switch"}}},"expression":{"or":[{"equals":["@items('Apply_to_each_Environment')?['properties/createdBy/id']","SYSTEM"]},{"equals":["@items('Apply_to_each_Environment')?['properties/createdBy/displayName']","SYSTEM"]}]},"type":"If"}},"runAfter":{"Set_isNewToCoE_to_true":["Succeeded","Skipped"]},"else":{"actions":{"Check_if_SYSTEM_created_Environment_New":{"actions":{"Insert_Environment_(System)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentid":"@outputs('Remove_any_Environment_prefix')","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"no","item/admin_Maker@odata.bind":"admin_makers(@{variables('systemMaker')})","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"else":{"actions":{"Get_user_profile_(V2)_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['id']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch_2":{"runAfter":{"Get_user_profile_(V2)_New":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Env_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_user_profile_(V2)_New')?['body/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_Envt_Maker_New":{"actions":{"Update_Env_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_user_profile_(V2)_New')?['body/id']","item/admin_displayname":"@outputs('Get_user_profile_(V2)_New')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)_New')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)_New')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)_New')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Env_Maker_New":["Succeeded"]},"else":{"actions":{"Create_Env_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_user_profile_(V2)_New')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)_New')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)_New')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)_New')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_user_profile_(V2)_New')?['body/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Env_Maker_New')?['body/value'])",0]},"type":"If"},"Insert_Environment":{"runAfter":{"Update_or_Insert_Envt_Maker_New":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentid":"@outputs('Remove_any_Environment_prefix')","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"no","item/admin_Maker@odata.bind":"admin_makers(@{outputs('Get_user_profile_(V2)_New')?['body/id']})","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Insert_Environment_(Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","item/admin_displayname":"@items('Apply_to_each_Environment')?['properties/displayName']","item/admin_environmentid":"@outputs('Remove_any_Environment_prefix')","item/admin_environmentcdsinstanceurl":"@items('Apply_to_each_Environment')?['properties']?['linkedEnvironmentMetadata']?['instanceUrl']","item/admin_environmentcdsmetadataname":"@variables('CDS Metadata Name')","item/admin_environmentcreatedon":"@items('Apply_to_each_Environment')?['properties']?['createdTime']","item/admin_environmentdeleted":false,"item/admin_environmentisorphaned":"yes","item/admin_environmentmakerdisplayname":"@items('Apply_to_each_Environment')?['properties']?['createdBy']?['displayName']","item/admin_environmentmodifiedon":"@items('Apply_to_each_Environment')?['properties']?['lastModifiedTime']","item/admin_region":"@items('Apply_to_each_Environment')?['location']","item/admin_environmentsku":"@items('Apply_to_each_Environment')?['properties']?['environmentSku']","item/admin_hascds":"@variables('isCDS')","item/admin_environmentname":"@items('Apply_to_each_Environment')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_user_profile_(V2)_New')['statusCode']","type":"Switch"}}},"expression":{"or":[{"equals":["@items('Apply_to_each_Environment')?['properties/createdBy/id']","SYSTEM"]},{"equals":["@items('Apply_to_each_Environment')?['properties/createdBy/displayName']","SYSTEM"]}]},"type":"If"}}},"expression":{"equals":["@variables('isNewToCoE')","@false"]},"type":"If"},"Apply_to_each_capacity":{"foreach":"@items('Apply_to_each_Environment')?['properties/capacity']","actions":{"Check_if_Capacity_Type_already_exists_for_this_environment":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('List_capacity_for_Environment')?['body/value']","where":"@equals(item()?['admin_capacitytype'], items('Apply_to_each_capacity')?['capacityType'])"}},"If_Capacity_Type_exists,_update,_else_add_new":{"actions":{"Add_new_capacity":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentcapacities","item/admin_capacitytype":"@items('Apply_to_each_capacity')?['capacityType']","item/admin_actualconsumption":"@items('Apply_to_each_capacity')?['actualConsumption']","item/admin_capacityunit":"@items('Apply_to_each_capacity')?['capacityUnit']","item/admin_Environment@odata.bind":"admin_environments(@{outputs('Remove_any_Environment_prefix')})","item/admin_ratedconsumption":"@items('Apply_to_each_capacity')?['ratedConsumption']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_if_Capacity_Type_already_exists_for_this_environment":["Succeeded"]},"else":{"actions":{"Update_capacity":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentcapacities","recordId":"@first(body('Check_if_Capacity_Type_already_exists_for_this_environment'))['admin_environmentcapacityid']","item/admin_actualconsumption":"@items('Apply_to_each_capacity')?['actualConsumption']","item/admin_capacitytype":"@items('Apply_to_each_capacity')?['capacityType']","item/admin_capacityunit":"@items('Apply_to_each_capacity')?['capacityUnit']","item/admin_Environment@odata.bind":"admin_environments(@{outputs('Remove_any_Environment_prefix')})","item/admin_ratedconsumption":"@items('Apply_to_each_capacity')?['ratedConsumption']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@length(body('Check_if_Capacity_Type_already_exists_for_this_environment'))",0]},"type":"If"}},"runAfter":{"List_capacity_for_Environment":["Succeeded"]},"type":"Foreach"},"Apply_to_each_addon":{"foreach":"@items('Apply_to_each_Environment')?['properties/addons']","actions":{"Check_if_Addon_Type_already_exists_for_this_environment":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('List_addons_for_Environment')?['body/value']","where":"@equals(item()?['admin_addontype'], items('Apply_to_each_addon')?['addonType'])"}},"If_Addon_Type_exists,_update,_else_add_new":{"actions":{"Add_a_new_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentaddonses","item/admin_addontype":"@items('Apply_to_each_addon')?['addonType']","item/admin_allocated":"@items('Apply_to_each_addon')?['allocated']","item/admin_Environment@odata.bind":"admin_environments(@{outputs('Remove_any_Environment_prefix')})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_if_Addon_Type_already_exists_for_this_environment":["Succeeded"]},"else":{"actions":{"Update_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentaddonses","recordId":"@first(body('Check_if_Addon_Type_already_exists_for_this_environment'))['admin_environmentaddonsid']","item/admin_addontype":"@items('Apply_to_each_addon')?['addonType']","item/admin_allocated":"@items('Apply_to_each_addon')?['allocated']","item/admin_Environment@odata.bind":"admin_environments(@{outputs('Remove_any_Environment_prefix')})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@length(body('Check_if_Addon_Type_already_exists_for_this_environment'))",0]},"type":"If"}},"runAfter":{"List_addons_for_Environment":["Succeeded"]},"type":"Foreach"},"List_capacity_for_Environment":{"runAfter":{"See_if_already_in_CoE":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentcapacities","$select":"admin_environmentcapacityid,admin_capacitytype","$filter":"admin_Environment/admin_environmentid eq @{outputs('Remove_any_Environment_prefix')}"},"authentication":"@parameters('$authentication')"}},"List_addons_for_Environment":{"runAfter":{"Apply_to_each_capacity":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environmentaddonses","$select":"admin_environmentaddonsid,admin_addontype","$filter":"admin_Environment/admin_environmentid eq @{outputs('Remove_any_Environment_prefix')}"},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@items('Apply_to_each_Environment')?['properties/creationType']","Legacy"]},"type":"If","description":"Legacy and Default environments have the same GUID, prefixed by Legacy- or Default- which is causing issues as the Record Identifier is using the GUID as a unique identifier. We are therefore using a generated GUID for the entity."},"Check_if_Teams_envt":{"actions":{"get_connectedGroups":{"runAfter":{},"type":"Compose","inputs":"@first(items('Apply_to_each_Environment')?['properties/connectedGroups'])"},"Parse_JSON":{"runAfter":{"get_connectedGroups":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('get_connectedGroups')","schema":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"state":{"type":"string"},"resources":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string"}},"required":["type","id"]}}}}}}},"runAfter":{"Check_if_CDS":["Succeeded"]},"expression":{"equals":["@items('Apply_to_each_Environment')?['properties/environmentSku']","Teams"]},"type":"If"}},"runAfter":{"Get_Environments":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_System_User":["Succeeded"]},"type":"Scope"},"Get_Environments_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Environments Failed"}}}},"runAfter":{"Get_Environments_and_store_them_in_the_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Initialize_isNewToCoE":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":"@false"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}