CoEStarterKit/CenterofExcellenceCoreComponents_2_1_6_managed/Workflows/AdminSyncTemplatev3Flows-D9F8DF64-C838-EB11-A813-000D3A1BB495.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_5":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_flowmanagement":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAutomateManagement"},"api":{"name":"shared_flowmanagement"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoEv3SyncTemplatesCurrent"},"api":{"name":"shared_commondataserviceforapps"}},"shared_webcontents_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreHTTPAZUREAD"},"api":{"name":"shared_webcontents"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FullInventory":{"defaultValue":true,"type":"Bool","metadata":{"schemaName":"admin_FullInventory","description":"Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "}},"Power Automate Environment Variable":{"defaultValue":"https://us.flow.microsoft.com/manage/environments/","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments"}}},"triggers":{"When_a_record_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Environment_Deleted,_terminate_if_true":{"actions":{"Terminate_for_environments_marked_deleted":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentdeleted']","@true"]},"type":"If"},"Initialize_variable_today":{"runAfter":{"Initialize_hasBadConnections":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_EmptyArray":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmptyArray","type":"array"}]}},"Get_Flows_and_store_them_in_CoE_CDS_Entity":{"actions":{"List_Connectors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_displayname,admin_connectorid,admin_id,admin_name"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Flows_as_Admin":{"runAfter":{"List_Connectors":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement","operationId":"ListFlowsInEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@triggerOutputs()?['body/admin_environmentname']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Flow":{"foreach":"@outputs('List_Flows_as_Admin')?['body/value']","actions":{"See_if_flow_already_in_CoE":{"actions":{"LastDateModifiedProduct":{"runAfter":{},"type":"Compose","inputs":"@formatDateTime(items('Apply_to_each_Flow')?['properties/lastModifiedTime'], 'yyy-MM-dd HH:mm:ss')"},"LastDateModfiedCoE":{"runAfter":{"Catch_case_where_product_last_modified_date_is_null":["Succeeded","Skipped"]},"type":"Compose","inputs":"@coalesce(formatDateTime(outputs('Get_Flow_from_CoE')?['body/admin_flowmodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')"},"Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory":{"actions":{"Get_Flow_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement","operationId":"AdminGetFlow","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@triggerOutputs()?['body/admin_environmentname']","flowName":"@items('Apply_to_each_Flow')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Parse_JSON_2":{"runAfter":{"Get_Flow_as_Admin":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Flow_as_Admin')","schema":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"properties":{"type":"object","properties":{"apiId":{"type":"string"},"displayName":{"type":"string"},"userType":{"type":"string"},"triggerSchema":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object"}}},"state":{"type":"string"},"sharingType":{"type":"string"},"connectionReferences":{"type":"array"},"createdTime":{"type":"string"},"lastModifiedTime":{"type":"string"},"flowSuspensionReason":{"type":"string"},"environment":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"id":{"type":"string"}}},"definitionSummary":{"type":"object","properties":{"triggers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"kind":{"type":"string"}}}},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"kind":{"type":"string"}}}},"description":{"type":"string"}}},"creator":{"type":"object","properties":{"tenantId":{"type":"string"},"objectId":{"type":"string"},"userId":{"type":"string"},"userType":{"type":"string"}}},"provisioningMethod":{"type":"string"},"flowFailureAlertSubscribed":{"type":"boolean"},"workflowEntityId":{"type":"string"},"referencedResources":{"type":"array"}}}}}}},"Upsert_Flow_Details":{"actions":{"Switch_on_Flow_Owner_Lookup":{"runAfter":{"Get_Flow_Owner_profile":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{variables('FlowOwnerID')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_Flow_Maker":{"actions":{"Update_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@variables('FlowOwnerID')","item/admin_displayname":"@outputs('Get_Flow_Owner_profile')?['body/displayName']","item/admin_city":"@outputs('Get_Flow_Owner_profile')?['body/city']","item/admin_country":"@outputs('Get_Flow_Owner_profile')?['body/country']","item/admin_department":"@outputs('Get_Flow_Owner_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_Flow_Owner_profile')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Flow_Owner_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Flow_Owner_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Flow_Maker":["Succeeded"]},"else":{"actions":{"Create_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_Flow_Owner_profile')?['body/displayName']","item/admin_city":"@outputs('Get_Flow_Owner_profile')?['body/city']","item/admin_country":"@outputs('Get_Flow_Owner_profile')?['body/country']","item/admin_department":"@outputs('Get_Flow_Owner_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_Flow_Owner_profile')?['body/jobTitle']","item/admin_makerid":"@variables('FlowOwnerID')","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Flow_Owner_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Flow_Owner_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Flow_Maker')?['body/value'])",0]},"type":"If"},"Update_Flow_record":{"runAfter":{"Update_or_Insert_Flow_Maker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","item/admin_displayname":"@items('Apply_to_each_Flow')?['properties/displayName']","item/admin_FlowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_city":"@body('Get_Flow_Owner_profile')?['city']","item/admin_country":"@body('Get_Flow_Owner_profile')?['country']","item/admin_department":"@body('Get_Flow_Owner_profile')?['department']","item/admin_DerivedOwner@odata.bind":"admin_makers(@{variables('FlowOwnerID')})","item/admin_flowcontainsbrokenconnections":false,"item/admin_flowcreatedon":"@items('Apply_to_each_Flow')?['properties']?['createdTime']","item/admin_flowcreatorupn":"@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']","item/admin_flowdeleted":false,"item/admin_flowdescription":"@body('Parse_JSON_2')?['properties']?['definitionSummary']?['description']","item/admin_flowenvironmentdisplayname":"@triggerBody()?['admin_displayname']","item/admin_flowenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/cr5d5_flowisorphaned":"no","item/admin_flowmakerdisplayname":"@body('Get_Flow_Owner_profile')?['displayName']","item/admin_flowmodifiedon":"@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']","item/admin_flowstate":"@body('Get_Flow_as_Admin')['properties']['state']","item/admin_FlowCreator@odata.bind":"admin_makers(@{body('Get_Flow_as_Admin')?['properties']?['creator']?['objectId']})","item/admin_workflowentityid":"@body('Parse_JSON_2')?['properties']?['workflowEntityId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_User_Not_Found":{"case":404,"actions":{"Look_up_in_AD_for_Service_Principles_Editted_Flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents_1","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"GET","request/url":"https://graph.microsoft.com/v1.0/servicePrincipals/@{variables('FlowOwnerID')}"},"authentication":"@parameters('$authentication')"}},"Switch_Editted_Flow_Service_Principle_Check":{"runAfter":{"Look_up_in_AD_for_Service_Principles_Editted_Flow":["Succeeded","Failed"]},"cases":{"Case_200:_Service_Principle_Owner":{"case":200,"actions":{"Find_Flow_Maker_Service_Principle":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{variables('FlowOwnerID')}"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_Flow_Maker_Service_Principle":{"actions":{"Update_Service_Principle_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@variables('FlowOwnerID')","item/admin_displayname":"@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_Flow_Maker_Service_Principle":["Succeeded"]},"else":{"actions":{"Add_a_new_Service_Principle_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']","item/admin_makerid":"@variables('FlowOwnerID')","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Find_Flow_Maker_Service_Principle')?['body/value'])",0]},"type":"If"},"Update_Flow_Record_Service_Principle_Owned":{"runAfter":{"Update_or_Insert_Flow_Maker_Service_Principle":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","item/admin_displayname":"@items('Apply_to_each_Flow')?['properties/displayName']","item/admin_FlowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_DerivedOwner@odata.bind":"admin_makers(@{variables('FlowOwnerID')})","item/admin_flowcontainsbrokenconnections":false,"item/admin_flowcreatedon":"@items('Apply_to_each_Flow')?['properties']?['createdTime']","item/admin_flowcreatorupn":"@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']","item/admin_flowdeleted":false,"item/admin_flowdescription":"@body('Parse_JSON_2')?['properties']?['definitionSummary']?['description']","item/admin_flowenvironmentdisplayname":"@triggerBody()?['admin_displayname']","item/admin_flowenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/cr5d5_flowisorphaned":"no","item/admin_flowmakerdisplayname":"@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')?['body']?['appDisplayName']","item/admin_flowmodifiedon":"@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']","item/admin_flowstate":"@body('Get_Flow_as_Admin')['properties']['state']","item/admin_FlowCreator@odata.bind":"admin_makers(@{body('Get_Flow_as_Admin')?['properties']?['creator']?['objectId']})","item/admin_workflowentityid":"@body('Parse_JSON_2')?['properties']?['workflowEntityId']"},"authentication":"@parameters('$authentication')"}}}},"404:_Orphaned_Flow":{"case":404,"actions":{"Update_Flow_record_(creator_not_found)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","item/admin_displayname":"@items('Apply_to_each_Flow')?['properties/displayName']","item/admin_FlowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_flowcontainsbrokenconnections":false,"item/admin_flowcreatedon":"@items('Apply_to_each_Flow')?['properties']?['createdTime']","item/admin_flowcreatorupn":"@body('Get_Flow_as_Admin')?['properties']?['creator']?['userId']","item/admin_flowdeleted":false,"item/admin_flowdescription":"@body('Parse_JSON_2')?['properties']?['definitionSummary']?['description']","item/admin_flowenvironmentdisplayname":"@triggerBody()?['admin_displayname']","item/admin_flowenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/cr5d5_flowisorphaned":"yes","item/admin_flowmodifiedon":"@items('Apply_to_each_Flow')?['properties']?['lastModifiedTime']","item/admin_flowstate":"@body('Get_Flow_as_Admin')['properties']['state']","item/admin_workflowentityid":"@body('Parse_JSON_2')?['properties']?['workflowEntityId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Look_up_in_AD_for_Service_Principles_Editted_Flow')['statusCode']","type":"Switch"}}}},"default":{"actions":{}},"expression":"@outputs('Get_Flow_Owner_profile')['statusCode']","type":"Switch"},"Get_Flow_Owner_profile":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@variables('FlowOwnerID')","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_Updated_Flow_Owner":["Succeeded"]},"type":"Scope"},"Store_Flow_Connection_References":{"actions":{"List_This_Flow_Existing_Connection_References":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid","$filter":"_admin_flow_value eq '@{items('Apply_to_each_Flow')?['name']}'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_this_flows_existing_connection_references":{"foreach":"@outputs('List_This_Flow_Existing_Connection_References')?['body/value']","actions":{"Delete_this_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","recordId":"@items('Delete_this_flows_existing_connection_references')?['admin_connectionreferenceid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_This_Flow_Existing_Connection_References":["Succeeded"]},"type":"Foreach"},"Check_if_Flow_Connection_References_are_not_null":{"actions":{"Parse_Connection_Ref_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@outputs('Get_Flow_as_Admin')?['body/properties/connectionReferences']","schema":{"type":"array","items":{"type":"object","properties":{"displayName":{"type":"string"},"id":{"type":"string"},"connectionName":{"type":"string"},"apiDefinition":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"properties":{"type":"object","properties":{"displayName":{"type":"string"},"iconUri":{"type":"string"},"purpose":{"type":"string"},"connectionParameters":{"type":"object","properties":{"token":{"type":"object","properties":{"type":{"type":"string"},"oAuthSettings":{"type":"object","properties":{"identityProvider":{"type":"string"},"clientId":{"type":"string"},"scopes":{"type":"array"},"redirectMode":{"type":"string"},"redirectUrl":{"type":"string"},"properties":{"type":"object","properties":{"IsFirstParty":{"type":"string"},"AzureActiveDirectoryResourceId":{"type":"string"}}},"customParameters":{"type":"object","properties":{"resourceUri":{"type":"object","properties":{"value":{"type":"string"}}},"loginUri":{"type":"object","properties":{"value":{"type":"string"}}},"loginUriAAD":{"type":"object","properties":{"value":{"type":"string"}}}}}}}}}}},"scopes":{"type":"object","properties":{"will":{"type":"array"},"wont":{"type":"array"}}},"runtimeUrls":{"type":"array","items":{"type":"string"}},"primaryRuntimeUrl":{"type":"string"},"metadata":{"type":"object","properties":{"source":{"type":"string"},"brandColor":{"type":"string"},"version":{"type":"object","properties":{"previous":{"type":"string"},"current":{"type":"string"}}}}},"capabilities":{"type":"array","items":{"type":"string"}},"tier":{"type":"string"},"isCustomApi":{"type":"boolean"},"description":{"type":"string"},"createdTime":{"type":"string"},"changedTime":{"type":"string"}}}}}},"required":["id"]}}}},"Apply_to_each_Flow_Connection_Reference":{"foreach":"@body('Filter_non_custom')","actions":{"ConnectorID":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Flow_Connection_Reference')?['id']"},"split_on_slash":{"runAfter":{"ConnectorID":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID'), '/')"},"Connecor_Name":{"runAfter":{"split_on_slash":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash'))"},"Filter_current_flow_Connector":{"runAfter":{"Connecor_Name":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name'))"}},"mark_broken_connector_or_insert_connection_reference":{"actions":{"Create_a_new_Flow_Connection_Reference":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@coalesce(items('Apply_to_each_Flow_Connection_Reference')?['displayName'], 'No Display Name For Connector')","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_flow_Connector'))?['admin_connectorid']})","item/admin_Flow@odata.bind":"admin_flows(@{items('Apply_to_each_Flow')?['name']})"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_current_flow_Connector":["Succeeded"]},"else":{"actions":{"Set_hasBadConnections_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}}},"expression":{"greater":["@length(body('Filter_current_flow_Connector'))",0]},"type":"If"}},"runAfter":{"Filter_non_custom":["Succeeded"]},"type":"Foreach"},"Filter_non_custom":{"runAfter":{"Parse_Connection_Ref_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON')","where":"@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], false)"}},"Filter_custom":{"runAfter":{"Apply_to_each_Flow_Connection_Reference":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON')","where":"@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], true)"}},"Apply_to_each_Flow_Custom_Connection_Reference":{"foreach":"@body('Filter_custom')","actions":{"ConnectorID_custom":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Flow_Custom_Connection_Reference')?['id']"},"split_on_slash_custom":{"runAfter":{"ConnectorID_custom":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_custom'), '/')"},"Connecor_Name_custom":{"runAfter":{"split_on_slash_custom":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_custom'))"},"Filter_current_flow_Connector_custom":{"runAfter":{"Connecor_Name_custom":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_custom'))"}},"mark_broken_connector_or_insert_connection_reference_for_custom":{"actions":{"Create_a_new_Flow_Connection_Reference_for_Custom":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@coalesce(items('Apply_to_each_Flow_Custom_Connection_Reference')?['displayName'], 'No Display Name For Connector')","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_flow_Connector_custom'))?['admin_connectorid']})","item/admin_Flow@odata.bind":"admin_flows(@{items('Apply_to_each_Flow')?['name']})"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_current_flow_Connector_custom":["Succeeded"]},"else":{"actions":{"Set_hasBadConnections_true_custom":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}}},"expression":{"greater":["@length(body('Filter_current_flow_Connector_custom'))",0]},"type":"If"}},"runAfter":{"Filter_custom":["Succeeded"]},"type":"Foreach"},"if_found_bad_connection,_mark_in_flow_record":{"actions":{"Mark_flow_as_having_broken_connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","item/admin_flowcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_Flow_Custom_Connection_Reference":["Succeeded"]},"expression":{"equals":["@variables('hasBadConnections')","@true"]},"type":"If"}},"runAfter":{"Delete_this_flows_existing_connection_references":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_Flow_as_Admin')?['body/properties/connectionReferences']","@null"]}},"type":"If"}},"runAfter":{"Upsert_Flow_Details":["Succeeded"]},"type":"Scope"},"Get_Updated_Flow_Owner":{"actions":{"If_DerivedOwner_is_null,_set_to_Creator":{"actions":{"Update_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@outputs('Get_Flow_from_CoE')?['body/admin_flowid']","item/admin_DerivedOwner@odata.bind":"admin_makers(@{outputs('Get_Flow_as_Admin')?['body/properties/creator/objectId']})"},"authentication":"@parameters('$authentication')"}},"Set_FlowOwnerID_to_Creator":{"runAfter":{"Update_a_row":["Succeeded"]},"type":"SetVariable","inputs":{"name":"FlowOwnerID","value":"@{outputs('Get_Flow_as_Admin')?['body/properties/creator/objectId']}"}}},"runAfter":{"Set_FlowOwnerID_to_Derived_Owner":["Succeeded"]},"expression":{"equals":["@outputs('Get_Flow_from_CoE')?['body/_admin_derivedowner_value']","@null"]},"type":"If"},"Set_FlowOwnerID_to_Derived_Owner":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FlowOwnerID","value":"@{outputs('Get_Flow_from_CoE')?['body/_admin_derivedowner_value']}"}}},"runAfter":{"Parse_JSON_2":["Succeeded"]},"type":"Scope","description":"We augment the products concept of owner for flow in order to re-assign owners. So this scope is needed to get the identity we will use"}},"runAfter":{"Catch_case_where_coe_last_modified_date_is_null_":["Succeeded","Skipped"]},"expression":{"or":[{"equals":["@variables('fullInventory')","yes"]},{"equals":["@variables('updateInCoe')","@true"]},{"less":["@outputs('LastDateModfiedCoE')","@outputs('LastDateModifiedProduct')"]}]},"type":"If"},"Catch_case_where_product_last_modified_date_is_null":{"runAfter":{"LastDateModifiedProduct":["Failed"]},"type":"SetVariable","inputs":{"name":"updateInCoe","value":"@true"}},"Catch_case_where_coe_last_modified_date_is_null_":{"runAfter":{"LastDateModfiedCoE":["Failed"]},"type":"SetVariable","inputs":{"name":"updateInCoe","value":"@true"}}},"runAfter":{"Set_isNewToCoE_to_true":["Succeeded","Skipped"]},"else":{"actions":{"Get_New_Flow_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement","operationId":"AdminGetFlow","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@triggerBody()?['admin_environmentname']","flowName":"@items('Apply_to_each_Flow')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Parse_New_Flow_JSON":{"runAfter":{"Get_New_Flow_as_Admin":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_New_Flow_as_Admin')","schema":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"properties":{"type":"object","properties":{"apiId":{"type":"string"},"displayName":{"type":"string"},"userType":{"type":"string"},"triggerSchema":{"type":"object","properties":{"type":{"type":"string"},"properties":{"type":"object"}}},"state":{"type":"string"},"sharingType":{"type":"string"},"connectionReferences":{"type":"array"},"createdTime":{"type":"string"},"lastModifiedTime":{"type":"string"},"flowSuspensionReason":{"type":"string"},"environment":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"id":{"type":"string"}}},"definitionSummary":{"type":"object","properties":{"triggers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"kind":{"type":"string"}}}},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"kind":{"type":"string"}}}},"description":{"type":"string"}}},"creator":{"type":"object","properties":{"tenantId":{"type":"string"},"objectId":{"type":"string"},"userId":{"type":"string"},"userType":{"type":"string"}}},"provisioningMethod":{"type":"string"},"flowFailureAlertSubscribed":{"type":"boolean"},"workflowEntityId":{"type":"string"},"referencedResources":{"type":"array"}}}}}}},"Insert_New_Flow_Details":{"actions":{"Get_New_Flow_Creator_profile":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch_2":{"runAfter":{"Get_New_Flow_Creator_profile":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Insert_Flow_record":{"runAfter":{"Update_or_Insert_New_Flow_Maker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","item/admin_displayname":"@outputs('Get_New_Flow_as_Admin')?['body/properties/displayName']","item/admin_FlowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_city":"@outputs('Get_New_Flow_Creator_profile')?['body/city']","item/admin_country":"@outputs('Get_New_Flow_Creator_profile')?['body/country']","item/admin_department":"@outputs('Get_New_Flow_Creator_profile')?['body/department']","item/admin_DerivedOwner@odata.bind":"admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})","item/admin_flowid":"@outputs('Get_New_Flow_as_Admin')?['body/name']","item/admin_flowcontainsbrokenconnections":false,"item/admin_flowcreatedon":"@outputs('Get_New_Flow_as_Admin')?['body/properties/createdTime']","item/admin_flowcreatorupn":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/userId']","item/admin_flowdeleted":false,"item/admin_flowdescription":"@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['description']","item/admin_flowenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_flowexcusedfromarchival":false,"item/cr5d5_flowisorphaned":"no","item/admin_flowmakerdisplayname":"@outputs('Get_New_Flow_Creator_profile')?['body/displayName']","item/admin_flowmodifiedon":"@outputs('Get_New_Flow_as_Admin')?['body/properties/lastModifiedTime']","item/admin_flowstate":"@outputs('Get_New_Flow_as_Admin')?['body/properties/state']","item/admin_FlowCreator@odata.bind":"admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})","item/admin_workflowentityid":"@body('Parse_New_Flow_JSON')?['properties']?['workflowEntityId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Find_New_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Update_or_Insert_New_Flow_Maker":{"actions":{"Update_New_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']","item/admin_displayname":"@outputs('Get_New_Flow_Creator_profile')?['body/displayName']","item/admin_city":"@outputs('Get_New_Flow_Creator_profile')?['body/city']","item/admin_country":"@outputs('Get_New_Flow_Creator_profile')?['body/country']","item/admin_department":"@outputs('Get_New_Flow_Creator_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_New_Flow_Creator_profile')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_New_Flow_Creator_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_New_Flow_Creator_profile')?['body/userPrincipalName']","item/admin_userisserviceprinciple":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_New_Flow_Maker":["Succeeded"]},"else":{"actions":{"Create_New_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_New_Flow_Creator_profile')?['body/displayName']","item/admin_city":"@outputs('Get_New_Flow_Creator_profile')?['body/city']","item/admin_country":"@outputs('Get_New_Flow_Creator_profile')?['body/country']","item/admin_department":"@outputs('Get_New_Flow_Creator_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_New_Flow_Creator_profile')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_New_Flow_Creator_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_New_Flow_Creator_profile')?['body/userPrincipalName']","item/admin_userisserviceprinciple":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_New_Flow_Maker')?['body/value'])",0]},"type":"If"}}},"404_File_Not_Found":{"case":404,"actions":{"Look_up_in_AD_for_Service_Principles_New_Flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents_1","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"GET","request/url":"https://graph.microsoft.com/v1.0/servicePrincipals/@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']}"},"authentication":"@parameters('$authentication')"}},"Switch_New_Service_Principle_Check":{"runAfter":{"Look_up_in_AD_for_Service_Principles_New_Flow":["Succeeded","Failed"]},"cases":{"Case_200:_Service_Principle_Owner":{"case":200,"actions":{"Find_New_Flow_Maker_Service_Principle":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']}"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_New_Flow_Maker_Service_Principle":{"actions":{"Update_New_Flow_Service_Principle_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']","item/admin_displayname":"@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_New_Flow_Maker_Service_Principle":["Succeeded"]},"else":{"actions":{"Create_New_Flow_Service_Principle_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']","item/admin_makerid":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Find_New_Flow_Maker_Service_Principle')?['body/value'])",0]},"type":"If"},"Insert_New_Flow_record_(service_principle_creator)":{"runAfter":{"Update_or_Insert_New_Flow_Maker_Service_Principle":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","item/admin_displayname":"@outputs('Get_New_Flow_as_Admin')?['body/properties/displayName']","item/admin_FlowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_DerivedOwner@odata.bind":"admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})","item/admin_flowid":"@outputs('Get_New_Flow_as_Admin')?['body/name']","item/admin_flowcontainsbrokenconnections":false,"item/admin_flowcreatedon":"@outputs('Get_New_Flow_as_Admin')?['body/properties/createdTime']","item/admin_flowcreatorupn":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/userId']","item/admin_flowdeleted":false,"item/admin_flowdescription":"@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['description']","item/admin_flowenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_flowexcusedfromarchival":false,"item/cr5d5_flowisorphaned":"no","item/admin_flowmakerdisplayname":"@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')?['body']?['appDisplayName']","item/admin_flowmodifiedon":"@outputs('Get_New_Flow_as_Admin')?['body/properties/lastModifiedTime']","item/admin_flowstate":"@outputs('Get_New_Flow_as_Admin')?['body/properties/state']","item/admin_FlowCreator@odata.bind":"admin_makers(@{outputs('Get_New_Flow_as_Admin')?['body/properties/creator/objectId']})","item/admin_workflowentityid":"@body('Parse_New_Flow_JSON')?['properties']?['workflowEntityId']"},"authentication":"@parameters('$authentication')"}}}},"Case_404:_Orphan_Found":{"case":404,"actions":{"Insert_New_Flow_record_(creator_not_found)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","item/admin_displayname":"@outputs('Get_New_Flow_as_Admin')?['body/properties/displayName']","item/admin_FlowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_flowid":"@outputs('Get_New_Flow_as_Admin')?['body/name']","item/admin_flowcontainsbrokenconnections":false,"item/admin_flowcreatedon":"@outputs('Get_New_Flow_as_Admin')?['body/properties/createdTime']","item/admin_flowcreatorupn":"@outputs('Get_New_Flow_as_Admin')?['body/properties/creator/userId']","item/admin_flowdeleted":false,"item/admin_flowdescription":"@body('Parse_New_Flow_JSON')?['properties']?['definitionSummary']?['description']","item/admin_flowenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_flowexcusedfromarchival":false,"item/cr5d5_flowisorphaned":"yes","item/admin_flowmodifiedon":"@outputs('Get_New_Flow_as_Admin')?['body/properties/lastModifiedTime']","item/admin_flowstate":"@outputs('Get_New_Flow_as_Admin')?['body/properties/state']","item/admin_workflowentityid":"@body('Parse_New_Flow_JSON')?['properties']?['workflowEntityId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Look_up_in_AD_for_Service_Principles_New_Flow')['statusCode']","type":"Switch"}}}},"default":{"actions":{}},"expression":"@outputs('Get_New_Flow_Creator_profile')['statusCode']","type":"Switch"}},"runAfter":{"Parse_New_Flow_JSON":["Succeeded"]},"type":"Scope"},"Store_Flow_Connection_References_2":{"actions":{"List_This_Flow_Existing_Connection_References_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid","$filter":"_admin_flow_value eq '@{items('Apply_to_each_Flow')?['name']}'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_this_flows_existing_connection_references_2":{"foreach":"@outputs('List_This_Flow_Existing_Connection_References_2')?['body/value']","actions":{"Delete_this_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","recordId":"@items('Delete_this_flows_existing_connection_references_2')?['admin_connectionreferenceid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_This_Flow_Existing_Connection_References_2":["Succeeded"]},"type":"Foreach"},"Check_if_Flow_Connection_References_are_not_null_2":{"actions":{"Parse_Connection_Ref_JSON_2":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@outputs('Get_New_Flow_as_Admin')?['body/properties/connectionReferences']","schema":{"type":"array","items":{"type":"object","properties":{"displayName":{"type":"string"},"id":{"type":"string"},"connectionName":{"type":"string"},"apiDefinition":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"properties":{"type":"object","properties":{"displayName":{"type":"string"},"iconUri":{"type":"string"},"purpose":{"type":"string"},"connectionParameters":{"type":"object","properties":{"token":{"type":"object","properties":{"type":{"type":"string"},"oAuthSettings":{"type":"object","properties":{"identityProvider":{"type":"string"},"clientId":{"type":"string"},"scopes":{"type":"array"},"redirectMode":{"type":"string"},"redirectUrl":{"type":"string"},"properties":{"type":"object","properties":{"IsFirstParty":{"type":"string"},"AzureActiveDirectoryResourceId":{"type":"string"}}},"customParameters":{"type":"object","properties":{"resourceUri":{"type":"object","properties":{"value":{"type":"string"}}},"loginUri":{"type":"object","properties":{"value":{"type":"string"}}},"loginUriAAD":{"type":"object","properties":{"value":{"type":"string"}}}}}}}}}}},"scopes":{"type":"object","properties":{"will":{"type":"array"},"wont":{"type":"array"}}},"runtimeUrls":{"type":"array","items":{"type":"string"}},"primaryRuntimeUrl":{"type":"string"},"metadata":{"type":"object","properties":{"source":{"type":"string"},"brandColor":{"type":"string"},"version":{"type":"object","properties":{"previous":{"type":"string"},"current":{"type":"string"}}}}},"capabilities":{"type":"array","items":{"type":"string"}},"tier":{"type":"string"},"isCustomApi":{"type":"boolean"},"description":{"type":"string"},"createdTime":{"type":"string"},"changedTime":{"type":"string"}}}}}},"required":["id"]}}}},"Apply_to_each_Flow_Connection_Reference_2":{"foreach":"@body('Filter_non_custom_2')","actions":{"ConnectorID_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Flow_Connection_Reference_2')?['id']"},"split_on_slash_2":{"runAfter":{"ConnectorID_2":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_2'), '/')"},"Connecor_Name_2":{"runAfter":{"split_on_slash_2":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_2'))"},"Filter_current_flow_Connector_2":{"runAfter":{"Connecor_Name_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_2'))"}},"mark_broken_connector_or_insert_connection_reference_2":{"actions":{"Create_a_new_Flow_Connection_Reference_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@coalesce(items('Apply_to_each_Flow_Connection_Reference_2')?['displayName'], 'No Display Name For Connector')","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_flow_Connector_2'))?['admin_connectorid']})","item/admin_Flow@odata.bind":"admin_flows(@{items('Apply_to_each_Flow')?['name']})"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_current_flow_Connector_2":["Succeeded"]},"else":{"actions":{"Set_hasBadConnections_true_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}}},"expression":{"greater":["@length(body('Filter_current_flow_Connector_2'))",0]},"type":"If"}},"runAfter":{"Filter_non_custom_2":["Succeeded"]},"type":"Foreach"},"Filter_non_custom_2":{"runAfter":{"Parse_Connection_Ref_JSON_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_2')","where":"@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], false)"}},"Filter_custom_2":{"runAfter":{"Apply_to_each_Flow_Connection_Reference_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_2')","where":"@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], true)"}},"Apply_to_each_Flow_Custom_Connection_Reference_2":{"foreach":"@body('Filter_custom_2')","actions":{"ConnectorID_custom_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Flow_Custom_Connection_Reference_2')?['id']"},"split_on_slash_custom_2":{"runAfter":{"ConnectorID_custom_2":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_custom_2'), '/')"},"Connecor_Name_custom_2":{"runAfter":{"split_on_slash_custom_2":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_custom_2'))"},"Filter_current_flow_Connector_custom_2":{"runAfter":{"Connecor_Name_custom_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_custom_2'))"}},"mark_broken_connector_or_insert_connection_reference_for_custom_2":{"actions":{"Create_a_new_Flow_Connection_Reference_for_Custom_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@coalesce(items('Apply_to_each_Flow_Custom_Connection_Reference_2')?['displayName'], 'No Display Name For Connector')","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_flow_Connector_custom_2'))?['admin_connectorid']})","item/admin_Flow@odata.bind":"admin_flows(@{items('Apply_to_each_Flow')?['name']})"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_current_flow_Connector_custom_2":["Succeeded"]},"else":{"actions":{"Set_hasBadConnections_true_custom_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}}},"expression":{"greater":["@length(body('Filter_current_flow_Connector_custom_2'))",0]},"type":"If"}},"runAfter":{"Filter_custom_2":["Succeeded"]},"type":"Foreach"},"if_found_bad_connection,_mark_in_flow_record_2":{"actions":{"Mark_flow_as_having_broken_connections_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","item/admin_flowcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_Flow_Custom_Connection_Reference_2":["Succeeded"]},"expression":{"equals":["@variables('hasBadConnections')","@true"]},"type":"If"}},"runAfter":{"Delete_this_flows_existing_connection_references_2":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_New_Flow_as_Admin')?['body/properties/connectionReferences']","@null"]}},"type":"If"}},"runAfter":{"Insert_New_Flow_Details":["Succeeded"]},"type":"Scope"}}},"expression":{"equals":["@variables('isNewToCoE')","@false"]},"type":"If"},"Reset_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"Get_Flow_from_CoE":{"runAfter":{"Reset_hasBadConnections":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow')?['name']","$select":"admin_flowid,admin_flowmodifiedon, _admin_derivedowner_value"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_isNewToCoE_to_true":{"runAfter":{"Get_Flow_from_CoE":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"Reset_hasBadConnections":{"runAfter":{"Reset_updateInCoe":["Succeeded"]},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@false"}},"Reset_updateInCoe":{"runAfter":{"Reset_isNewToCoE":["Succeeded"]},"type":"SetVariable","inputs":{"name":"updateInCoe","value":"@false"}}},"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_fullInventory":["Succeeded"]},"type":"Scope"},"Get_Flow_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_5","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Flows)","item/admin_environmentname":"@triggerBody()?['admin_displayname']","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Flows Failed"}}}},"runAfter":{"Get_Flows_and_store_them_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Initialize_variable_fullInventory":{"runAfter":{"Initialize_variable_EmptyArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fullInventory","type":"string","value":"@{parameters('FullInventory')}"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_isNewToCoE":{"runAfter":{"Check_if_Environment_Deleted,_terminate_if_true":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":false}]}},"Initialize_hasBadConnections":{"runAfter":{"Initialize_variable_FlowOwnerID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"hasBadConnections","type":"boolean","value":"@false"}]}},"Initialize_variable_FlowOwnerID":{"runAfter":{"Initialize_updateInCoe":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FlowOwnerID","type":"string"}]}},"Initialize_updateInCoe":{"runAfter":{"Initialize_variable_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"updateInCoe","type":"boolean","value":"@false"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}