CoEStarterKit/CenterofExcellenceCoreComponents_2_1_6_managed/Workflows/CLEANUP-AdminSyncTemplatev3ConnectionStatus-D753F10F-F03E-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse2"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsforAdmins"},"api":{"name":"shared_powerappsforadmins"}},"shared_flowmanagement_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAutomateManagement"},"api":{"name":"shared_flowmanagement"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"https://us.flow.microsoft.com/manage/environments/","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate - for example https://us.flow.microsoft.com/manage/environments/ for US environments"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1},"type":"Recurrence"}},"actions":{"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_FlowFailed":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Clean_App_Connection_Status":{"actions":{"List_Apps_with_Unresolved_Connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, _admin_appenvironment_value","$filter":"admin_appcontainsbrokenconnections ne false and admin_powerappstype ne 597910001 and admin_appdeleted eq false"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each":{"foreach":"@outputs('List_Apps_with_Unresolved_Connections')?['body/value']","actions":{"Get_App_as_Admin":{"runAfter":{"Get_app_environment_for_name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApp","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@outputs('Get_app_environment_for_name')?['body/admin_environmentname']","app":"@items('Apply_to_each')?['admin_appid']","api-version":"2016-11-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"ReSet_hasBadConnections":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@false"}},"Get_app_environment_for_name":{"runAfter":{"ReSet_hasBadConnections":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('Apply_to_each')?['_admin_appenvironment_value']","$select":"admin_environmentname"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"GetConnectionReferences":{"runAfter":{"Get_App_as_Admin":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_App_as_Admin')?['body/properties/connectionReferences']","description":"Because some data sources like CDS are not in the connection refs list for apps, there will be apps that do not have any value for this object. Need to be able to catch that case.  "},"See_if_any_connection_references_exist_":{"actions":{"Parse_Connection_Ref_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@outputs('Get_App_as_Admin')?['body/properties/connectionReferences']","schema":{"type":"array","items":{"type":"object","properties":{"iconUri":{"type":"string"},"displayName":{"type":"string"},"apiTier":{"type":"string"},"isOnPremiseConnection":{"type":"boolean"},"isCustomApiConnection":{"type":"boolean"},"bypassConsent":{"type":"boolean"},"id":{"type":"string"}},"required":["isCustomApiConnection","id"]}}}},"Filter_non_custom":{"runAfter":{"Parse_Connection_Ref_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON')","where":"@equals(item()['isCustomApiConnection'], false)"}},"Apply_to_each_Connection_Reference":{"foreach":"@body('Filter_non_custom')","actions":{"ConnectorID":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Connection_Reference')['id']"},"Filter_current_app_Connector":{"runAfter":{"Connecor_Name":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name'))"}},"split_on_slash":{"runAfter":{"ConnectorID":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID'), '/')"},"Connecor_Name":{"runAfter":{"split_on_slash":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash'))"},"mark_hasBadConnections_to_true_if_not_found":{"actions":{"Set_variable_hasBadConnections_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}},"runAfter":{"Filter_current_app_Connector":["Succeeded"]},"expression":{"less":["@length(body('Filter_current_app_Connector'))",1]},"type":"If"}},"runAfter":{"Filter_non_custom":["Succeeded"]},"type":"Foreach"},"Filter_custom":{"runAfter":{"Apply_to_each_Connection_Reference":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON')","where":"@equals(item()['isCustomApiConnection'], true)"}},"Apply_to_each_Custom_Connection_Reference":{"foreach":"@body('Filter_custom')","actions":{"ConnectorID_custom":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Custom_Connection_Reference')['id']"},"Filter_current_app_Connector_custom":{"runAfter":{"Connecor_Name_custom":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_custom'))"}},"split_on_slash_custom":{"runAfter":{"ConnectorID_custom":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_custom'), '/')"},"Connecor_Name_custom":{"runAfter":{"split_on_slash_custom":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_custom'))"},"mark_hasBadConnections_to_true_if_not_found_for_Custom":{"actions":{"Set_variable_hasBadConnections_to_true_for_Custom":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}},"runAfter":{"Filter_current_app_Connector_custom":["Succeeded"]},"expression":{"less":["@length(body('Filter_current_app_Connector_custom'))",1]},"type":"If"}},"runAfter":{"Filter_custom":["Succeeded"]},"type":"Foreach"},"if_any_connectors_did_not_resolve,_mark_this_app_as_having_broken_connections":{"actions":{"Mark_app_as_having_broken_connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@outputs('Get_App_as_Admin')?['body/name']","item/admin_appcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Apply_to_each_Custom_Connection_Reference":["Succeeded"]},"else":{"actions":{"Mark_app_as_NOT_having_broken_connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@outputs('Get_App_as_Admin')?['body/name']","item/admin_appcontainsbrokenconnections":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"equals":["@variables('hasBadConnections')","@true"]},"type":"If"}},"runAfter":{"GetConnectionReferences":["Succeeded"]},"else":{"actions":{"Note:_need_to_add_search_for_data_sources_like_CDS_":{"runAfter":{},"type":"Compose","inputs":"for now we assume connections stored elsewhere are fine. This needs redone later."},"Mark_app_as_NOT_having_broken_connections_-_no_connections_case":{"runAfter":{"Note:_need_to_add_search_for_data_sources_like_CDS_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@outputs('Get_App_as_Admin')?['body/name']","item/admin_appcontainsbrokenconnections":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"not":{"equals":["@outputs('GetConnectionReferences')","@null"]}},"type":"If"}},"runAfter":{"List_Apps_with_Unresolved_Connections":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Failure_Status_Flows":["Succeeded","Skipped"]},"type":"Scope"},"List_Connectors":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_name"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Connection_Status_-_Error_Handling":{"actions":{"if_either_failed_above,_fail":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Connection Status)","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Connection Status failed"}}}},"runAfter":{},"expression":{"equals":["@variables('FlowFailed')","@true"]},"type":"If"}},"runAfter":{"Get_Failure_Status_Apps":["Succeeded","Skipped"]},"type":"Scope"},"Initialize_hasBadConnections":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"hasBadConnections","type":"boolean","value":"@false"}]}},"Initialize_FlowFailed":{"runAfter":{"Initialize_hasBadConnections":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FlowFailed","type":"boolean","value":"@false"}]}},"Get_Failure_Status_Apps":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FlowFailed","value":"@true"}}},"runAfter":{"Clean_App_Connection_Status":["Failed"]},"type":"Scope"},"Clean_Flow_Connection_Status":{"actions":{"List_Flows_with_Unresolved_Connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid, _admin_flowenvironment_value","$filter":"admin_flowcontainsbrokenconnections ne false and admin_flowdeleted eq false"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_2":{"foreach":"@outputs('List_Flows_with_Unresolved_Connections')?['body/value']","actions":{"Parse_Connection_Ref_JSON_2":{"runAfter":{"Get_Flow_as_Admin":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Flow_as_Admin')?['body/properties/connectionReferences']","schema":{"type":"array","items":{"type":"object","properties":{"displayName":{"type":"string"},"id":{"type":"string"},"connectionName":{"type":"string"},"apiDefinition":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"properties":{"type":"object","properties":{"displayName":{"type":"string"},"iconUri":{"type":"string"},"purpose":{"type":"string"},"connectionParameters":{"type":"object","properties":{"token":{"type":"object","properties":{"type":{"type":"string"},"oAuthSettings":{"type":"object","properties":{"identityProvider":{"type":"string"},"clientId":{"type":"string"},"scopes":{"type":"array"},"redirectMode":{"type":"string"},"redirectUrl":{"type":"string"},"properties":{"type":"object","properties":{"IsFirstParty":{"type":"string"},"AzureActiveDirectoryResourceId":{"type":"string"}}},"customParameters":{"type":"object","properties":{"resourceUri":{"type":"object","properties":{"value":{"type":"string"}}},"loginUri":{"type":"object","properties":{"value":{"type":"string"}}},"loginUriAAD":{"type":"object","properties":{"value":{"type":"string"}}}}}}}}}}},"scopes":{"type":"object","properties":{"will":{"type":"array"},"wont":{"type":"array"}}},"runtimeUrls":{"type":"array","items":{"type":"string"}},"primaryRuntimeUrl":{"type":"string"},"metadata":{"type":"object","properties":{"source":{"type":"string"},"brandColor":{"type":"string"},"version":{"type":"object","properties":{"previous":{"type":"string"},"current":{"type":"string"}}}}},"capabilities":{"type":"array","items":{"type":"string"}},"tier":{"type":"string"},"isCustomApi":{"type":"boolean"},"description":{"type":"string"},"createdTime":{"type":"string"},"changedTime":{"type":"string"}}}}}},"required":["id"]}}}},"Filter_non_custom_2":{"runAfter":{"Parse_Connection_Ref_JSON_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_2')","where":"@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], false)"}},"Apply_to_each_Connection_Reference_2":{"foreach":"@body('Filter_non_custom_2')","actions":{"ConnectorID_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Connection_Reference_2')['id']"},"Filter_current_app_Connector_2":{"runAfter":{"Connecor_Name_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_2'))"}},"split_on_slash_2":{"runAfter":{"ConnectorID_2":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_2'), '/')"},"Connecor_Name_2":{"runAfter":{"split_on_slash_2":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_2'))"},"mark_hasBadConnections_to_true_if_not_found_2":{"actions":{"Set_variable_hasBadConnections_to_true_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}},"runAfter":{"Filter_current_app_Connector_2":["Succeeded"]},"expression":{"less":["@length(body('Filter_current_app_Connector_2'))",1]},"type":"If"}},"runAfter":{"Filter_non_custom_2":["Succeeded"]},"type":"Foreach"},"Filter_custom_2":{"runAfter":{"Apply_to_each_Connection_Reference_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_2')","where":"@equals(item()?['apiDefinition']?['properties']?['isCustomApi'], true)"}},"Apply_to_each_Custom_Connection_Reference_2":{"foreach":"@body('Filter_custom_2')","actions":{"ConnectorID_custom_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Custom_Connection_Reference_2')['id']"},"Filter_current_app_Connector_custom_2":{"runAfter":{"Connecor_Name_custom_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_custom_2'))"}},"split_on_slash_custom_2":{"runAfter":{"ConnectorID_custom_2":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_custom_2'), '/')"},"Connecor_Name_custom_2":{"runAfter":{"split_on_slash_custom_2":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_custom_2'))"},"mark_hasBadConnections_to_true_if_not_found_for_Custom_2":{"actions":{"Set_variable_hasBadConnections_to_true_for_Custom_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@true"}}},"runAfter":{"Filter_current_app_Connector_custom_2":["Succeeded"]},"expression":{"less":["@length(body('Filter_current_app_Connector_custom_2'))",1]},"type":"If"}},"runAfter":{"Filter_custom_2":["Succeeded"]},"type":"Foreach"},"ReSet_hasBadConnections_flows":{"runAfter":{},"type":"SetVariable","inputs":{"name":"hasBadConnections","value":"@false"}},"if_any_connectors_did_not_resolve,_mark_this_flow_as_having_broken_connections":{"actions":{"Mark_flow_as_having_broken_connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@outputs('Get_Flow_as_Admin')?['body/name']","item/admin_flowcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Apply_to_each_Custom_Connection_Reference_2":["Succeeded"]},"else":{"actions":{"Mark_flow_as_NOT_having_broken_connections":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@outputs('Get_Flow_as_Admin')?['body/name']","item/admin_flowcontainsbrokenconnections":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"equals":["@variables('hasBadConnections')","@true"]},"type":"If"},"Get_Flow_as_Admin":{"runAfter":{"Get_flow_environment_for_name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"AdminGetFlow","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@outputs('Get_flow_environment_for_name')?['body/admin_environmentname']","flowName":"@items('Apply_to_each_2')?['admin_flowid']"},"authentication":"@parameters('$authentication')"}},"Get_flow_environment_for_name":{"runAfter":{"ReSet_hasBadConnections_flows":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('Apply_to_each_2')?['_admin_flowenvironment_value']","$select":"admin_environmentname"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flows_with_Unresolved_Connections":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Connectors":["Succeeded"]},"type":"Scope"},"Get_Failure_Status_Flows":{"actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FlowFailed","value":"@true"}}},"runAfter":{"Clean_Flow_Connection_Status":["Failed"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}