CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3Apps-2617D7A7-2C3B-EB11-A813-000D3A1BB495.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerappsforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsforAdmins"},"api":{"name":"shared_powerappsforadmins"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}},"shared_webcontents":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreHTTPAZUREAD"},"api":{"name":"shared_webcontents"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FullInventory":{"defaultValue":false,"type":"Bool","metadata":{"schemaName":"admin_FullInventory","description":"Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "}},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"When_a_record_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Environment_Deleted,_terminate_if_true":{"actions":{"Terminate_for_environments_marked_deleted":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentdeleted']","@true"]},"type":"If"},"Initialize_variable_today":{"runAfter":{"Initialize_variable_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_sharedWith":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_shared_with_everyone":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sharedWithEveryone","type":"Boolean","value":"@false"}]}},"Initialize_variable_sharedWith":{"runAfter":{"Initialize_shared_with_everyone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sharedWith","type":"Array"}]}},"Get_Apps_fails_-_Error_Handling":{"actions":{"if_any_failures_above":{"actions":{"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Apps Failed"}}},"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Apps)","item/admin_environmentname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"expression":{"equals":["@variables('hadFailure')","@true"]},"type":"If"}},"runAfter":{"Set_hadFailure_true_-_editted_apps":["Succeeded","Skipped","Failed"]},"type":"Scope"},"Initialize_variable_fullInventory":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fullInventory","type":"string","value":"@{parameters('FullInventory')}"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_isNewToCoE":{"runAfter":{"Initialize_updateInCoe":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":false}]}},"Initialize_updateInCoe":{"runAfter":{"Initialize_DataverseConnectorGUID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"updateInCoe","type":"boolean","value":"@false"}]}},"Initialize_variable_Apps_Editted":{"runAfter":{"Initialize_variable_fullInventory":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Apps_Editted","type":"array"}]}},"Initialize_variable_Apps_New":{"runAfter":{"Initialize_variable_Apps_Editted":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Apps_New","type":"array"}]}},"Initialize_variable_hadFailure":{"runAfter":{"Initialize_variable_Apps_New":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"hadFailure","type":"boolean","value":"@false"}]}},"Load_Arrays":{"actions":{"List_Connectors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_displayname, admin_id, admin_name"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Get_Apps_as_Admin":{"runAfter":{"List_Connectors":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins_1","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@triggerOutputs()?['body/admin_environmentname']","api-version":"2020-07-01","$top":250},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_App":{"foreach":"@outputs('Get_Apps_as_Admin')?['body/value']","actions":{"Reset_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"Reset_updateInCoe":{"runAfter":{"Reset_isNewToCoE":["Succeeded"]},"type":"SetVariable","inputs":{"name":"updateInCoe","value":"@false"}},"Get_the_App":{"runAfter":{"Reset_updateInCoe":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_App')?['name']","$select":"admin_appid,admin_appmodifiedon,admin_appsharedgroups,admin_appsharedusers, _admin_appowner_value"},"authentication":"@parameters('$authentication')"}},"Set_variable_isNewToCoE_to_true":{"runAfter":{"Get_the_App":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"See_if_new_to_CoE":{"actions":{"Append_to_new_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Apps_New","value":"@items('Apply_to_each_App')"}}},"runAfter":{"Set_variable_isNewToCoE_to_true":["Succeeded","Skipped"]},"else":{"actions":{"See_if_needs_updated_in_CoE":{"actions":{"Append_to_edit_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"Apps_Editted","value":"@items('Apply_to_each_App')"}}},"runAfter":{"Catch_case_where_coe_last_modified_date_is_null_":["Succeeded","Skipped"]},"expression":{"or":[{"equals":["@variables('fullInventory')","yes"]},{"not":{"equals":["@items('Apply_to_each_App')?['properties/sharedGroupsCount']","@outputs('Get_the_App')?['body/admin_appsharedgroups']"]}},{"not":{"equals":["@items('Apply_to_each_App')?['properties/sharedUsersCount']","@outputs('Get_the_App')?['body/admin_appsharedusers']"]}},{"equals":["@variables('updateInCoe')","@true"]},{"less":["@outputs('LastDateModfiedCoE')","@outputs('LastDateModifiedProduct')"]}]},"type":"If"},"LastDateModifiedProduct":{"runAfter":{},"type":"Compose","inputs":"@formatDateTime(items('Apply_to_each_App')?['properties/lastModifiedTime'], 'yyyy-MM-dd HH:mm:ss')"},"Catch_case_where_product_last_modified_date_is_null":{"runAfter":{"LastDateModifiedProduct":["Failed"]},"type":"SetVariable","inputs":{"name":"updateInCoe","value":"@true"}},"Catch_case_where_coe_last_modified_date_is_null_":{"runAfter":{"LastDateModfiedCoE":["Failed"]},"type":"SetVariable","inputs":{"name":"updateInCoe","value":"@true"}},"LastDateModfiedCoE":{"runAfter":{"Catch_case_where_product_last_modified_date_is_null":["Succeeded","Skipped"]},"type":"Compose","inputs":"@coalesce(formatDateTime(outputs('Get_the_App')?['body/admin_appmodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')"}}},"expression":{"equals":["@variables('isNewToCoE')","@true"]},"type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Set_DataverseConnectorGUID":["Succeeded"]},"type":"Scope"},"Insert_New_Apps":{"actions":{"Apply_to_each_new":{"foreach":"@variables('Apps_New')","actions":{"Check_if_App_Shared_with_Tenant_New":{"actions":{"only_if_not_SP_App_New":{"actions":{"Filter_array_New":{"runAfter":{"Get_App_Role_Assignments_as_Admin_New":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_App_Role_Assignments_as_Admin_New')?['body/value']","where":"@equals(item()?['properties/principal/type'], 'Tenant')"}},"Get_App_Role_Assignments_as_Admin_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins_1","operationId":"Get-AdminAppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@triggerOutputs()?['body/admin_environmentname']","app":"@items('Apply_to_each_new')?['name']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{},"expression":{"not":{"equals":["@items('Apply_to_each_new')?['properties']?['embeddedApp']?['type']","SharepointFormApp"]}},"type":"If"}},"runAfter":{},"type":"Scope"},"Insert_New_App_Details":{"actions":{"Get_PowerApp_Owner_profile_for_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_new')?['properties/owner/id']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')"}},"Switch_New":{"runAfter":{"Get_PowerApp_Owner_profile_for_New":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_App_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{items('Apply_to_each_new')?['properties/owner/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_App_Maker_New":{"actions":{"Update_App_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_new')?['properties/owner/id']","item/admin_displayname":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/userPrincipalName']","item/admin_userisserviceprinciple":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_App_Maker_New":["Succeeded"]},"else":{"actions":{"Create_App_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/jobTitle']","item/admin_makerid":"@items('Apply_to_each_new')?['properties/owner/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/userPrincipalName']","item/admin_userisserviceprinciple":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_App_Maker_New')?['body/value'])",0]},"type":"If"},"Insert_App_record_New":{"runAfter":{"Update_or_Insert_App_Maker_New":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","item/admin_displayname":"@items('Apply_to_each_new')?['properties/displayName']","item/admin_appid":"@items('Apply_to_each_new')?['name']","item/admin_appcontainsbrokenconnections":false,"item/admin_appcreatedon":"@items('Apply_to_each_new')?['properties/createdTime']","item/admin_appdeleted":false,"item/admin_department":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/department']","item/admin_appdescription":"@items('Apply_to_each_new')?['properties/description']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_appenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_appexcusedfromarchival":false,"item/admin_appiconuri":"@items('Apply_to_each_new')?['properties/backgroundImageUri']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@items('Apply_to_each_new')?['properties/lastModifiedTime']","item/admin_AppOwner@odata.bind":"admin_makers(@{items('Apply_to_each_new')?['properties/owner/id']})","item/admin_appownerdisplayname":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/displayName']","item/admin_appplanclassification":"@coalesce(items('Apply_to_each_new')?['properties']?['appPlanClassification'], '')","item/admin_apppublished":"@if(empty(items('Apply_to_each_new')?['properties']?['lastPublishTime']), items('Apply_to_each_new')?['properties/createdTime'], items('Apply_to_each_new')?['properties']?['lastPublishTime'])","item/admin_appsharedgroups":"@items('Apply_to_each_new')?['properties/sharedGroupsCount']","item/admin_appsharedusers":"@items('Apply_to_each_new')?['properties/sharedUsersCount']","item/admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array_new'), variables('sharedWith'))), 0), true, false)","item/admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_new')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","item/admin_appusesdataversetables":false,"item/admin_city":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_for_New')?['body/country']","item/admin_dlpevaluationstatus":"@items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/status']","item/admin_dlplastevaluationdate":"@items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/lastEvaluationDate']","item/admin_iconbackgroundcolor":"@items('Apply_to_each_new')?['properties/backgroundColor']","item/admin_inappcatalog":false,"item/admin_inappcatalogfeatured":false,"item/admin_requirement_5":false,"item/admin_sharepointformurl":"@coalesce(items('Apply_to_each_new')?['properties']?['embeddedApp']?['listUrl'], '')","item/admin_usescustomapi":"@coalesce(items('Apply_to_each_new')?['properties']?['usesCustomApi'], '')","item/admin_usesonpremisegateway":"@coalesce(items('Apply_to_each_new')?['properties']?['usesOnPremiseGateway'], '')","item/admin_usesonlygrandfatheredpremiumapis":"@coalesce(items('Apply_to_each_new')?['properties']?['usesOnlyGrandfatheredPremiumApis'], '')","item/admin_usespremiumapi":"@coalesce(items('Apply_to_each_new')?['properties']?['usesPremiumApi'], '')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Look_up_in_AD_for_Service_Principles_New_App":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"GET","request/url":"https://graph.microsoft.com/v1.0/servicePrincipals/@{items('Apply_to_each_new')?['properties/owner/id']}"},"authentication":"@parameters('$authentication')"}},"Switch_New_Service_Principle_Check":{"runAfter":{"Look_up_in_AD_for_Service_Principles_New_App":["Succeeded","Failed"]},"cases":{"Service_Principle_Found_New_App":{"case":200,"actions":{"Find_Service_Principle_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{items('Apply_to_each_new')?['properties/owner/id']}"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_Service_Principle_New":{"actions":{"Update_Service_Principle_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_new')?['properties/owner/id']","item/admin_displayname":"@items('Apply_to_each_new')?['properties/owner/displayName']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@items('Apply_to_each_new')?['properties/owner/displayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_Service_Principle_New":["Succeeded"]},"else":{"actions":{"Create_Service_Principle_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@items('Apply_to_each_new')?['properties/owner/displayName']","item/admin_makerid":"@items('Apply_to_each_new')?['properties/owner/id']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@items('Apply_to_each_new')?['properties/owner/displayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Find_Service_Principle_New')?['body/value'])",0]},"type":"If"},"Add_a_new_row":{"runAfter":{"Update_or_Insert_Service_Principle_New":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","item/admin_displayname":"@items('Apply_to_each_new')?['properties/displayName']","item/admin_appid":"@items('Apply_to_each_new')?['name']","item/admin_appcontainsbrokenconnections":false,"item/admin_appcreatedon":"@items('Apply_to_each_new')?['properties/createdTime']","item/admin_appdeleted":false,"item/admin_appdescription":"@items('Apply_to_each_new')?['properties/description']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_appenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_appexcusedfromarchival":false,"item/admin_appiconuri":"@items('Apply_to_each_new')?['properties/backgroundImageUri']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@items('Apply_to_each_new')?['properties/lastModifiedTime']","item/admin_AppOwner@odata.bind":"admin_makers(@{items('Apply_to_each_new')?['properties/owner/id']})","item/admin_appownerdisplayname":"@items('Apply_to_each_new')?['properties/owner/displayName']","item/admin_appplanclassification":"@coalesce(items('Apply_to_each_new')?['properties']?['appPlanClassification'], '')","item/admin_apppublished":"@if(empty(items('Apply_to_each_new')?['properties']?['lastPublishTime']), items('Apply_to_each_new')?['properties/createdTime'], items('Apply_to_each_new')?['properties']?['lastPublishTime'])","item/admin_appsharedgroups":"@items('Apply_to_each_new')?['properties/sharedGroupsCount']","item/admin_appsharedusers":"@items('Apply_to_each_new')?['properties/sharedUsersCount']","item/admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array_new'), variables('sharedWith'))), 0), true, false)","item/admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_new')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","item/admin_appusesdataversetables":false,"item/admin_dlpevaluationstatus":"@items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/status']","item/admin_dlplastevaluationdate":"@items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/lastEvaluationDate']","item/admin_iconbackgroundcolor":"@items('Apply_to_each_new')?['properties/backgroundColor']","item/admin_inappcatalog":false,"item/admin_inappcatalogfeatured":false,"item/admin_requirement_5":false,"item/admin_sharepointformurl":"@coalesce(items('Apply_to_each_new')?['properties']?['embeddedApp']?['listUrl'], '')","item/admin_usescustomapi":"@coalesce(items('Apply_to_each_new')?['properties']?['usesCustomApi'], '')","item/admin_usesonpremisegateway":"@coalesce(items('Apply_to_each_new')?['properties']?['usesOnPremiseGateway'], '')","item/admin_usesonlygrandfatheredpremiumapis":"@coalesce(items('Apply_to_each_new')?['properties']?['usesOnlyGrandfatheredPremiumApis'], '')","item/admin_usespremiumapi":"@coalesce(items('Apply_to_each_new')?['properties']?['usesPremiumApi'], '')"},"authentication":"@parameters('$authentication')"}}}},"404_New_App_Orphaned":{"case":404,"actions":{"Insert_App_record_(creator_not_found)_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","item/admin_displayname":"@items('Apply_to_each_new')?['properties/displayName']","item/admin_appid":"@items('Apply_to_each_new')?['name']","item/admin_appcontainsbrokenconnections":false,"item/admin_appcreatedon":"@items('Apply_to_each_new')?['properties/createdTime']","item/admin_appdeleted":false,"item/admin_appdescription":"@items('Apply_to_each_new')?['properties/description']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_appenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_appexcusedfromarchival":false,"item/admin_appiconuri":"@items('Apply_to_each_new')?['properties/backgroundImageUri']","item/cr5d5_appisorphaned":"yes","item/admin_appmodifiedon":"@items('Apply_to_each_new')?['properties/lastModifiedTime']","item/admin_appplanclassification":"@coalesce(items('Apply_to_each_new')?['properties']?['appPlanClassification'], '')","item/admin_apppublished":"@if(empty(items('Apply_to_each_new')?['properties']?['lastPublishTime']), items('Apply_to_each_new')?['properties/createdTime'], items('Apply_to_each_new')?['properties']?['lastPublishTime'])","item/admin_appsharedgroups":"@items('Apply_to_each_new')?['properties/sharedGroupsCount']","item/admin_appsharedusers":"@items('Apply_to_each_new')?['properties/sharedUsersCount']","item/admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array_new'), variables('sharedWith'))), 0), true, false)","item/admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_new')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","item/admin_appusesdataversetables":false,"item/admin_dlpevaluationstatus":"@items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/status']","item/admin_dlplastevaluationdate":"@items('Apply_to_each_new')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/lastEvaluationDate']","item/admin_iconbackgroundcolor":"@items('Apply_to_each_new')?['properties/backgroundColor']","item/admin_inappcatalog":false,"item/admin_inappcatalogfeatured":false,"item/admin_requirement_5":false,"item/admin_sharepointformurl":"@coalesce(items('Apply_to_each_new')?['properties']?['embeddedApp']?['listUrl'], '')","item/admin_usescustomapi":"@coalesce(items('Apply_to_each_new')?['properties']?['usesCustomApi'], '')","item/admin_usesonpremisegateway":"@coalesce(items('Apply_to_each_new')?['properties']?['usesOnPremiseGateway'], '')","item/admin_usesonlygrandfatheredpremiumapis":"@coalesce(items('Apply_to_each_new')?['properties']?['usesOnlyGrandfatheredPremiumApis'], '')","item/admin_usespremiumapi":"@coalesce(items('Apply_to_each_new')?['properties']?['usesPremiumApi'], '')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Look_up_in_AD_for_Service_Principles_New_App')['statusCode']","type":"Switch"}}}},"default":{"actions":{}},"expression":"@outputs('Get_PowerApp_Owner_profile_for_New')['statusCode']","type":"Switch"}},"runAfter":{"Check_if_App_Shared_with_Tenant_New":["Succeeded"]},"type":"Scope"},"Store_App_Connection_References_New":{"actions":{"Check_if_App_Connection_References_are_not_null_new":{"actions":{"Parse_Connection_Ref_JSON_new":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_new')?['properties/connectionReferences']","schema":{"type":"array","items":{"type":"object","properties":{"iconUri":{"type":"string"},"displayName":{"type":"string"},"apiTier":{"type":"string"},"isOnPremiseConnection":{"type":"boolean"},"isCustomApiConnection":{"type":"boolean"},"bypassConsent":{"type":"boolean"},"id":{"type":"string"}},"required":["iconUri","displayName","isOnPremiseConnection","isCustomApiConnection","bypassConsent","id"]}}}},"Apply_to_each_Connection_Reference_new":{"foreach":"@body('Filter_non_custom_new')","actions":{"ConnectorID_3":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Connection_Reference_new')['id']"},"Filter_current_app_Connector_3":{"runAfter":{"Connecor_Name_3":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_3'))"}},"split_on_slash_3":{"runAfter":{"ConnectorID_3":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_3'), '/')"},"Connecor_Name_3":{"runAfter":{"split_on_slash_3":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_3'))"},"mark_broken_connector_or_insert_connection_reference_3":{"actions":{"Create_a_new_App_Connection_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@items('Apply_to_each_Connection_Reference_new')?['displayName']","item/admin_App@odata.bind":"admin_apps(@{items('Apply_to_each_new')?['name']})","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_app_Connector_3'))?['admin_connectorid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_current_app_Connector_3":["Succeeded"]},"else":{"actions":{"Mark_app_as_having_broken_connections_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_new')?['name']","item/admin_appcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(body('Filter_current_app_Connector_3'))",0]},"type":"If"}},"runAfter":{"Filter_non_custom_new":["Succeeded"]},"type":"Foreach"},"Filter_non_custom_new":{"runAfter":{"Parse_Connection_Ref_JSON_new":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_new')","where":"@equals(item()['isCustomApiConnection'], false)"}},"Filter_custom_3":{"runAfter":{"Apply_to_each_Connection_Reference_new":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_new')","where":"@equals(item()['isCustomApiConnection'], true)"}},"Apply_to_each_Custom_Connection_Reference_new":{"foreach":"@body('Filter_custom_3')","actions":{"ConnectorID_custom_3":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Custom_Connection_Reference_new')['id']"},"Filter_current_app_Connector_custom_3":{"runAfter":{"Connecor_Name_custom_3":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_custom_3'))"}},"split_on_slash_custom_3":{"runAfter":{"ConnectorID_custom_3":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_custom_3'), '/')"},"Connecor_Name_custom_3":{"runAfter":{"split_on_slash_custom_3":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_custom_3'))"},"mark_broken_connector_or_insert_connection_reference_for_custom_3":{"actions":{"Create_a_new_App_Connection_for_Custom_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@items('Apply_to_each_Custom_Connection_Reference_new')?['displayName']","item/admin_App@odata.bind":"admin_apps(@{items('Apply_to_each_new')?['name']})","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_app_Connector_custom_3'))?['admin_connectorid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_current_app_Connector_custom_3":["Succeeded"]},"else":{"actions":{"Mark_app_as_having_broken_connections_for_custom_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_new')?['name']","item/admin_appcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(body('Filter_current_app_Connector_custom_3'))",0]},"type":"If"}},"runAfter":{"Filter_custom_3":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"expression":{"not":{"equals":["@items('Apply_to_each_new')?['properties/connectionReferences']","@null"]}},"type":"If"}},"runAfter":{"Insert_New_App_Details":["Succeeded"]},"type":"Scope"},"Store_App_Dataverse_References_New":{"actions":{"Check_if_App_Database_References_are_not_null_New":{"actions":{"Mark_app_as_using_dataverse_new":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_new')?['name']","item/admin_appusesdataversetables":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Insert_CDS_Native_Connection_Reference":{"runAfter":{"Mark_app_as_using_dataverse_new":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"Microsoft Dataverse","item/admin_App@odata.bind":"admin_apps(@{items('Apply_to_each_new')?['name']})","item/admin_Connector@odata.bind":"admin_connectors(@{variables('DataverseConnectorGUID')})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Mark_app_as_not_using_dataverse_new":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_new')?['name']","item/admin_appusesdataversetables":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"not":{"equals":["@items('Apply_to_each_new')?['properties/databaseReferences']","@null"]}},"type":"If"}},"runAfter":{"Store_App_Connection_References_New":["Succeeded"]},"type":"Scope"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Set_hadFailure_true_-_load_arrays":["Succeeded","Skipped"]},"type":"Scope"},"Edit_Updated_Apps":{"actions":{"Apply_to_each_editted":{"foreach":"@variables('Apps_Editted')","actions":{"Check_if_App_Shared_with_Tenant_Editted":{"actions":{"only_if_not_SP_App_Editted":{"actions":{"Filter_array_Editted":{"runAfter":{"Get_App_Role_Assignments_as_Admin_Editted":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_App_Role_Assignments_as_Admin_Editted')?['body/value']","where":"@equals(item()?['properties/principal/type'], 'Tenant')"}},"Get_App_Role_Assignments_as_Admin_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins_1","operationId":"Get-AdminAppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@triggerOutputs()?['body/admin_environmentname']","app":"@items('Apply_to_each_editted')?['name']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{},"expression":{"not":{"equals":["@item()?['properties']?['embeddedApp']?['type']","SharepointFormApp"]}},"type":"If"}},"runAfter":{},"type":"Scope"},"Update_App_Details_Editted":{"actions":{"Switch_Editted":{"runAfter":{"Get_PowerApp_Owner_profile_for_Editted":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_App_Maker_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{items('Apply_to_each_editted')?['properties/owner/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_App_Maker_Editted":{"actions":{"Update_App_Maker_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_editted')?['properties/owner/id']","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/owner/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/userPrincipalName']","item/admin_userisserviceprinciple":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_App_Maker_Editted":["Succeeded"]},"else":{"actions":{"Create_App_Maker_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/owner/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/jobTitle']","item/admin_makerid":"@items('Apply_to_each_editted')?['properties/owner/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/userPrincipalName']","item/admin_userisserviceprinciple":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_App_Maker_Editted')?['body/value'])",0]},"type":"If"},"Update_App_record_Editted":{"runAfter":{"Update_or_Insert_App_Maker_Editted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/displayName']","item/admin_appcontainsbrokenconnections":false,"item/admin_appcreatedon":"@items('Apply_to_each_editted')?['properties/createdTime']","item/admin_appdeleted":false,"item/admin_department":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/department']","item/admin_appdescription":"@items('Apply_to_each_editted')?['properties/description']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerBody()?['admin_displayname']","item/admin_appenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_appiconuri":"@items('Apply_to_each_editted')?['properties/backgroundImageUri']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@items('Apply_to_each_editted')?['properties/lastModifiedTime']","item/admin_AppOwner@odata.bind":"admin_makers(@{items('Apply_to_each_editted')?['properties/owner/id']})","item/admin_appownerdisplayname":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/displayName']","item/admin_appplanclassification":"@coalesce(items('Apply_to_each_editted')?['properties']?['appPlanClassification'], '')","item/admin_apppublished":"@if(empty(items('Apply_to_each_editted')?['properties']?['lastPublishTime']), items('Apply_to_each_editted')?['properties/createdTime'], items('Apply_to_each_editted')?['properties']?['lastPublishTime'])","item/admin_appsharedgroups":"@items('Apply_to_each_editted')?['properties/sharedGroupsCount']","item/admin_appsharedusers":"@items('Apply_to_each_editted')?['properties/sharedUsersCount']","item/admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array_Editted'), variables('sharedWith'))), 0), true, false)","item/admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_editted')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_for_Editted')?['body/country']","item/admin_dlpevaluationstatus":"@items('Apply_to_each_editted')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/status']","item/admin_dlplastevaluationdate":"@items('Apply_to_each_editted')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/lastEvaluationDate']","item/admin_iconbackgroundcolor":"@items('Apply_to_each_editted')?['properties/backgroundColor']","item/admin_sharepointformurl":"@coalesce(items('Apply_to_each_editted')?['properties']?['embeddedApp']?['listUrl'], '')","item/admin_usescustomapi":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesCustomApi'], '')","item/admin_usesonpremisegateway":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesOnPremiseGateway'], '')","item/admin_usesonlygrandfatheredpremiumapis":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesOnlyGrandfatheredPremiumApis'], '')","item/admin_usespremiumapi":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesPremiumApi'], '')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Look_up_in_AD_for_Service_Principles":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"GET","request/url":"https://graph.microsoft.com/v1.0/servicePrincipals/@{items('Apply_to_each_editted')?['properties/owner/id']}"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Look_up_in_AD_for_Service_Principles":["Succeeded","Failed"]},"cases":{"Service_Principle_Found":{"case":200,"actions":{"Find_Service_Principle_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{items('Apply_to_each_editted')?['properties/owner/id']}"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Update_or_Insert_Service_Principle_Editted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/displayName']","item/admin_appcontainsbrokenconnections":false,"item/admin_appcreatedon":"@items('Apply_to_each_editted')?['properties/createdTime']","item/admin_appdeleted":false,"item/admin_appdescription":"@items('Apply_to_each_editted')?['properties/description']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerBody()?['admin_displayname']","item/admin_appenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_appiconuri":"@items('Apply_to_each_editted')?['properties/backgroundImageUri']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@items('Apply_to_each_editted')?['properties/lastModifiedTime']","item/admin_AppOwner@odata.bind":"admin_makers(@{items('Apply_to_each_editted')?['properties/owner/id']})","item/admin_appplanclassification":"@coalesce(items('Apply_to_each_editted')?['properties']?['appPlanClassification'], '')","item/admin_apppublished":"@if(empty(items('Apply_to_each_editted')?['properties']?['lastPublishTime']), items('Apply_to_each_editted')?['properties/createdTime'], items('Apply_to_each_editted')?['properties']?['lastPublishTime'])","item/admin_appsharedgroups":"@items('Apply_to_each_editted')?['properties/sharedGroupsCount']","item/admin_appsharedusers":"@items('Apply_to_each_editted')?['properties/sharedUsersCount']","item/admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array_Editted'), variables('sharedWith'))), 0), true, false)","item/admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_editted')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","item/admin_dlpevaluationstatus":"@items('Apply_to_each_editted')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/status']","item/admin_dlplastevaluationdate":"@items('Apply_to_each_editted')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/lastEvaluationDate']","item/admin_iconbackgroundcolor":"@items('Apply_to_each_editted')?['properties/backgroundColor']","item/admin_sharepointformurl":"@coalesce(items('Apply_to_each_editted')?['properties']?['embeddedApp']?['listUrl'], '')","item/admin_usescustomapi":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesCustomApi'], '')","item/admin_usesonpremisegateway":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesOnPremiseGateway'], '')","item/admin_usesonlygrandfatheredpremiumapis":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesOnlyGrandfatheredPremiumApis'], '')","item/admin_usespremiumapi":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesPremiumApi'], '')"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_Service_Principle_Editted":{"actions":{"Update_Service_Principle_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_editted')?['properties/owner/id']","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/owner/displayName']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@items('Apply_to_each_editted')?['properties/owner/displayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_Service_Principle_Editted":["Succeeded"]},"else":{"actions":{"Create_Service_Principle_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/owner/displayName']","item/admin_makerid":"@items('Apply_to_each_editted')?['properties/owner/id']","item/admin_makerisorphaned":false,"item/admin_userprincipalname":"@items('Apply_to_each_editted')?['properties/owner/displayName']","item/admin_userisserviceprinciple":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('Find_Service_Principle_Editted')?['body/value'])",0]},"type":"If"}}},"404_Not_Found":{"case":404,"actions":{"Update_Orphaned_App_record_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_displayname":"@items('Apply_to_each_editted')?['properties/displayName']","item/admin_appcontainsbrokenconnections":false,"item/admin_appcreatedon":"@items('Apply_to_each_editted')?['properties/createdTime']","item/admin_appdeleted":false,"item/admin_appdescription":"@items('Apply_to_each_editted')?['properties/description']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerBody()?['admin_displayname']","item/admin_appenvironmentid":"@triggerOutputs()?['body/admin_environmentname']","item/admin_appiconuri":"@items('Apply_to_each_editted')?['properties/backgroundImageUri']","item/cr5d5_appisorphaned":"yes","item/admin_appmodifiedon":"@items('Apply_to_each_editted')?['properties/lastModifiedTime']","item/admin_appplanclassification":"@coalesce(items('Apply_to_each_editted')?['properties']?['appPlanClassification'], '')","item/admin_apppublished":"@if(empty(items('Apply_to_each_editted')?['properties']?['lastPublishTime']), items('Apply_to_each_editted')?['properties/createdTime'], items('Apply_to_each_editted')?['properties']?['lastPublishTime'])","item/admin_appsharedgroups":"@items('Apply_to_each_editted')?['properties/sharedGroupsCount']","item/admin_appsharedusers":"@items('Apply_to_each_editted')?['properties/sharedUsersCount']","item/admin_appsharedwithtenant":"@if(greater(length(coalesce(body('Filter_array_Editted'), variables('sharedWith'))), 0), true, false)","item/admin_powerappstype":"@coalesce(if(equals(items('Apply_to_each_editted')?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'), 597910002, 597910000), 597910000)","item/admin_dlpevaluationstatus":"@items('Apply_to_each_editted')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/status']","item/admin_dlplastevaluationdate":"@items('Apply_to_each_editted')?['properties/executionRestrictions/dataLossPreventionEvaluationResult/lastEvaluationDate']","item/admin_iconbackgroundcolor":"@items('Apply_to_each_editted')?['properties/backgroundColor']","item/admin_sharepointformurl":"@coalesce(items('Apply_to_each_editted')?['properties']?['embeddedApp']?['listUrl'], '')","item/admin_usescustomapi":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesCustomApi'], '')","item/admin_usesonpremisegateway":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesOnPremiseGateway'], '')","item/admin_usesonlygrandfatheredpremiumapis":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesOnlyGrandfatheredPremiumApis'], '')","item/admin_usespremiumapi":"@coalesce(items('Apply_to_each_editted')?['properties']?['usesPremiumApi'], '')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Look_up_in_AD_for_Service_Principles')['statusCode']","type":"Switch"}}}},"default":{"actions":{}},"expression":"@outputs('Get_PowerApp_Owner_profile_for_Editted')['statusCode']","type":"Switch"},"Get_PowerApp_Owner_profile_for_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_editted')?['properties/owner/id']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_if_App_Shared_with_Tenant_Editted":["Succeeded"]},"type":"Scope"},"Store_App_Connection_References_Editted":{"actions":{"List_App_Connection_References_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid, admin_displayname","$filter":"admin_App/admin_appid eq @{items('Apply_to_each_editted')?['name']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_this_apps_existing_connection_references_Editted":{"foreach":"@outputs('List_App_Connection_References_Editted')?['body/value']","actions":{"Delete_this_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","recordId":"@items('Delete_this_apps_existing_connection_references_Editted')?['admin_connectionreferenceid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_App_Connection_References_Editted":["Succeeded"]},"type":"Foreach"},"Check_if_App_Connection_References_are_not_null_Editted":{"actions":{"Parse_Connection_Ref_JSON_2":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_editted')?['properties/connectionReferences']","schema":{"type":"array","items":{"type":"object","properties":{"iconUri":{"type":"string"},"displayName":{"type":"string"},"apiTier":{"type":"string"},"isOnPremiseConnection":{"type":"boolean"},"isCustomApiConnection":{"type":"boolean"},"bypassConsent":{"type":"boolean"},"id":{"type":"string"}},"required":["iconUri","displayName","isOnPremiseConnection","isCustomApiConnection","bypassConsent","id"]}}}},"Apply_to_each_Connection_Reference_2":{"foreach":"@body('Filter_non_custom_2')","actions":{"ConnectorID_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Connection_Reference_2')['id']"},"Filter_current_app_Connector_2":{"runAfter":{"Connecor_Name_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_2'))"}},"split_on_slash_2":{"runAfter":{"ConnectorID_2":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_2'), '/')"},"Connecor_Name_2":{"runAfter":{"split_on_slash_2":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_2'))"},"mark_broken_connector_or_insert_connection_reference_2":{"actions":{"Create_a_new_App_Connection_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@items('Apply_to_each_Connection_Reference_2')?['displayName']","item/admin_App@odata.bind":"admin_apps(@{items('Apply_to_each_editted')?['name']})","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_app_Connector_2'))?['admin_connectorid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_current_app_Connector_2":["Succeeded"]},"else":{"actions":{"Mark_app_as_having_broken_connections_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_appcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(body('Filter_current_app_Connector_2'))",0]},"type":"If"}},"runAfter":{"Filter_non_custom_2":["Succeeded"]},"type":"Foreach"},"Filter_non_custom_2":{"runAfter":{"Parse_Connection_Ref_JSON_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_2')","where":"@equals(item()['isCustomApiConnection'], false)"}},"Filter_custom_2":{"runAfter":{"Apply_to_each_Connection_Reference_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_Connection_Ref_JSON_2')","where":"@equals(item()['isCustomApiConnection'], true)"}},"Apply_to_each_Custom_Connection_Reference_2":{"foreach":"@body('Filter_custom_2')","actions":{"ConnectorID_custom_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Custom_Connection_Reference_2')['id']"},"Filter_current_app_Connector_custom_2":{"runAfter":{"Connecor_Name_custom_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Connectors')?['body/value']","where":"@equals(item()?['admin_name'], outputs('Connecor_Name_custom_2'))"}},"split_on_slash_custom_2":{"runAfter":{"ConnectorID_custom_2":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('ConnectorID_custom_2'), '/')"},"Connecor_Name_custom_2":{"runAfter":{"split_on_slash_custom_2":["Succeeded"]},"type":"Compose","inputs":"@last(outputs('split_on_slash_custom_2'))"},"mark_broken_connector_or_insert_connection_reference_for_custom_2":{"actions":{"Create_a_new_App_Connection_for_Custom_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"@items('Apply_to_each_Custom_Connection_Reference_2')?['displayName']","item/admin_App@odata.bind":"admin_apps(@{items('Apply_to_each_editted')?['name']})","item/admin_Connector@odata.bind":"admin_connectors(@{first(body('Filter_current_app_Connector_custom_2'))?['admin_connectorid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_current_app_Connector_custom_2":["Succeeded"]},"else":{"actions":{"Mark_app_as_having_broken_connections_for_custom_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_appcontainsbrokenconnections":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(body('Filter_current_app_Connector_custom_2'))",0]},"type":"If"}},"runAfter":{"Filter_custom_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Delete_this_apps_existing_connection_references_Editted":["Succeeded","Failed"]},"expression":{"not":{"equals":["@items('Apply_to_each_editted')?['properties/connectionReferences']","@null"]}},"type":"If"}},"runAfter":{"Update_App_Details_Editted":["Succeeded"]},"type":"Scope"},"Store_App_Dataverse_References_Editted":{"actions":{"Check_if_App_Database_References_are_not_null_Editted":{"actions":{"Mark_app_as_using_dataverse_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_appusesdataversetables":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Check_if_app_already_stores_CDS_Native_connection":{"runAfter":{"Mark_app_as_using_dataverse_Editted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid","$filter":"admin_Connector/admin_connectorid eq @{variables('DataverseConnectorGUID')} and admin_App/admin_appid eq @{items('Apply_to_each_editted')?['name']}"},"authentication":"@parameters('$authentication')"}},"Condition:_if_app_contains_CDS_Native":{"actions":{"Add_CDS_Native_Connection_Reference":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","item/admin_displayname":"Microsoft Dataverse","item/admin_App@odata.bind":"admin_apps(@{items('Apply_to_each_editted')?['name']})","item/admin_Connector@odata.bind":"admin_connectors(@{variables('DataverseConnectorGUID')})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_if_app_already_stores_CDS_Native_connection":["Succeeded"]},"expression":{"equals":["@length(outputs('Check_if_app_already_stores_CDS_Native_connection')?['body/value'])",0]},"type":"If"}},"runAfter":{},"else":{"actions":{"Mark_app_as_not_using_dataverse_Editted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_editted')?['name']","item/admin_appusesdataversetables":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Fetch_all_CDS_Native_connections":{"runAfter":{"Mark_app_as_not_using_dataverse_Editted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid","$filter":"admin_Connector/admin_connectorid eq @{variables('DataverseConnectorGUID')} and admin_App/admin_appid eq @{items('Apply_to_each_editted')?['name']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Fetch_all_CDS_Native_connections')?['body/value']","actions":{"Delete_the_connection":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","recordId":"@items('Apply_to_each')?['admin_connectionreferenceid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Fetch_all_CDS_Native_connections":["Succeeded"]},"type":"Foreach"}}},"expression":{"not":{"equals":["@items('Apply_to_each_editted')?['properties/databaseReferences']","@null"]}},"type":"If"}},"runAfter":{"Store_App_Connection_References_Editted":["Succeeded"]},"type":"Scope"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Set_hadFailure_true_-_add_new_apps":["Succeeded","Skipped","Failed"]},"type":"Scope"},"Set_hadFailure_true_-_load_arrays":{"runAfter":{"Load_Arrays":["Failed"]},"type":"SetVariable","inputs":{"name":"hadFailure","value":"@true"}},"Set_hadFailure_true_-_add_new_apps":{"runAfter":{"Insert_New_Apps":["Failed"]},"type":"SetVariable","inputs":{"name":"hadFailure","value":"@true"}},"Set_hadFailure_true_-_editted_apps":{"runAfter":{"Edit_Updated_Apps":["Failed"]},"type":"SetVariable","inputs":{"name":"hadFailure","value":"@true"}},"Initialize_DataverseConnectorGUID":{"runAfter":{"Check_if_Environment_Deleted,_terminate_if_true":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DataverseConnectorGUID","type":"string"}]}},"Set_DataverseConnectorGUID":{"actions":{"List_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_connectorid","$filter":"admin_name eq 'shared_commondataserviceforapps'"},"authentication":"@parameters('$authentication')"}},"Set_variable_DataverseConnectorGUID":{"runAfter":{"List_rows":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DataverseConnectorGUID","value":"@{first(outputs('List_rows')?['body/value'])?['admin_connectorid']}"}}},"runAfter":{"Initialize_variable_hadFailure":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}