CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3SyncFlowErrors-69C0077E-DF40-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Admin eMail":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_AdminMail","description":"CoE Admin eMail"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"Initialize_Admin_eMail_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"string","value":"@parameters('Admin eMail')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_Style_for_HTML_eMail":{"runAfter":{"Initialize_Admin_eMail_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"css","type":"string","value":"<style>\ntable {\n  border-collapse: collapse;\n  width: 100%;\n}\n\nth, td {\n  padding: 8px;\n  text-align: left;\n  border-bottom: 1px solid #ddd;\n}\n</style>"}]},"description":"Environment location specific Flow URL - remember / at the end"},"List_Sync_Flow_Errors":{"runAfter":{"Initialize_Style_for_HTML_eMail":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","$select":"admin_environmentname, admin_flowinstanceurl, admin_name","$filter":"admin_flowinstanceurl ne ''"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Check_if_there_were_Sync_Flow_errors":{"actions":{"Create_HTML_table":{"runAfter":{},"type":"Table","inputs":{"from":"@outputs('List_Sync_Flow_Errors')?['body/value']","format":"HTML","columns":[{"header":"Flow","value":"@item()?['admin_name']"},{"header":"Environment","value":"@item()?['admin_environmentname']"},{"header":"URL","value":"@concat('<a href=\"', item()?['admin_flowinstanceurl'], '\">', item()?['admin_flowinstanceurl'], '</a>')"}]}},"Compose_HTML_Table":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"Compose","inputs":"@replace(replace(replace(body('Create_HTML_table'), '&lt;', '<'), '&gt;', '>'), '&quot;', '\"')"},"Delete_last_days_Sync_Flow_errors":{"foreach":"@outputs('List_Sync_Flow_Errors')?['body/value']","actions":{"Delete_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","recordId":"@items('Delete_last_days_Sync_Flow_errors')?['admin_syncflowerrorsid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"Foreach"},"Send_an_email_(V2)":{"runAfter":{"Compose_HTML_Table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('adminMail')","emailMessage/Subject":"Admin | Sync Flow Errors","emailMessage/Body":"<p>@{variables('css')}<br>\n&lt;p&gt;Some of the Sync Flows in the CoE Starter Kit have failed. See below and navigate to the Flow Instance URL to find out more details:&lt;br&gt;<br>\n&lt;br&gt;<br>\n@{outputs('Compose_HTML_Table')}&lt;br&gt;<br>\n&lt;/p&gt;</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Sync_Flow_Errors":["Succeeded"]},"expression":{"greater":["@length(outputs('List_Sync_Flow_Errors')?['body/value'])",0]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}