CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3ModelDrivenApps-B94B3718-C23F-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverseLegacy"},"api":{"name":"shared_commondataservice"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FullInventory":{"defaultValue":false,"type":"Bool","metadata":{"schemaName":"admin_FullInventory","description":"Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "}},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"When_a_record_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Environment_Deleted,_terminate_if_true":{"actions":{"Terminate_for_environments_marked_deleted":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentdeleted']","@true"]},"type":"If"},"Check_if_CDS,_terminate_if_false":{"actions":{"Not_CDS_so_no_Model_Driven_Apps":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Check_if_Environment_Deleted,_terminate_if_true":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/admin_hascds']","@false"]},"type":"If"},"Check_if_Dev_SKU,_terminate_if_true":{"actions":{"Inquiry_not_supported_for_Dev_Sku":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Check_if_CDS,_terminate_if_false":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentsku']","Developer"]},"type":"If"},"Check_if_Teams_SKU,_terminate_if_true":{"actions":{"Inquiry_not_supported_for_Teams_Sku":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Check_if_Dev_SKU,_terminate_if_true":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentsku']","Teams"]},"type":"If"},"Get_App_Modules_Table._Fail_out_if_no_permissions_to_environment":{"actions":{"List_Model_Driven_Apps":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"appmodules"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Fail_if_no_permissions":{"runAfter":{"List_Model_Driven_Apps":["Failed","TimedOut"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No Perissions to CDS Table"}}}},"runAfter":{"Check_if_Teams_SKU,_terminate_if_true":["Succeeded"]},"type":"Scope"},"Initialize_variable_today":{"runAfter":{"Initialize_variable_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_isOrphaned":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_fullInventory":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fullInventory","type":"string","value":"@{parameters('FullInventory')}"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Get_Model_Driven_Apps_and_store_in_CoE_CDS_Entity":{"actions":{"Get_Environment_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@triggerOutputs()?['body/admin_environmentname']","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Name_Length":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"type":"Compose","inputs":"@sub(length(body('Get_Environment_as_Admin')?['name']), 36)","description":"Returns the index where the GUID starts"},"Remove_any_Environment_prefix":{"runAfter":{"Name_Length":["Succeeded"]},"type":"Compose","inputs":"@substring(body('Get_Environment_as_Admin')?['name'], int(outputs('Name_Length')), 36)","description":"Returns the GUID without any prefix (right 36 chars)"},"Apply_to_each_Model_Driven_App":{"foreach":"@outputs('List_Model_Driven_Apps')?['body/value']","actions":{"See_if_app_already_in_CoE":{"actions":{"lastMod_from_CoE":{"runAfter":{},"type":"Compose","inputs":"@coalesce(formatDateTime(outputs('Get_Model_Driven_App_from_CoE')?['body/admin_appmodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')"},"lastMod_from_MDA":{"runAfter":{"lastMod_from_CoE":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(body('Parse_Model_Driven_App_JSON')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')"},"Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory":{"actions":{"Check_if_made_by_System":{"actions":{"Update_Model_Driven_App_(created_by_SYSTEM)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","item/admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","item/admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","item/admin_appdeleted":false,"item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","item/admin_appownerdisplayname":"SYSTEM","item/admin_powerappstype":597910001,"item/admin_recordmodified":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"else":{"actions":{"Recheck_Orphan_status":{"actions":{"Switch":{"runAfter":{"Get_PowerApp_Owner_profile":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_App_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']}"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_App_Maker":{"actions":{"Update_App_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","item/admin_displayname":"@outputs('Get_PowerApp_Owner_profile')?['body/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_App_Maker":["Succeeded"]},"else":{"actions":{"Create_App_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_PowerApp_Owner_profile')?['body/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile')?['body/jobTitle']","item/admin_makerid":"@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_App_Maker')?['body/value'])",0]},"type":"If"}}},"404_File_Not_Found":{"case":404,"actions":{"Set_isOrphaned_true_on_recheck":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isOrphaned","value":"@true"}}}}},"default":{"actions":{}},"expression":"@outputs('Get_PowerApp_Owner_profile')['statusCode']","type":"Switch"},"Get_PowerApp_Owner_profile":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"expression":{"equals":["@variables('isOrphaned')","@false"]},"type":"If"},"Update_based_on_Orphan_Status":{"actions":{"Update_App_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","item/admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","item/admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","item/admin_appdeleted":false,"item/admin_department":"@outputs('Get_PowerApp_Owner_profile')?['body/department']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","item/admin_AppOwner@odata.bind":"admin_makers(@{body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']})","item/admin_appownerdisplayname":"@outputs('Get_PowerApp_Owner_profile')?['body/displayName']","item/admin_powerappstype":597910001,"item/admin_city":"@outputs('Get_PowerApp_Owner_profile')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile')?['body/country']","item/admin_recordmodified":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Recheck_Orphan_status":["Succeeded"]},"else":{"actions":{"Update_App_record_(Abandoned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","item/admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","item/admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","item/admin_appdeleted":false,"item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/cr5d5_appisorphaned":"yes","item/admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","item/admin_powerappstype":597910001,"item/admin_recordmodified":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"equals":["@variables('isOrphaned')","@false"]},"type":"If"}}},"expression":{"equals":["@body('Get_MDD_App_Creator')?['fullname']","SYSTEM"]},"type":"If"}},"runAfter":{"lastMod_from_MDA":["Succeeded"]},"expression":{"or":[{"less":["@outputs('lastMod_from_CoE')","@outputs('lastMod_from_MDA')"]},{"equals":["@variables('fullInventory')","yes"]}]},"type":"If"}},"runAfter":{"Set_isNewToCoE_to_true":["Succeeded","Skipped"]},"else":{"actions":{"Check_if_made_by_System_2":{"actions":{"Insert_Model_Driven_App_(created_by_SYSTEM)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","item/admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","item/admin_appid":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","item/admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","item/admin_appdeleted":false,"item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","item/admin_appownerdisplayname":"SYSTEM","item/admin_powerappstype":597910001,"item/admin_recordmodified":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"else":{"actions":{"Recheck_Orphan_status_new":{"actions":{"Switch_new":{"runAfter":{"Get_PowerApp_Owner_profile_new":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_App_Maker_new":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']}"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_App_Maker_new":{"actions":{"Update_App_Maker_new":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","item/admin_displayname":"@outputs('Get_PowerApp_Owner_profile_new')?['body/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_new')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_new')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile_new')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile_new')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile_new')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile_new')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_App_Maker_new":["Succeeded"]},"else":{"actions":{"Create_App_Maker_new":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_PowerApp_Owner_profile_new')?['body/displayName']","item/admin_city":"@outputs('Get_PowerApp_Owner_profile_new')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_new')?['body/country']","item/admin_department":"@outputs('Get_PowerApp_Owner_profile_new')?['body/department']","item/admin_jobtitle":"@outputs('Get_PowerApp_Owner_profile_new')?['body/jobTitle']","item/admin_makerid":"@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_PowerApp_Owner_profile_new')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_PowerApp_Owner_profile_new')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_App_Maker_new')?['body/value'])",0]},"type":"If"}}},"404_File_Not_Found":{"case":404,"actions":{"Set_isOrphaned_true_on_recheck_new":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isOrphaned","value":"@true"}}}}},"default":{"actions":{}},"expression":"@outputs('Get_PowerApp_Owner_profile_new')['statusCode']","type":"Switch"},"Get_PowerApp_Owner_profile_new":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"expression":{"equals":["@variables('isOrphaned')","@false"]},"type":"If"},"Update_based_on_Orphan_Status_new":{"actions":{"Insert_Model_Driven_App":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","item/admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","item/admin_appid":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","item/admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","item/admin_appdeleted":false,"item/admin_department":"@outputs('Get_PowerApp_Owner_profile_new')?['body/department']","item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/cr5d5_appisorphaned":"no","item/admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","item/admin_AppOwner@odata.bind":"admin_makers(@{body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']})","item/admin_appownerdisplayname":"@outputs('Get_PowerApp_Owner_profile_new')?['body/displayName']","item/admin_powerappstype":597910001,"item/admin_city":"@outputs('Get_PowerApp_Owner_profile_new')?['body/city']","item/admin_country":"@outputs('Get_PowerApp_Owner_profile_new')?['body/country']","item/admin_recordmodified":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Recheck_Orphan_status_new":["Succeeded"]},"else":{"actions":{"Insert_Model_Driven_App_(Abandoned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","item/admin_displayname":"@body('Parse_Model_Driven_App_JSON')?['name']","item/admin_appid":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","item/admin_appcreatedon":"@body('Parse_Model_Driven_App_JSON')?['createdon']","item/admin_appdeleted":false,"item/admin_AppEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_appenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/cr5d5_appisorphaned":"yes","item/admin_appmodifiedon":"@body('Parse_Model_Driven_App_JSON')?['modifiedon']","item/admin_powerappstype":597910001,"item/admin_recordmodified":"@variables('today')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"equals":["@variables('isOrphaned')","@false"]},"type":"If"}}},"expression":{"equals":["@body('Get_MDD_App_Creator')?['fullname']","SYSTEM"]},"type":"If"}}},"expression":{"equals":["@variables('isNewToCoE')","@false"]},"type":"If"},"Get_Model_Driven_App_from_CoE":{"runAfter":{"Get_Owner_and_first_orphan_check":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","$select":"admin_appid,admin_appmodifiedon"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Reset_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"Parse_Model_Driven_App_JSON":{"runAfter":{"Reset_isNewToCoE":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_Model_Driven_App')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"overwritetime":{"type":"string"},"isfeatured":{"type":"boolean"},"_organizationid_value":{"type":"string"},"_organizationid_type":{"type":"string"},"descriptor":{"type":"string"},"solutionid":{"type":"string"},"uniquename":{"type":"string"},"formfactor":{"type":"integer"},"ismanaged":{"type":"boolean"},"appmoduleidunique":{"type":"string"},"navigationtype":{"type":"integer"},"_navigationtype_label":{"type":"string"},"appmoduleid":{"type":"string"},"createdon":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"modifiedon":{"type":"string"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"versionnumber":{"type":"integer"},"webresourceid":{"type":"string"},"isdefault":{"type":"boolean"},"name":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"}}}}},"Set_isNewToCoE_to_true":{"runAfter":{"Get_Model_Driven_App_from_CoE":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"Get_Owner_and_first_orphan_check":{"actions":{"Reset_isOrphaned_to_false":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isOrphaned","value":"@false"}},"Get_MDD_App_Creator":{"runAfter":{"Reset_isOrphaned_to_false":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"systemusers","id":"@body('Parse_Model_Driven_App_JSON')?['_createdby_value']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"See_if_azureactivedirectoryobjectid_is_null":{"actions":{"Set_isOrphaned_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isOrphaned","value":"@true"}}},"runAfter":{"Get_MDD_App_Creator":["Succeeded"]},"expression":{"equals":["@body('Get_MDD_App_Creator')?['azureactivedirectoryobjectid']","@null"]},"type":"If"}},"runAfter":{"Parse_Model_Driven_App_JSON":["Succeeded"]},"type":"Scope"}},"runAfter":{"Remove_any_Environment_prefix":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_fullInventory":["Succeeded"]},"type":"Scope"},"Get_Model_Driven_Apps_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Model Driven Apps)","item/admin_environmentname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Model Driven Apps Failed"}}}},"runAfter":{"Get_Model_Driven_Apps_and_store_in_CoE_CDS_Entity":["Failed","TimedOut"]},"type":"Scope"},"Initialize_variable_isNewToCoE":{"runAfter":{"Get_App_Modules_Table._Fail_out_if_no_permissions_to_environment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":false}]}},"Initialize_variable_isOrphaned":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isOrphaned","type":"boolean","value":"@false"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}