CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3Desktopflowruns-025CD295-93F2-EA11-A815-000D3A31CF04.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverseLegacy"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["1"]}},"type":"Recurrence"}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]},"description":"Used to identify the 'Record Modified' field on all resource entities"},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Get_RPA_Sessions_fails_-_Error_Handling":{"actions":{"Terminate":{"runAfter":{"Create_new_Sync_Flow_Error":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get UI Flow Runs failed"}}},"Create_new_Sync_Flow_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (UI Flow Runs)","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_RPA_Sessions":["Failed"]},"type":"Scope"},"Get_RPA_Sessions":{"actions":{"List_Environments_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2018-10-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_environment":{"foreach":"@outputs('List_Environments_from_CoE')?['body/value']","actions":{"Apply_to_each_session":{"foreach":"@body('List_RPA_Flow_Sessions')?['value']","actions":{"Update_RPA_Session_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpasessionses","recordId":"@items('Apply_to_each_session')?['flowsessionid']","item/admin_name":"@items('Apply_to_each_session')?['flowsessionid']","item/admin_completedon":"@items('Apply_to_each_session')?['completedon']","item/admin_errorcode":"@items('Apply_to_each_session')?['errorcode']","item/admin_errormessage":"@items('Apply_to_each_session')?['errormessage']","item/admin_RPA@odata.bind":"admin_rpas(@{items('Apply_to_each_session')?['_regardingobjectid_value']})","item/admin_startedon":"@items('Apply_to_each_session')?['startedon']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Compose":["Skipped"]},"type":"Foreach"},"Compose":{"runAfter":{"List_RPA_Flow_Sessions":["Failed","TimedOut"]},"type":"Compose","inputs":"Org not found, continue loop"},"List_RPA_Flow_Sessions":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_environment')?['admin_environmentcdsmetadataname']))}/tables/@{encodeURIComponent(encodeURIComponent('flowsessions'))}/items","queries":{"$filter":"createdon gt @{addDays(utcNow(), -2)}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"List_Environments_from_CoE":["Succeeded"]},"type":"Foreach"},"List_Environments_from_CoE":{"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentcdsmetadataname","$filter":"admin_environmentdeleted eq false"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}