CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3PVA-B1404DE5-6444-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverseLegacy"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FullInventory":{"defaultValue":false,"type":"Bool","metadata":{"schemaName":"admin_FullInventory","description":"Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "}},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"When_a_record_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Environment_Deleted,_terminate_if_true":{"actions":{"Terminate_for_environments_marked_deleted":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentdeleted']","@true"]},"type":"If"},"Check_if_CDS,_terminate_if_false":{"actions":{"Not_CDS_so_no_PVA_Bots":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Check_if_Environment_Deleted,_terminate_if_true":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/admin_hascds']","@false"]},"type":"If"},"Get_Environment_from_Tenant":{"runAfter":{"Check_if_Dev_SKU,_terminate_if_true":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@triggerOutputs()?['body/admin_environmentname']","api-version":"2020-06-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Exit_if_no_bots_in_envt":{"actions":{"List_Bots":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"bots"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Quit_if_no_bots":{"runAfter":{"List_Bots":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Get_Environment_from_Tenant":["Succeeded"]},"type":"Scope"},"Initialize_variable_isNewToCoE":{"runAfter":{"Initialize_varLastLaunched":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":false}]}},"Initialize_variable_today":{"runAfter":{"Initialize_variable_BotNeedsUpdateToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_fullInventory":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fullInventory","type":"string","value":"@{parameters('FullInventory')}"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_isFlowAction":{"runAfter":{"Initialize_ChangedBots":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isFlowAction","type":"boolean","value":"@false"}]}},"Initialize_varNumberConvos":{"runAfter":{"Initialize_isFlowAction":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNumberConvos","type":"integer","value":0}]}},"Initialize_varLastLaunched":{"runAfter":{"Initialize_varNumberConvos":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varLastLaunched","type":"string","value":"1990-01-01T15:24:42Z"}]}},"Put_Bots_in_CoE":{"actions":{"For_Each_Bot":{"foreach":"@outputs('List_Bots')?['body/value']","actions":{"Parse_Bot_JSON":{"runAfter":{"ReSet_varNumberConvos":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@items('For_Each_Bot')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"createdon":{"type":"string"},"_ownerid_value":{"type":"string"},"_ownerid_type":{"type":"string"},"name":{"type":"string"},"solutionid":{"type":"string"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"modifiedon":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"botid":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"_owningbusinessunit_type":{"type":"string"},"statuscode":{"type":"integer"},"_statuscode_label":{"type":"string"},"statecode":{"type":"integer"},"_statecode_label":{"type":"string"},"schemaname":{"type":"string"},"overwritetime":{"type":"string"},"ismanaged":{"type":"boolean"},"versionnumber":{"type":"integer"},"language":{"type":"integer"},"_language_label":{"type":"string"},"componentidunique":{"type":"string"},"overriddencreatedon":{},"_owningteam_value":{},"utcconversiontimezonecode":{},"timezoneruleversionnumber":{},"importsequencenumber":{},"iscustomizable":{"type":"boolean"}}}}},"ReSet_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"ReSet_varNumberConvos":{"runAfter":{"ReSet_BotNeedsUpdateToCoE":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varNumberConvos","value":0}},"Get_PVA_from_CoE":{"runAfter":{"Get_Bot_Creator":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@body('Parse_Bot_JSON')?['ItemInternalId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_isNewToCoE_to_true_if_not_found":{"runAfter":{"Get_PVA_from_CoE":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"reset_varLastLaunched":{"runAfter":{"Set_isNewToCoE_to_true_if_not_found":["Succeeded","Skipped"]},"type":"SetVariable","inputs":{"name":"varLastLaunched","value":"@outputs('Get_PVA_from_CoE')?['body/admin_pvalastlaunchedon']"}},"ReSet_BotNeedsUpdateToCoE":{"runAfter":{"ReSet_isNewToCoE":["Succeeded"]},"type":"SetVariable","inputs":{"name":"BotNeedsUpdateToCoE","value":"@false"}},"Get_Usage":{"actions":{"shrink_guid":{"runAfter":{},"type":"Compose","inputs":"@substring(body('Parse_Bot_JSON')?['ItemInternalId'], 0, 22)"},"Get_Conversation_Transcripts":{"runAfter":{"shrink_guid":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"conversationtranscripts","$filter":"contains(metadata, '@{outputs('shrink_guid')}') eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each":{"foreach":"@outputs('Get_Conversation_Transcripts')?['body/value']","actions":{"Increment_varNumberConvos":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"varNumberConvos","value":1}},"See_if_more_recent_convo":{"actions":{"Set_varLastLaunched":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varLastLaunched","value":"@body('Parse_conversation_JSON')?['conversationstarttime']"}},"Set_BotNeedsUpdateToCoE_to_true":{"runAfter":{"Set_varLastLaunched":["Succeeded"]},"type":"SetVariable","inputs":{"name":"BotNeedsUpdateToCoE","value":"@true"}}},"runAfter":{"Parse_conversation_JSON":["Succeeded"]},"expression":{"greater":["@body('Parse_conversation_JSON')?['conversationstarttime']","@variables('varLastLaunched')"]},"type":"If"},"Parse_conversation_JSON":{"runAfter":{"Increment_varNumberConvos":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"conversationstarttime":{"type":"string"}}}}}},"runAfter":{"Get_Conversation_Transcripts":["Succeeded"]},"type":"Foreach"}},"runAfter":{"reset_varLastLaunched":["Succeeded"]},"type":"Scope"},"See_if_BotNeedsUpdateToCoE":{"actions":{"Condition":{"actions":{"Set_BotNeedsUpdateToCoE_to_true_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"BotNeedsUpdateToCoE","value":"@true"}}},"runAfter":{},"expression":{"or":[{"equals":["@variables('isNewToCoE')","@true"]},{"equals":["@variables('fullInventory')","yes"]},{"less":["@coalesce(formatDateTime(outputs('Get_PVA_from_CoE')?['body/admin_pvamodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')","@formatDateTime(body('Parse_Bot_JSON')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')"]}]},"type":"If"}},"runAfter":{"Get_Usage":["Succeeded"]},"type":"Scope","description":"Need to set this outside a condition because also setting via last launched above"},"Update_or_Insert_Bot_and_Owner":{"actions":{"Only_proceed_if_set_to_needing_update":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Get_Bot_Creator')?['azureactivedirectoryobjectid']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch":{"runAfter":{"Get_user_profile_(V2)":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Bot_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_user_profile_(V2)')?['body/id']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_Bot_Maker":{"actions":{"Update_Bot_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_user_profile_(V2)')?['body/id']","item/admin_displayname":"@outputs('Get_user_profile_(V2)')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Bot_Maker":["Succeeded"]},"else":{"actions":{"Create_Bot_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_user_profile_(V2)')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_user_profile_(V2)')?['body/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Bot_Maker')?['body/value'])",0]},"type":"If"},"Update_Bot":{"runAfter":{"Update_or_Insert_Bot_Maker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@body('Parse_Bot_JSON')?['ItemInternalId']","item/admin_name":"@body('Parse_Bot_JSON')?['name']","item/admin_pvacreatedon":"@body('Parse_Bot_JSON')?['createdon']","item/admin_pvadeleted":"@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)","item/admin_pvadisplayname":"@body('Parse_Bot_JSON')?['name']","item/admin_PVAEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_pvaenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_pvaisorphaned":"No","item/admin_pvalastlaunchedon":"@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))","item/admin_pvamodifiedon":"@body('Parse_Bot_JSON')?['modifiedon']","item/admin_pvanumberlaunches":"@variables('varNumberConvos')","item/admin_PVAOwner@odata.bind":"admin_makers(@{outputs('Get_user_profile_(V2)')?['body/id']})","item/admin_pvastate":"@body('Parse_Bot_JSON')?['_componentstate_label']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Update_Bot_(orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@body('Parse_Bot_JSON')?['ItemInternalId']","item/admin_name":"@body('Parse_Bot_JSON')?['name']","item/admin_pvacreatedon":"@body('Parse_Bot_JSON')?['createdon']","item/admin_pvadeleted":"@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)","item/admin_pvadisplayname":"@body('Parse_Bot_JSON')?['name']","item/admin_PVAEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_pvaenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_pvaisorphaned":"Yes","item/admin_pvalastlaunchedon":"@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))","item/admin_pvamodifiedon":"@body('Parse_Bot_JSON')?['modifiedon']","item/admin_pvanumberlaunches":"@variables('varNumberConvos')","item/admin_pvastate":"@body('Parse_Bot_JSON')?['_componentstate_label']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_user_profile_(V2)')['statusCode']","type":"Switch"},"Append_updated_Bot_to_ChangedBots":{"runAfter":{"Switch":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ChangedBots","value":"@body('Parse_Bot_JSON')?['ItemInternalId']"}}},"runAfter":{},"expression":{"equals":["@variables('BotNeedsUpdateToCoE')","@true"]},"type":"If"}},"runAfter":{"See_if_BotNeedsUpdateToCoE":["Succeeded"]},"else":{"actions":{"Get_user_profile_(V2)_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Get_Bot_Creator')?['azureactivedirectoryobjectid']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch_2":{"runAfter":{"Get_user_profile_(V2)_New":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find_Bot_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_user_profile_(V2)_New')?['body/id']}"},"authentication":"@parameters('$authentication')"}},"Update_or_Insert_Bot_Maker_New":{"actions":{"Update_Bot_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_user_profile_(V2)_New')?['body/id']","item/admin_displayname":"@outputs('Get_user_profile_(V2)_New')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)_New')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)_New')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)_New')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Bot_Maker_New":["Succeeded"]},"else":{"actions":{"Create_Bot_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_user_profile_(V2)_New')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)_New')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)_New')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)_New')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_user_profile_(V2)_New')?['body/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)_New')?['body/id']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Bot_Maker_New')?['body/value'])",0]},"type":"If"},"Create_Bot":{"runAfter":{"Update_or_Insert_Bot_Maker_New":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","item/admin_name":"@body('Parse_Bot_JSON')?['name']","item/admin_pvacreatedon":"@body('Parse_Bot_JSON')?['createdon']","item/admin_pvadeleted":"@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)","item/admin_pvadisplayname":"@body('Parse_Bot_JSON')?['name']","item/admin_PVAEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_pvaenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_pvaisorphaned":"No","item/admin_pvalastlaunchedon":"@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))","item/admin_pvamodifiedon":"@body('Parse_Bot_JSON')?['modifiedon']","item/admin_pvanumberlaunches":"@variables('varNumberConvos')","item/admin_PVAOwner@odata.bind":"admin_makers(@{outputs('Get_user_profile_(V2)_New')?['body/id']})","item/admin_pvastate":"@body('Parse_Bot_JSON')?['_componentstate_label']","item/admin_pvaid":"@body('Parse_Bot_JSON')?['ItemInternalId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_File_Not_Found":{"case":404,"actions":{"Create_Bot_(Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","item/admin_name":"@body('Parse_Bot_JSON')?['name']","item/admin_pvacreatedon":"@body('Parse_Bot_JSON')?['createdon']","item/admin_pvadeleted":"@if(equals(substring(body('Parse_Bot_JSON')?['_componentstate_label'], 0, 7), 'Deleted'), true, false)","item/admin_pvadisplayname":"@body('Parse_Bot_JSON')?['name']","item/admin_PVAEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_pvaenvironmentdisplayname":"@triggerOutputs()?['body/admin_displayname']","item/admin_pvaisorphaned":"Yes","item/admin_pvalastlaunchedon":"@if(lessOrEquals(variables('varNumberConvos'), 0), body('Parse_Bot_JSON')?['createdon'], variables('varLastLaunched'))","item/admin_pvamodifiedon":"@body('Parse_Bot_JSON')?['modifiedon']","item/admin_pvanumberlaunches":"@variables('varNumberConvos')","item/admin_pvastate":"@body('Parse_Bot_JSON')?['_componentstate_label']","item/admin_pvaid":"@body('Parse_Bot_JSON')?['ItemInternalId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_user_profile_(V2)_New')['statusCode']","type":"Switch"},"Append_inserted_Bot_to_ChangedBots":{"runAfter":{"Switch_2":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ChangedBots","value":"@body('Parse_Bot_JSON')?['ItemInternalId']"}}}},"expression":{"equals":["@variables('isNewToCoE')","@false"]},"type":"If"},"Get_Bot_Creator":{"runAfter":{"Parse_Bot_JSON":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"systemusers","id":"@body('Parse_Bot_JSON')?['_ownerid_value']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Foreach"},"Update_Components_for_Changed_Bots":{"actions":{"Apply_to_each_of_the_Changed_Bots":{"foreach":"@variables('ChangedBots')","actions":{"List_PVA_Components":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","$select":"admin_pvacomponentid, _admin_pvabot_value","$filter":"_admin_pvabot_value eq @{items('Apply_to_each_of_the_Changed_Bots')}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_old_records":{"actions":{"Apply_to_each_PVA_Component":{"foreach":"@outputs('List_PVA_Components')?['body/value']","actions":{"List_component_flows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","$select":"_admin_pvacomponent_value, admin_pvacomponentflowlookupid","$filter":"_admin_pvacomponent_value eq @{items('Apply_to_each_PVA_Component')?['admin_pvacomponentid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_the_component":{"runAfter":{"Apply_to_each_component_flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","recordId":"@items('Apply_to_each_PVA_Component')?['admin_pvacomponentid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Apply_to_each_component_flow":{"foreach":"@outputs('List_component_flows')?['body/value']","actions":{"Delete_the_component_flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","recordId":"@items('Apply_to_each_component_flow')?['admin_pvacomponentflowlookupid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_component_flows":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_PVA_Components":["Succeeded"]},"type":"Scope"}},"runAfter":{},"type":"Foreach"},"List_BotComponents":{"runAfter":{"Apply_to_each_of_the_Changed_Bots":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"botcomponents","$filter":"botcomponentid ne null"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Bot_Component":{"foreach":"@outputs('List_BotComponents')?['body/value']","actions":{"Parse_Bot_Component_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_Bot_Component')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"description":{},"createdon":{"type":"string"},"name":{"type":"string"},"solutionid":{"type":"string"},"modifiedon":{"type":"string"},"botcomponentid":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"componentidunique":{"type":"string"},"componenttype":{"type":"integer"},"_componenttype_label":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"statecode":{"type":"integer"},"_statecode_label":{"type":"string"},"statuscode":{"type":"integer"},"_statuscode_label":{"type":"string"},"schemaname":{"type":"string"},"_ownerid_value":{"type":"string"},"_ownerid_type":{"type":"string"},"overwritetime":{"type":"string"},"ismanaged":{"type":"boolean"},"versionnumber":{"type":"integer"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"_owningbusinessunit_type":{"type":"string"},"timezoneruleversionnumber":{},"overriddencreatedon":{},"utcconversiontimezonecode":{},"importsequencenumber":{},"_owningteam_value":{},"iscustomizable":{"type":"boolean"}}}}},"Get_Parent_Bot_ID":{"actions":{"List_bot_for_a_botcomponent":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"bot_botcomponentset","$filter":"botcomponentid eq @{body('Parse_Bot_Component_JSON')?['ItemInternalId']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetBotID":{"runAfter":{"List_bot_for_a_botcomponent":["Succeeded"]},"type":"Compose","inputs":"@first(body('List_bot_for_a_botcomponent')?['value'])['botid']"}},"runAfter":{"Parse_Bot_Component_JSON":["Succeeded"]},"type":"Scope"},"If_an_updated_bot,_proceed_to_insert_its_components_and_component_flows":{"actions":{"ReSet_isFlowAction":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isFlowAction","value":"@false"}},"List_flows_for_a_botcomponent":{"runAfter":{"ReSet_isFlowAction":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"botcomponent_workflowset","$filter":"botcomponentid eq @{body('Parse_Bot_Component_JSON')?['ItemInternalId']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"See_if_flows_exist":{"actions":{"Set_isFlowAction_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isFlowAction","value":"@true"}}},"runAfter":{"List_flows_for_a_botcomponent":["Succeeded"]},"expression":{"greater":["@length(body('List_flows_for_a_botcomponent')?['value'])",0]},"type":"If"},"Create_PVA_Component":{"runAfter":{"See_if_flows_exist":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","item/admin_name":"@body('Parse_Bot_Component_JSON')?['name']","item/admin_componentcreatedon":"@body('Parse_Bot_Component_JSON')?['createdon']","item/admin_componentdeleted":false,"item/admin_componentdescription":"@body('Parse_Bot_Component_JSON')?['description']","item/admin_componentdisplayname":"@body('Parse_Bot_Component_JSON')?['name']","item/admin_ComponentEnvt@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_componentmodifiedon":"@body('Parse_Bot_Component_JSON')?['modifiedon']","item/admin_componentstate":"@body('Parse_Bot_Component_JSON')?['_componentstate_label']","item/admin_componenttype":"@body('Parse_Bot_Component_JSON')?['_componenttype_label']","item/admin_componentusesflow":"@variables('isFlowAction')","item/admin_PVABot@odata.bind":"admin_pvas(@{outputs('GetBotID')})","item/admin_pvacomponentid":"@body('Parse_Bot_Component_JSON')?['ItemInternalId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Add_flows":{"actions":{"For_Each_Flow":{"foreach":"@outputs('List_flows_for_a_botcomponent')?['body/value']","actions":{"Get_WorkflowID_value":{"runAfter":{},"type":"Compose","inputs":"@items('For_Each_Flow')?['workflowid']"},"Get_CoE_version_of_the_flow":{"runAfter":{"Get_WorkflowID_value":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid","$filter":"admin_workflowentityid eq @{outputs('Get_WorkflowID_value')}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Catch:_Sync_of_Flow_in_COE_not_yet_complete_":{"runAfter":{"Get_CoE_version_of_the_flow":["Failed","TimedOut"]},"type":"Compose","inputs":"Catch: Sync of Flow in COE not yet complete "},"if_flow_found,_add_PVA_Component_Flow_Lookup":{"actions":{"Get_CoE_GUID_for_the_flow":{"runAfter":{},"type":"Compose","inputs":"@first(body('Get_CoE_version_of_the_flow')?['value'])['admin_flowid']"},"Upsert_PVA_Component_Flow_Lookups":{"runAfter":{"Get_CoE_GUID_for_the_flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","item/admin_name":"@items('For_Each_Flow')?['ItemInternalId']","item/admin_Flow@odata.bind":"admin_flows(@{outputs('Get_CoE_GUID_for_the_flow')})","item/admin_PVAComponent@odata.bind":"admin_pvacomponents(@{body('Parse_Bot_Component_JSON')?['ItemInternalId']})","item/admin_pvacomponentflowlookupid":"@items('For_Each_Flow')?['ItemInternalId']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Catch:_Sync_of_Flow_in_COE_not_yet_complete_":["Skipped"]},"expression":{"greater":["@length(body('Get_CoE_version_of_the_flow')?['value'])",0]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Create_PVA_Component":["Succeeded"]},"expression":{"equals":["@variables('isFlowAction')","@true"]},"type":"If"}},"runAfter":{"Get_Parent_Bot_ID":["Succeeded"]},"expression":{"contains":["@variables('ChangedBots')","@outputs('GetBotID')"]},"type":"If"}},"runAfter":{"List_BotComponents":["Succeeded"]},"type":"Foreach"}},"runAfter":{"For_Each_Bot":["Succeeded"]},"type":"Scope"}},"runAfter":{"Initialize_variable_fullInventory":["Succeeded"]},"type":"Scope"},"Get_PVA_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (PVA)","item/admin_environmentname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get PVAs Failed"}}}},"runAfter":{"Put_Bots_in_CoE":["Failed"]},"type":"Scope"},"Initialize_variable_BotNeedsUpdateToCoE":{"runAfter":{"Initialize_variable_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"BotNeedsUpdateToCoE","type":"boolean","value":"@false"}]}},"Initialize_ChangedBots":{"runAfter":{"Exit_if_no_bots_in_envt":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ChangedBots","type":"array"}]}},"Check_if_Dev_SKU,_terminate_if_true":{"actions":{"Inquiry_not_supported_for_Dev_Sku":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Check_if_CDS,_terminate_if_false":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/admin_environmentsku']","Developer"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}