CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3Connectors-7E1DDB35-613D-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_powerappsforappmakers_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsforMakers"},"api":{"name":"shared_powerappsforappmakers"}},"shared_commondataserviceforapps_3":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["1"]}},"type":"Recurrence"}},"actions":{"Initialize_variable_today":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Get_Connectors_and_store_in_CoE_CDS_Entity":{"actions":{"Get_Connectors":{"runAfter":{"List_initial_Connector_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers_1","operationId":"Get-Connectors","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"showApisWithToS":"true","$filter":"environment eq '@{outputs('Get_Environment_as_Admin')?['body/name']}'","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Standard_Connector":{"foreach":"@outputs('Get_Connectors')?['body/value']","actions":{"validate_standard":{"actions":{"insert_or_update":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","recordId":"@outputs('Get_Connector_GUID_or_create_one')","item/admin_displayname":"@items('Apply_to_each_Standard_Connector')?['properties/displayName']","item/admin_name":"@items('Apply_to_each_Standard_Connector')?['name']","item/admin_id":"@items('Apply_to_each_Standard_Connector')?['id']","item/admin_backgroundcolor":"@items('Apply_to_each_Standard_Connector')?['properties/metadata/brandColor']","item/admin_connectorcreateddatetime":"@items('Apply_to_each_Standard_Connector')?['properties/createdTime']","item/admin_iconuri":"@items('Apply_to_each_Standard_Connector')?['properties/iconUri']","item/admin_connectormodified":"@items('Apply_to_each_Standard_Connector')?['properties/changedTime']","item/admin_iscustomapi":false,"item/admin_publisher":"@items('Apply_to_each_Standard_Connector')?['properties/publisher']","item/admin_tier":"@items('Apply_to_each_Standard_Connector')?['properties/tier']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Connector_GUID_or_create_one":["Succeeded"]},"else":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","item/admin_displayname":"@items('Apply_to_each_Standard_Connector')?['properties/displayName']","item/admin_name":"@items('Apply_to_each_Standard_Connector')?['name']","item/admin_id":"@items('Apply_to_each_Standard_Connector')?['id']","item/admin_backgroundcolor":"@items('Apply_to_each_Standard_Connector')?['properties/metadata/brandColor']","item/admin_connectorcreateddatetime":"@items('Apply_to_each_Standard_Connector')?['properties/createdTime']","item/admin_iconuri":"@items('Apply_to_each_Standard_Connector')?['properties/iconUri']","item/admin_connectormodified":"@items('Apply_to_each_Standard_Connector')?['properties/changedTime']","item/admin_iscustomapi":false,"item/admin_publisher":"@items('Apply_to_each_Standard_Connector')?['properties/publisher']","item/admin_tier":"@items('Apply_to_each_Standard_Connector')?['properties/tier']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"not":{"equals":["@length(outputs('Get_Connector_Record')?['body/value'])",0]}},"type":"If"},"Get_Connector_GUID_or_create_one":{"runAfter":{"Filter_existing_to_this_connector":["Succeeded"]},"type":"Compose","inputs":"@if(not(empty(body('Filter_existing_to_this_connector'))), first(body('Filter_existing_to_this_connector'))?['admin_connectorid'], guid())"},"Filter_existing_to_this_connector":{"runAfter":{"Get_Connector_Record":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_initial_Connector_records')?['body/value']","where":"@equals(item()?['admin_name'], items('Apply_to_each_Standard_Connector')?['name'])"}},"Get_Connector_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_connectorid","$filter":"admin_name eq '@{items('Apply_to_each_Standard_Connector')?['name']}'","$top":1},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_Standard_Connector')?['properties/isCustomApi']","@false"]},"type":"If"}},"runAfter":{"Get_Connectors":["Succeeded"]},"type":"Foreach"},"List_initial_Connector_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$filter":"admin_iscustomapi eq false"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"Get_Default_Environments_Connectors":["Succeeded"]},"type":"Scope"},"Get_Connectors_fails_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Connectors)","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate_2":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get Connectors failed"}}}},"runAfter":{"Get_Connectors_and_store_in_CoE_CDS_Entity":["Failed"]},"type":"Scope"},"Initialize_varEnvtNameForConnectors":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEnvtNameForConnectors","type":"string"}]}},"Get_Default_Environments_Connectors":{"actions":{"List_Environments_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2020-09-01"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Filter_to_Default":{"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Environments_as_Admin')?['body/value']","where":"@equals(item()?['properties/environmentSku'], 'Default')"}},"Get_Environment_as_Admin":{"runAfter":{"Get_Default_Envt_if_have_Permissions,_else_get_first_envt":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@variables('varEnvtNameForConnectors')","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}},"Get_Default_Envt_if_have_Permissions,_else_get_first_envt":{"actions":{"Set_to_default":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varEnvtNameForConnectors","value":"@{first(body('Filter_to_Default'))?['name']}"}}},"runAfter":{"Filter_to_Default":["Succeeded"]},"else":{"actions":{"Set_to_first":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varEnvtNameForConnectors","value":"@{first(outputs('List_Environments_as_Admin')?['body/value'])?['name']}"}}}},"expression":{"greater":["@length(body('Filter_to_Default'))",0]},"type":"If"}},"runAfter":{"Initialize_varEnvtNameForConnectors":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}