CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminSyncTemplatev3Desktopflows-8091A1F0-1042-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverseLegacy"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FullInventory":{"defaultValue":false,"type":"Bool","metadata":{"schemaName":"admin_FullInventory","description":"Determines if you want to only update objects that have changed, or all objects. Defaults to No. Switching to Yes will cause the flows to inventory every single app/flow/etc in the tenant and make the flows long running "}},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"When_a_record_is_created_or_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_Desktop_Flows_can_be_retrieved_for_this_environment":{"actions":{"Terminate,_inquiry__not_supported":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"or":[{"equals":["@triggerOutputs()?['body/admin_environmentdeleted']","@true"]},{"equals":["@triggerOutputs()?['body/admin_hascds']","@false"]},{"equals":["@triggerOutputs()?['body/admin_environmentsku']","Teams"]},{"equals":["@triggerOutputs()?['body/admin_environmentsku']","Developer"]}]},"type":"If"},"Get_RPAs_and_Exit_if_no_RPAs_in_envt_or_if_no_permissions":{"actions":{"Terminate_if_no_access":{"runAfter":{"List_Desktop_Flows":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"Unauthorized"}}},"Count_bots":{"actions":{"Quit_if_no_bots":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Terminate_if_no_access":["Skipped"]},"expression":{"equals":["@length(body('List_Desktop_Flows')?['value'])",0]},"type":"If"},"List_Desktop_Flows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"workflows","$filter":"category eq 6 and uiflowtype ne 101"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"Check_if_Desktop_Flows_can_be_retrieved_for_this_environment":["Succeeded"]},"type":"Scope"},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_DesktopFlowNeedsUpdateToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Put_Desktop_Flows_in_CoE":{"actions":{"For_each_Desktop_Flow":{"foreach":"@outputs('List_Desktop_Flows')?['body/value']","actions":{"Parse_RPA_JSON":{"runAfter":{"Reset_DesktopFlowNeedsUpdateToCoE":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@items('For_each_Desktop_Flow')?['clientdata']","schema":{"type":"object","properties":{"schemaVersion":{"type":"string"},"targets":{"type":"object","properties":{"schema":{"type":"object","properties":{"properties":{"type":"object","properties":{"XD22JMjhEkyAAS8lVpFe+w==":{"type":"object","properties":{"name":{"type":"string"},"path":{"type":"string"},"version":{"type":"string"},"processId":{"type":"integer"},"icon":{"type":"string"},"mainWindowTitle":{"type":"string"},"systemConfiguration":{"type":"object","properties":{"keyboard":{"type":"object","properties":{"layoutId":{"type":"string"}}},"screen":{"type":"object","properties":{"width":{"type":"integer"},"height":{"type":"integer"},"scale":{"type":"integer"}}}}},"automationType":{"type":"string"}}}}}}}}}}}}},"Reset_isNewToCoE":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@false"}},"Get_Desktop_Flow_from_CoE":{"runAfter":{"Get_Desktop_Flow_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","recordId":"@items('For_each_Desktop_Flow')?['ItemInternalId']","$select":"admin_name, admin_rpamodifiedon"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_isNewToCoE_to_true":{"runAfter":{"Get_Desktop_Flow_from_CoE":["Failed"]},"type":"SetVariable","inputs":{"name":"isNewToCoE","value":"@true"}},"Update_or_Insert_Desktop_flow_and_Owner":{"actions":{"See_if_DesktopFlowNeedsUpdateToCoE":{"actions":{"CoE_ModifiedOn":{"runAfter":{},"type":"Compose","inputs":"@coalesce(formatDateTime(outputs('Get_Desktop_Flow_from_CoE')?['body/admin_rpamodifiedon'], 'yyyy-MM-dd HH:mm:ss'), '')"},"Condition":{"actions":{"Set_DesktopFlowNeedsUPdateToCoE_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"DesktopFlowNeedsUpdateToCoE","value":"@true"}}},"runAfter":{"Catch_case_where_product_last_modified_date_is_null":["Succeeded","Skipped"]},"expression":{"or":[{"equals":["@variables('fullInventory')","yes"]},{"equals":["@variables('DesktopFlowNeedsUpdateToCoE')","@true"]},{"less":["@outputs('CoE_ModifiedOn')","@outputs('Desktop_Flow_Modified_On')"]}]},"type":"If"},"Desktop_Flow_Modified_On":{"runAfter":{"Catch_case_where_coe_last_modified_date_is_null_":["Succeeded","Skipped"]},"type":"Compose","inputs":"@formatDateTime(items('For_each_Desktop_Flow')?['modifiedon'], 'yyyy-MM-dd HH:mm:ss')"},"Catch_case_where_coe_last_modified_date_is_null_":{"runAfter":{"CoE_ModifiedOn":["Failed"]},"type":"SetVariable","inputs":{"name":"DesktopFlowNeedsUpdateToCoE","value":"@true"}},"Catch_case_where_product_last_modified_date_is_null":{"runAfter":{"Desktop_Flow_Modified_On":["Failed"]},"type":"SetVariable","inputs":{"name":"DesktopFlowNeedsUpdateToCoE","value":"@true"}}},"runAfter":{},"type":"Scope"},"Only_proceed_if_changed_since_last_updated_in_CoE_or_FullInventory":{"actions":{"Get_Desktop_Flow_owner_profile":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Get_Desktop_Flow_Owner')?['azureactivedirectoryobjectid']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch_Get_Desktop_Flow_owner_-_Status":{"runAfter":{"Get_Desktop_Flow_owner_profile":["Succeeded","Failed"]},"cases":{"Case":{"case":200,"actions":{"Find_Desktop_Flow_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_Desktop_Flow_owner_profile')?['body/id']}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert_Desktop_flows_Maker":{"actions":{"Update_Bot_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_Desktop_Flow_owner_profile')?['body/id']","item/admin_displayname":"@outputs('Get_Desktop_Flow_owner_profile')?['body/displayName']","item/admin_city":"@outputs('Get_Desktop_Flow_owner_profile')?['body/city']","item/admin_country":"@outputs('Get_Desktop_Flow_owner_profile')?['body/country']","item/admin_department":"@outputs('Get_Desktop_Flow_owner_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_Desktop_Flow_owner_profile')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Desktop_Flow_owner_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Desktop_Flow_owner_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find_Desktop_Flow_Maker":["Succeeded"]},"else":{"actions":{"Create_Bot_Maker":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_Desktop_Flow_owner_profile')?['body/displayName']","item/admin_city":"@outputs('Get_Desktop_Flow_owner_profile')?['body/city']","item/admin_country":"@outputs('Get_Desktop_Flow_owner_profile')?['body/country']","item/admin_department":"@outputs('Get_Desktop_Flow_owner_profile')?['body/department']","item/admin_jobtitle":"@outputs('Get_Desktop_Flow_owner_profile')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_Desktop_Flow_owner_profile')?['body/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_Desktop_Flow_owner_profile')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_Desktop_Flow_owner_profile')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find_Desktop_Flow_Maker')?['body/value'])",0]},"type":"If"},"Update_Desktop_Flow":{"runAfter":{"Update_or_Insert_Desktop_flows_Maker":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","recordId":"@items('For_each_Desktop_Flow')?['ItemInternalId']","item/admin_name":"@items('For_each_Desktop_Flow')?['workflowid']","item/admin_rpacreatedon":"@items('For_each_Desktop_Flow')?['createdon']","item/admin_displayname":"@items('For_each_Desktop_Flow')?['name']","item/admin_DesktopflowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_rpaenvironment":"@triggerOutputs()?['body/admin_displayname']","item/admin_rpaisorphaned":"No","item/admin_rpamodifiedon":"@items('For_each_Desktop_Flow')?['modifiedon']","item/admin_RPAOwner@odata.bind":"admin_makers(@{outputs('Get_Desktop_Flow_owner_profile')?['body/id']})","item/admin_rpastate":"@items('For_each_Desktop_Flow')?['_componentstate_label']","item/admin_uiflowtype":"@items('For_each_Desktop_Flow')?['_uiflowtype_label']","item/admin_url":"@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"Case_2":{"case":400,"actions":{"Update_Desktop_Flow_(Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","recordId":"@items('For_each_Desktop_Flow')?['ItemInternalId']","item/admin_name":"@items('For_each_Desktop_Flow')?['workflowid']","item/admin_rpacreatedon":"@items('For_each_Desktop_Flow')?['createdon']","item/admin_displayname":"@items('For_each_Desktop_Flow')?['name']","item/admin_DesktopflowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_rpaenvironment":"@triggerOutputs()?['body/admin_displayname']","item/admin_rpaisorphaned":"Yes","item/admin_rpamodifiedon":"@items('For_each_Desktop_Flow')?['modifiedon']","item/admin_rpastate":"@items('For_each_Desktop_Flow')?['_componentstate_label']","item/admin_uiflowtype":"@items('For_each_Desktop_Flow')?['_uiflowtype_label']","item/admin_url":"@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_Desktop_Flow_owner_profile')['statusCode']","type":"Switch"}},"runAfter":{"See_if_DesktopFlowNeedsUpdateToCoE":["Succeeded"]},"expression":{"equals":["@variables('DesktopFlowNeedsUpdateToCoE')","@true"]},"type":"If"}},"runAfter":{"Set_isNewToCoE_to_true":["Succeeded","Skipped"]},"else":{"actions":{"Get_user_profile_(V2)_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Get_Desktop_Flow_Owner')?['azureactivedirectoryobjectid']","$select":"city,country,department,jobTitle,officeLocation,statusCode,userPrincipalName, displayName, id"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch_Get_Desktop_Flow_owner_(new)_-_Status":{"runAfter":{"Get_user_profile_(V2)_New":["Succeeded","Failed"]},"cases":{"200_Success":{"case":200,"actions":{"Find__Desktop_Flow_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerid eq @{outputs('Get_user_profile_(V2)_New')?['body/id']}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Update_or_Insert__Desktop_Flow_Maker_New":{"actions":{"Update_Bot_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Get_user_profile_(V2)_New')?['body/id']","item/admin_displayname":"@outputs('Get_user_profile_(V2)_New')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)_New')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)_New')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)_New')?['body/jobTitle']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Find__Desktop_Flow_Maker_New":["Succeeded"]},"else":{"actions":{"Create_Bot_Maker_New":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","item/admin_displayname":"@outputs('Get_user_profile_(V2)_New')?['body/displayName']","item/admin_city":"@outputs('Get_user_profile_(V2)_New')?['body/city']","item/admin_country":"@outputs('Get_user_profile_(V2)_New')?['body/country']","item/admin_department":"@outputs('Get_user_profile_(V2)_New')?['body/department']","item/admin_jobtitle":"@outputs('Get_user_profile_(V2)_New')?['body/jobTitle']","item/admin_makerid":"@outputs('Get_user_profile_(V2)_New')?['body/id']","item/admin_makerisorphaned":false,"item/admin_office":"@outputs('Get_user_profile_(V2)_New')?['body/officeLocation']","item/admin_userprincipalname":"@outputs('Get_user_profile_(V2)_New')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('Find__Desktop_Flow_Maker_New')?['body/value'])",0]},"type":"If"},"Create_Desktop_Flow":{"runAfter":{"Update_or_Insert__Desktop_Flow_Maker_New":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","item/admin_name":"@items('For_each_Desktop_Flow')?['workflowid']","item/admin_rpacreatedon":"@items('For_each_Desktop_Flow')?['createdon']","item/admin_displayname":"@items('For_each_Desktop_Flow')?['name']","item/admin_DesktopflowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_rpaenvironment":"@triggerOutputs()?['body/admin_displayname']","item/admin_rpaisorphaned":"no","item/admin_rpamodifiedon":"@items('For_each_Desktop_Flow')?['modifiedon']","item/admin_RPAOwner@odata.bind":"admin_makers(@{outputs('Get_user_profile_(V2)_New')?['body/id']})","item/admin_rpastate":"@items('For_each_Desktop_Flow')?['_componentstate_label']","item/admin_uiflowtype":"@items('For_each_Desktop_Flow')?['_uiflowtype_label']","item/admin_rpaid":"@items('For_each_Desktop_Flow')?['ItemInternalId']","item/admin_url":"@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"404_User_Not_Found":{"case":404,"actions":{"Create__Desktop_Flow_(Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","item/admin_name":"@items('For_each_Desktop_Flow')?['workflowid']","item/admin_rpacreatedon":"@items('For_each_Desktop_Flow')?['createdon']","item/admin_displayname":"@items('For_each_Desktop_Flow')?['name']","item/admin_DesktopflowEnvironment@odata.bind":"admin_environments(@{triggerBody()?['admin_environmentid']})","item/admin_rpaenvironment":"@triggerOutputs()?['body/admin_displayname']","item/admin_rpaisorphaned":"yes","item/admin_rpamodifiedon":"@items('For_each_Desktop_Flow')?['modifiedon']","item/admin_rpastate":"@items('For_each_Desktop_Flow')?['_componentstate_label']","item/admin_uiflowtype":"@items('For_each_Desktop_Flow')?['_uiflowtype_label']","item/admin_rpaid":"@items('For_each_Desktop_Flow')?['ItemInternalId']","item/admin_url":"@body('Parse_RPA_JSON')?['properties']?['definition']?['url']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Get_user_profile_(V2)_New')['statusCode']","type":"Switch"}}},"expression":{"equals":["@variables('isNewToCoE')","@false"]},"type":"If"},"Reset_DesktopFlowNeedsUpdateToCoE":{"runAfter":{"Reset_isNewToCoE":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DesktopFlowNeedsUpdateToCoE","value":"@false"}},"Get_Desktop_Flow_Owner":{"runAfter":{"Parse_RPA_JSON":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@triggerOutputs()?['body/admin_environmentcdsmetadataname']","table":"systemusers","id":"@items('For_each_Desktop_Flow')?['_ownerid_value']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Initialize_variable_fullInventory":["Succeeded"]},"type":"Scope"},"Put_Desktop_Flows_in_CoE_failed_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (RPA)","item/admin_environmentname":"@triggerOutputs()?['body/admin_displayname']","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Get RPAs Failed"}}}},"runAfter":{"Put_Desktop_Flows_in_CoE":["Failed"]},"type":"Scope"},"Initialize_variable_isNewToCoE":{"runAfter":{"Get_RPAs_and_Exit_if_no_RPAs_in_envt_or_if_no_permissions":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isNewToCoE","type":"boolean","value":false}]}},"Initialize_variable_fullInventory":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fullInventory","type":"string","value":"@{parameters('FullInventory')}"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_variable_DesktopFlowNeedsUpdateToCoE":{"runAfter":{"Initialize_variable_isNewToCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DesktopFlowNeedsUpdateToCoE","type":"boolean","value":"@false"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}