CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/AdminWelcomeEmailv3-F98071EE-73A6-EB11-B1AC-000D3A19E1B0.json
{"properties":{"connectionReferences":{"shared_office365groups_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Groups"},"api":{"name":"shared_office365groups"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Outlook"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Platform Make Office 365 Group":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerPlatformMakeSecurityGroup","description":"The Admin Welcome Email flow sends a welcome email to onboard new makers and adds them to an Office 365 group. You can use this group to send communications to your makers or invite them to a Yammer or Teams group. Configure the group ID here."}},"Community URL":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_CommunityURL","description":"Link to your internal Microsoft Power Platform community (for example, Yammer or Teams)"}}},"triggers":{"When_a_row_is_added":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"admin_maker","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_group_members":{"runAfter":{"If_service_principle_then_exit_here":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups_1","operationId":"ListGroupMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"@parameters('Power Platform Make Office 365 Group')"},"authentication":"@parameters('$authentication')"}},"Add_member_to_group":{"runAfter":{"List_group_members":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups_1","operationId":"AddMemberToGroup","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"@parameters('Power Platform Make Office 365 Group')","userUpn":"@triggerOutputs()?['body/admin_userprincipalname']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Add_member_to_group":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/admin_userprincipalname']","emailMessage/Subject":"Welcome to Power Apps and Power Automate","emailMessage/Body":"<p><strong>Welcome to Microsoft Power Platform!</strong><br>\n<br>\nPower Automate </strong>is an online workflow service that is licensed through our Office 365 entitlement. It is capable of automating events across common apps and services. The Flow service contains over 230 connectors, including corporate and consumer-based services.<br>\n<br>\n<strong>Power Apps</strong> is a suite of apps, services, connectors and data platform that provides a rapid application development environment to build custom apps. Quickly build custom business apps that connect to business data, from the same set of connectors is used by Flow.<br>\n</p>\n<ul>\n  <li><a href=\"https://docs.microsoft.com/en-us/power-automate/\">Power Automate Documentation</a></li>\n  <li><a href=\"https://docs.microsoft.com/en-us/powerapps/\">Power Apps Documentation</a></li>\n  <li><a href=\"https://docs.microsoft.com/en-us/learn/browse/?resource_type=learning%20path&amp;products=flow&amp;utm_source=flow-learn-menu&amp;utm_medium=web\">Power Automate Guided Learning</a></li>\n  <li><a href=\"https://docs.microsoft.com/en-us/learn/browse/\">Power Apps Guided Learning</a></li>\n  <li><a href=\"https://powerapps.microsoft.com/en-us/blog/microsoft-powerapps-learning-resources/\">Learning Resources Blog</a></li>\n  <li><a href=\"https://powerusers.microsoft.com/t5/Microsoft-Flow-Community/ct-p/FlowCommunity\">Power Automate Community Blog</a></li>\n  <li><a href=\"https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1\">PowerApps Community</a></li>\n  <li><a href=\"@{parameters('Community URL')}\">Our Power Platform Community</a></li>\n</ul>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Add_member_to_group":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"},"description":"If Add member fails, user is already member so terminate the flow without sending an email."},"If_service_principle_then_exit_here":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/admin_userisserviceprinciple']","@true"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}