CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/CLEANUP-AdminSyncTemplatev3OrphanedMakers-E05CFB27-740D-EB11-A814-000D3A1BB7BB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365users_3":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Users"},"api":{"name":"shared_office365users"}},"shared_webcontents_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreHTTPAZUREAD"},"api":{"name":"shared_webcontents"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"schedule":{"weekDays":["Monday"],"hours":["1"]}},"type":"Recurrence"}},"actions":{"List_Makers":{"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","$select":"admin_makerid","$filter":"admin_makerisorphaned ne true and admin_displayname ne 'SYSTEM'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_maker":{"foreach":"@outputs('List_Makers')?['body/value']","actions":{"Get_Maker_Profile":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users_3","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each_maker')?['admin_makerid']","$select":"statusCode, id"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Get_Maker_Profile":["Succeeded","Failed"]},"cases":{"404_Not_Found_(Maker_not_found)":{"case":404,"actions":{"Look_up_in_AD_for_Service_Principles":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents_1","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"GET","request/url":"https://graph.microsoft.com/v1.0/servicePrincipals/@{items('Apply_to_each_maker')?['admin_makerid']}"},"authentication":"@parameters('$authentication')"}},"Switch_on_search_for_Service_Principle":{"runAfter":{"Look_up_in_AD_for_Service_Principles":["Succeeded","Failed"]},"cases":{"404_Not_Found_(Maker_is_orphan)":{"case":404,"actions":{"Update_Maker_record_(mark_as_orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_maker')?['admin_makerid']","item/admin_makerisorphaned":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_apps_of_maker":{"runAfter":{"Update_Maker_record_(mark_as_orphaned)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid","$filter":"_admin_appowner_value eq @{outputs('Update_Maker_record_(mark_as_orphaned)')?['body/admin_makerid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_app":{"foreach":"@outputs('List_apps_of_maker')?['body/value']","actions":{"Update_App_(Mark_as_orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_app')?['admin_appid']","item/cr5d5_appisorphaned":"Yes"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_apps_of_maker":["Succeeded"]},"type":"Foreach"},"List_flows_of_maker":{"runAfter":{"Apply_to_each_app":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid","$filter":"(_admin_flowcreator_value eq @{items('Apply_to_each_maker')?['admin_makerid']} and _admin_derivedowner_value eq null) or _admin_derivedowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_flow":{"foreach":"@outputs('List_flows_of_maker')?['body/value']","actions":{"Update_Flow_(Mark_as_orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_flow')?['admin_flowid']","item/cr5d5_flowisorphaned":"Yes"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_flows_of_maker":["Succeeded"]},"type":"Foreach"},"List_bots_of_maker":{"runAfter":{"Apply_to_each_flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","$select":"admin_pvaid","$filter":"_admin_pvaowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_bot":{"foreach":"@outputs('List_bots_of_maker')?['body/value']","actions":{"Update_bot_(Mark_as_orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@items('Apply_to_each_bot')?['admin_pvaid']","item/admin_pvaisorphaned":"Yes"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_bots_of_maker":["Succeeded"]},"type":"Foreach"},"List_UI_Flows_of_maker":{"runAfter":{"Apply_to_each_bot":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","$select":"admin_rpaid","$filter":"_admin_rpaowner_value eq @{items('Apply_to_each_maker')?['admin_makerid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_UI_Flow":{"foreach":"@outputs('List_UI_Flows_of_maker')?['body/value']","actions":{"Update_UI_Flow_(Mark_as_orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","recordId":"@items('Apply_to_each_UI_Flow')?['admin_rpaid']","item/admin_rpaisorphaned":"Yes"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_UI_Flows_of_maker":["Succeeded"]},"type":"Foreach"},"List_environments_of_maker":{"runAfter":{"Apply_to_each_UI_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid","$filter":"_admin_maker_value eq @{items('Apply_to_each_maker')?['admin_makerid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_environment":{"foreach":"@outputs('List_environments_of_maker')?['body/value']","actions":{"Update_Environment_(Mark_as_Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('Apply_to_each_environment')?['admin_environmentid']","item/admin_environmentisorphaned":"Yes"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_environments_of_maker":["Succeeded"]},"type":"Foreach"},"List_custom_connectors_of_maker":{"runAfter":{"Apply_to_each_environment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_connectorid","$filter":"_admin_maker_value eq @{items('Apply_to_each_maker')?['admin_makerid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_connector":{"foreach":"@outputs('List_custom_connectors_of_maker')?['body/value']","actions":{"Update_Custom_Connector_(Mark_as_Orphaned)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","recordId":"@items('Apply_to_each_connector')?['admin_connectorid']","item/admin_appisorphaned":"Yes"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_custom_connectors_of_maker":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Look_up_in_AD_for_Service_Principles')['statusCode']","type":"Switch"}}},"200_Success_-_update_manager":{"case":200,"actions":{"Get_manager":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users_3","operationId":"Manager_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@outputs('Get_Maker_Profile')?['body/id']","$select":"userPrincipalName, statusCode, id"},"authentication":"@parameters('$authentication')"}},"Switch_on_Get_Manager":{"runAfter":{"Get_manager":["Succeeded","Failed"]},"cases":{"Case_200_Found":{"case":200,"actions":{"Update_Manager":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_maker')?['admin_makerid']","item/admin_managerprinciplename":"@outputs('Get_manager')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')"}},"Get_managers_manager":{"runAfter":{"Update_Manager":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users_3","operationId":"Manager_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@outputs('Get_manager')?['body/userPrincipalName']","$select":"userPrincipalName"},"authentication":"@parameters('$authentication')"}},"Catch_-_no_M2_manager":{"runAfter":{"Get_managers_manager":["Failed"]},"type":"Compose","inputs":"Catch - no M2 manager"},"Update_M2_Manager":{"runAfter":{"Catch_-_no_M2_manager":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Apply_to_each_maker')?['admin_makerid']","item/admin_m2managerprinciplename":"@outputs('Get_managers_manager')?['body/userPrincipalName']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Get_manager')['statusCode']","type":"Switch"}}}},"default":{"actions":{}},"expression":"@outputs('Get_Maker_Profile')['statusCode']","type":"Switch","description":"Check Status Code of Get Maker Profile - if the status if 404 (Not Found) it means the maker does no longer exist in the Office 365 Users list, and has therefore left the organisation"}},"runAfter":{"List_Makers":["Succeeded"]},"type":"Foreach"},"Orphan_Makers_-_Error_Handling":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Orphaned Makers)","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Terminate":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Orphan Makers Failed"}}}},"runAfter":{"Apply_to_each_maker":["Failed"]},"type":"Scope"},"Initialize_Flow_Environment_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}