CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/CLEANUP-AdminSyncTemplatev3CheckDeleted-41419923-AB44-EB11-A813-000D3A8F4AD6.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse2"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverseLegacy"},"api":{"name":"shared_commondataservice"}},"shared_flowmanagement_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAutomateManagement"},"api":{"name":"shared_flowmanagement"}},"shared_powerappsforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsforAdmins"},"api":{"name":"shared_powerappsforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Power Automate Environment Variable":{"defaultValue":"abc","type":"String","metadata":{"schemaName":"admin_PowerAutomateEnvironmentVariable","description":"Environment, including geographic location, for Power Automate"}},"Also Delete From CoE":{"defaultValue":"yes","type":"String","metadata":{"schemaName":"admin_DeleteFromCoE","description":"when we run \"Admin | Sync Template v2 (Check Deleted)\", delete the items from CoE (yes) or just mark deleted (no)"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":2,"schedule":{"weekDays":["Saturday"]}},"type":"Recurrence"}},"actions":{"Initialize_GuidFound":{"runAfter":{"Initialize_failureOccurred":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"GuidFound","type":"string"}]}},"Initialize_systemMaker":{"runAfter":{"Initialize_GuidFound":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":" systemMaker","type":"string"}]},"description":"SYSTEM maker is used to identify the owner record for Environments generated by the system, such as the default environment"},"Initialize_variable_today":{"runAfter":{"Initialize_systemMaker":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_flowEnvironment":{"runAfter":{"Initialize_variable_today":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"string","value":"@parameters('Power Automate Environment Variable')"}]},"description":"Environment location specific Flow URL - remember / at the end"},"Initialize_varDeleteFromCoE":{"runAfter":{"Initialize_variable_flowEnvironment":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDeleteFromCoE","type":"string","value":"@parameters('Also Delete From CoE')"}]}},"Initialize_varMDAfound":{"runAfter":{"Initialize_varDeleteFromCoE":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varMDAfound","type":"boolean","value":"@false"}]}},"Initialize_varBotFound":{"runAfter":{"Initialize_varMDAfound":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBotFound","type":"boolean","value":"@false"}]}},"Get_Environments":{"runAfter":{"Unmark_Objects_as_Deleted":["Succeeded","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2020-09-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_CoE_Environments_not_marked_deleted_-_pre_new_deletes":{"runAfter":{"Get_Environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid, admin_environmentsku, admin_environmentname, admin_environmentdeletedon","$filter":"admin_environmentdeleted eq false"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Newly_Deleted_Environments":{"actions":{"For_Each_non_del_env_in_CoE":{"foreach":"@outputs('List_CoE_Environments_not_marked_deleted_-_pre_new_deletes')?['body/value']","actions":{"Find_env_in_tenant":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('Get_Environments')?['body/value']","where":"@equals(item()?['name'], items('For_Each_non_del_env_in_CoE')?['admin_environmentname'])"}},"If_Not_Found,_mark_it_and_its_objects_as_deleted":{"actions":{"Mark_Environment_as_deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('For_Each_non_del_env_in_CoE')?['admin_environmentid']","item/admin_environmentdeleted":true,"item/admin_environmentdeletedon":"@if(empty(items('For_Each_non_del_env_in_CoE')?['admin_environmentdeletedon']), variables('today'), if(less(items('For_Each_non_del_env_in_CoE')?['admin_environmentdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('For_Each_non_del_env_in_CoE')?['admin_environmentdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Flows_as_deleted_in_COE":{"actions":{"List_Flows_for_the_deleted_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid, admin_flowdeletedon","$filter":"_admin_flowenvironment_value eq '@{body('Mark_Environment_as_deleted')?['admin_environmentid']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Flow_to_get_Flow_Actions_and_mark_Flow_as_deleted":{"foreach":"@outputs('List_Flows_for_the_deleted_Environment')?['body/value']","actions":{"List_Flow_Actions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","$select":"admin_flowactiondetailid, admin_flowactiondetaildeletedon","$filter":"_admin_flow_value eq '@{items('Apply_to_each_Flow_to_get_Flow_Actions_and_mark_Flow_as_deleted')?['admin_flowid']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Flow_Action_as_deleted":{"foreach":"@outputs('List_Flow_Actions')?['body/value']","actions":{"Mark_Flow_Action_as_deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","recordId":"@items('Apply_to_each_Flow_Action_as_deleted')?['admin_flowactiondetailid']","item/admin_flowactiondetaildeleted":true,"item/admin_flowactiondetaildeletedon":"@if(empty(items('Apply_to_each_Flow_Action_as_deleted')?['admin_flowactiondetaildeletedon']), variables('today'), if(less(items('Apply_to_each_Flow_Action_as_deleted')?['admin_flowactiondetaildeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_Flow_Action_as_deleted')?['admin_flowactiondetaildeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flow_Actions":["Succeeded"]},"type":"Foreach"},"Mark_Flow_as_deleted":{"runAfter":{"Apply_to_each_Flow_Action_as_deleted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Flow_to_get_Flow_Actions_and_mark_Flow_as_deleted')?['admin_flowid']","item/admin_flowdeleted":true,"item/admin_flowdeletedon":"@if(empty(items('Apply_to_each_Flow_to_get_Flow_Actions_and_mark_Flow_as_deleted')?['admin_flowdeletedon']), variables('today'), if(less(items('Apply_to_each_Flow_to_get_Flow_Actions_and_mark_Flow_as_deleted')?['admin_flowdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_Flow_to_get_Flow_Actions_and_mark_Flow_as_deleted')?['admin_flowdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flows_for_the_deleted_Environment":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Mark_Environment_as_deleted":["Succeeded"]},"type":"Scope"},"Mark_Apps_as_deleted_in_COE":{"actions":{"List_Apps_for_the_deleted_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, admin_appdeletedon","$filter":"_admin_appenvironment_value eq '@{body('Mark_Environment_as_deleted')?['admin_environmentid']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_App_and_mark_App_as_deleted":{"foreach":"@outputs('List_Apps_for_the_deleted_Environment')?['body/value']","actions":{"Mark_App_as_deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_App_and_mark_App_as_deleted')?['admin_appid']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@if(empty(items('Apply_to_each_App_and_mark_App_as_deleted')?['admin_appdeletedon']), variables('today'), if(less(items('Apply_to_each_App_and_mark_App_as_deleted')?['admin_appdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_App_and_mark_App_as_deleted')?['admin_appdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Apps_for_the_deleted_Environment":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Mark_Environment_as_deleted":["Succeeded"]},"type":"Scope"},"Mark_PVAs_as_deleted_in_COE":{"actions":{"List_bots_for_the_deleted_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","$select":"admin_pvaid, admin_pvadeletedon","$filter":"_admin_pvaenvironment_value eq '@{body('Mark_Environment_as_deleted')?['admin_environmentid']}' and admin_pvadeleted eq false"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each":{"foreach":"@outputs('List_bots_for_the_deleted_Environment')?['body/value']","actions":{"Mark_Bot_as_Deleted":{"runAfter":{"Apply_to_each_Bot_Component_as_deleted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@items('Apply_to_each')?['admin_pvaid']","item/admin_pvadeleted":true,"item/admin_pvadeletedon":"@if(empty(items('Apply_to_each')?['admin_pvadeletedon']), variables('today'), if(less(items('Apply_to_each')?['admin_pvadeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each')?['admin_pvadeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_Bot_Components":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","$select":"admin_pvacomponentid, admin_componentdeletedon","$filter":"_admin_pvabot_value eq @{items('Apply_to_each')?['admin_pvaid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_Bot_Component_as_deleted":{"foreach":"@outputs('List_Bot_Components')?['body/value']","actions":{"Mark_Bot_Component_as_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","recordId":"@items('Apply_to_each_Bot_Component_as_deleted')?['admin_pvacomponentid']","item/admin_componentdeleted":true,"item/admin_componentdeletedon":"@if(empty(items('Apply_to_each_Bot_Component_as_deleted')?['admin_componentdeletedon']), variables('today'), if(less(items('Apply_to_each_Bot_Component_as_deleted')?['admin_componentdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_Bot_Component_as_deleted')?['admin_componentdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Bot_Components":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_bots_for_the_deleted_Environment":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Mark_Environment_as_deleted":["Succeeded"]},"type":"Scope"}},"runAfter":{"Find_env_in_tenant":["Succeeded"]},"expression":{"and":[{"equals":["@length(body('Find_env_in_tenant'))",0]},{"not":{"equals":["@items('For_Each_non_del_env_in_CoE')?['admin_environmentsku']","Default"]}}]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_CoE_Environments_not_marked_deleted_-_pre_new_deletes":["Succeeded"]},"type":"Scope"},"List_CoE_Environments_not_marked_deleted":{"runAfter":{"Newly_Deleted_Environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid, admin_environmentsku, admin_hascds, admin_environmentname, admin_environmentcdsmetadataname, admin_environmentdeletedon","$filter":"admin_environmentdeleted eq false"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Newly_Deleted_Power_Virtual_Agents":{"actions":{"Loop_envs":{"foreach":"@outputs('List_CoE_Environments_not_marked_deleted')?['body/value']","actions":{"PVA_Check_if_CDS_env._if_not,_no_bots":{"actions":{"Get_Environment_as_for_bots":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@items('Loop_envs')?['admin_environmentname']","api-version":"2020-06-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_Bots_from_CoE":{"runAfter":{"ReSet_varNoBots":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","$select":"admin_pvaid, admin_pvadeletedon","$filter":"_admin_pvaenvironment_value eq '@{items('Loop_envs')?['admin_environmentid']}' and admin_pvadeleted eq false"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Get_this_envs_PVAs_from_bots":{"runAfter":{"List_Bots_from_CoE":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@items('Loop_envs')?['admin_environmentcdsmetadataname']","table":"bots"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Set_varNoBots_to_true":{"runAfter":{"Get_this_envs_PVAs_from_bots":["Failed"]},"type":"SetVariable","inputs":{"name":"varNoBots","value":"@true"}},"ReSet_varNoBots":{"runAfter":{"Get_Environment_as_for_bots":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varNoBots","value":"@false"}},"if_no_bots,_mark_all_deleted,_else_look_each_up":{"actions":{"Mark_all_bots_deleted":{"foreach":"@outputs('List_Bots_from_CoE')?['body/value']","actions":{"Mark_all_bots_deleted_-_this_bot":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@items('Mark_all_bots_deleted')?['admin_pvaid']","item/admin_pvadeleted":true,"item/admin_pvadeletedon":"@if(empty(items('Mark_all_bots_deleted')?['admin_pvadeletedon']), variables('today'), if(less(items('Mark_all_bots_deleted')?['admin_pvadeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Mark_all_bots_deleted')?['admin_pvadeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_Bot_Components_for_Marking_Delete_-_this_bot":{"runAfter":{"Mark_all_bots_deleted_-_this_bot":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","$select":"admin_pvacomponentid, admin_componentdeletedon","$filter":"_admin_pvabot_value eq @{outputs('Mark_all_bots_deleted_-_this_bot')?['body/admin_pvaid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Loop_Bot_Components_-_this_bot":{"foreach":"@outputs('List_Bot_Components_for_Marking_Delete_-_this_bot')?['body/value']","actions":{"Mark_PVA_Component_Deleted_-_this_bot":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","recordId":"@items('Loop_Bot_Components_-_this_bot')?['admin_pvacomponentid']","item/admin_componentdeleted":true,"item/admin_componentdeletedon":"@if(empty(items('Loop_Bot_Components_-_this_bot')?['admin_componentdeletedon']), variables('today'), if(less(items('Loop_Bot_Components_-_this_bot')?['admin_componentdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Loop_Bot_Components_-_this_bot')?['admin_componentdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Bot_Components_for_Marking_Delete_-_this_bot":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Set_varNoBots_to_true":["Succeeded","Skipped"]},"else":{"actions":{"Apply_to_each_bot_in_CoE":{"foreach":"@outputs('List_Bots_from_CoE')?['body/value']","actions":{"ReSet_varBotFound":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varBotFound","value":"@false"}},"Apply_to_each_bot":{"foreach":"@outputs('Get_this_envs_PVAs_from_bots')?['body/value']","actions":{"Parse_Bot_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_bot')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"statecode":{"type":"integer"},"_statecode_label":{"type":"string"},"statuscode":{"type":"integer"},"_statuscode_label":{"type":"string"},"createdon":{"type":"string"},"schemaname":{"type":"string"},"_ownerid_value":{"type":"string"},"_ownerid_type":{"type":"string"},"overwritetime":{"type":"string"},"name":{"type":"string"},"solutionid":{"type":"string"},"ismanaged":{"type":"boolean"},"versionnumber":{"type":"integer"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"modifiedon":{"type":"string"},"language":{"type":"integer"},"_language_label":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"botid":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"},"componentidunique":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"_owningbusinessunit_type":{"type":"string"},"timezoneruleversionnumber":{},"utcconversiontimezonecode":{},"overriddencreatedon":{},"_owningteam_value":{},"importsequencenumber":{},"iscustomizable":{"type":"boolean"}}}}},"See_if_our_current_bot":{"actions":{"Set_varBotFound_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varBotFound","value":"@true"}}},"runAfter":{"Parse_Bot_JSON":["Succeeded"]},"expression":{"equals":["@body('Parse_Bot_JSON')?['botid']","@items('Apply_to_each_bot_in_CoE')?['admin_pvaid']"]},"type":"If"}},"runAfter":{"ReSet_varBotFound":["Succeeded"]},"type":"Foreach"},"If_bot_not_found,_mark_deleted":{"actions":{"Mark_Bot_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@items('Apply_to_each_bot_in_CoE')?['admin_pvaid']","item/admin_pvadeleted":true,"item/admin_pvadeletedon":"@if(empty(items('Apply_to_each_bot_in_CoE')?['admin_pvadeletedon']), variables('today'), if(less(items('Apply_to_each_bot_in_CoE')?['admin_pvadeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_bot_in_CoE')?['admin_pvadeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_Bot_Components_for_Marking_Delete":{"runAfter":{"Mark_Bot_Deleted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","$select":"admin_pvacomponentid, admin_componentdeletedon","$filter":"_admin_pvabot_value eq @{body('Mark_Bot_Deleted')?['admin_pvaid']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Loop_Bot_Components":{"foreach":"@outputs('List_Bot_Components_for_Marking_Delete')?['body/value']","actions":{"Mark_PVA_Component_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","recordId":"@items('Loop_Bot_Components')?['admin_pvacomponentid']","item/admin_componentdeleted":true,"item/admin_componentdeletedon":"@if(empty(items('Loop_Bot_Components')?['admin_componentdeletedon']), variables('today'), if(less(items('Loop_Bot_Components')?['admin_componentdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Loop_Bot_Components')?['admin_componentdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Bot_Components_for_Marking_Delete":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Apply_to_each_bot":["Succeeded"]},"expression":{"equals":["@variables('varBotFound')","@false"]},"type":"If"}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@variables('varNoBots')","@true"]},"type":"If"}},"runAfter":{},"expression":{"equals":["@items('Loop_envs')?['admin_hascds']","@true"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_CoE_Environments_not_marked_deleted":["Succeeded"]},"type":"Scope"},"Initialize_failureOccurred":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"failureOccurred","type":"boolean","value":"@false"}]}},"Error_Handling_PVA":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Check Deleted) - PVA","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_failureOccured_true":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors":["Succeeded"]},"type":"SetVariable","inputs":{"name":"failureOccurred","value":"@true"}}},"runAfter":{"Newly_Deleted_Power_Virtual_Agents":["Failed"]},"type":"Scope"},"Newly_Deleted_Model_Driven_Apps":{"actions":{"Loop_envs_2":{"foreach":"@outputs('List_CoE_Environments_not_marked_deleted')?['body/value']","actions":{"MDA_check_if_CDS,_if_not_no_model_driven_apps":{"actions":{"Get_Environment_as_for_appmodules":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@items('Loop_envs_2')?['admin_environmentname']","api-version":"2020-06-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_Model_Driven_Apps_from_CoE":{"runAfter":{"ReSet_varNoMDAs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, admin_appdeletedon","$filter":"_admin_appenvironment_value eq '@{items('Loop_envs_2')?['admin_environmentid']}' and admin_appdeleted eq false and admin_powerappstype eq 597910001"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Get_this_envs_MDAs_from_appmodules":{"runAfter":{"List_Model_Driven_Apps_from_CoE":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@items('Loop_envs_2')?['admin_environmentcdsmetadataname']","table":"appmodules"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Set_varNoMDAs_to_true":{"runAfter":{"Get_this_envs_MDAs_from_appmodules":["Failed"]},"type":"SetVariable","inputs":{"name":"varNoMDAs","value":"@true"}},"if_no_MDAs,_mark_all_deleted,_else_look_each_up":{"actions":{"Mark_all_MDAs_deleted":{"foreach":"@outputs('List_Model_Driven_Apps_from_CoE')?['body/value']","actions":{"Mark_all_MDAs_deleted_-_this_MDA":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Mark_all_MDAs_deleted')?['admin_appid']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@if(empty(items('Mark_all_MDAs_deleted')?['admin_appdeletedon']), variables('today'), if(less(items('Mark_all_MDAs_deleted')?['admin_appdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Mark_all_MDAs_deleted')?['admin_appdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Set_varNoMDAs_to_true":["Succeeded","Skipped"]},"else":{"actions":{"Apply_to_each_MDA_in_CoE":{"foreach":"@outputs('List_Model_Driven_Apps_from_CoE')?['body/value']","actions":{"ReSet_varMDAfound":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varMDAfound","value":"@false"}},"Apply_to_each_Model_Driven_App":{"foreach":"@outputs('Get_this_envs_MDAs_from_appmodules')?['body/value']","actions":{"Parse_Model_Driven_App_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@items('Apply_to_each_Model_Driven_App')","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"overwritetime":{"type":"string"},"isfeatured":{"type":"boolean"},"_organizationid_value":{"type":"string"},"_organizationid_type":{"type":"string"},"descriptor":{"type":"string"},"solutionid":{"type":"string"},"uniquename":{"type":"string"},"formfactor":{"type":"integer"},"ismanaged":{"type":"boolean"},"appmoduleidunique":{"type":"string"},"navigationtype":{"type":"integer"},"_navigationtype_label":{"type":"string"},"appmoduleid":{"type":"string"},"createdon":{"type":"string"},"componentstate":{"type":"integer"},"_componentstate_label":{"type":"string"},"modifiedon":{"type":"string"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"versionnumber":{"type":"integer"},"webresourceid":{"type":"string"},"isdefault":{"type":"boolean"},"name":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"}}}}},"See_if_our_current_MDA":{"actions":{"Set_varMDAfound_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varMDAfound","value":"@true"}}},"runAfter":{"Parse_Model_Driven_App_JSON":["Succeeded"]},"expression":{"equals":["@body('Parse_Model_Driven_App_JSON')?['ItemInternalId']","@items('Apply_to_each_MDA_in_CoE')?['admin_appid']"]},"type":"If"}},"runAfter":{"ReSet_varMDAfound":["Succeeded"]},"type":"Foreach"},"If_MDA_not_found,_mark_deleted":{"actions":{"Mark_MDA_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_MDA_in_CoE')?['admin_appid']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@if(empty(items('Apply_to_each_MDA_in_CoE')?['admin_appdeletedon']), variables('today'), if(less(items('Apply_to_each_MDA_in_CoE')?['admin_appdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_MDA_in_CoE')?['admin_appdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Apply_to_each_Model_Driven_App":["Succeeded"]},"expression":{"equals":["@variables('varMDAfound')","@false"]},"type":"If"}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@variables('varNoMDAs')","@true"]},"type":"If"},"ReSet_varNoMDAs":{"runAfter":{"Get_Environment_as_for_appmodules":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varNoMDAs","value":"@false"}}},"runAfter":{},"expression":{"equals":["@items('Loop_envs_2')?['admin_hascds']","@true"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Error_Handling_PVA":["Succeeded","Skipped"]},"type":"Scope"},"Newly_Deleted_Flows":{"actions":{"Loop_envs_3":{"foreach":"@outputs('List_CoE_Environments_not_marked_deleted')?['body/value']","actions":{"List_Flow_from_CoE":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid, admin_flowdeletedon","$filter":"_admin_flowenvironment_value eq '@{items('Loop_envs_3')?['admin_environmentid']}' and admin_flowdeleted eq false"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Flows_as_Admin":{"runAfter":{"List_Flow_from_CoE":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"ListFlowsInEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@items('Loop_envs_3')?['admin_environmentname']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_flow_in_CoE":{"foreach":"@outputs('List_Flow_from_CoE')?['body/value']","actions":{"Filter_tenant_flows_to_this_flow_from_CoE":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('List_Flows_as_Admin')?['body/value']","where":"@equals(item()?['name'], items('Apply_to_each_flow_in_CoE')?['admin_flowid'])"}},"If_not_found_in_tenant,_mark_flow_deleted":{"actions":{"Mark_Flow_deleted_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_flow_in_CoE')?['admin_flowid']","item/admin_flowdeleted":true,"item/admin_flowdeletedon":"@if(empty(items('Apply_to_each_flow_in_CoE')?['admin_flowdeletedon']), variables('today'), if(less(items('Apply_to_each_flow_in_CoE')?['admin_flowdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_flow_in_CoE')?['admin_flowdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_Flow_Actions_for_This_Flow":{"runAfter":{"Mark_Flow_deleted_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","$select":"admin_flowactiondetailid, admin_flowactiondetaildeletedon","$filter":"_admin_flow_value eq '@{items('Apply_to_each_flow_in_CoE')?['admin_flowid']}'"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Mark_each_Flow_Action_Detail_as_deleted":{"foreach":"@outputs('List_Flow_Actions_for_This_Flow')?['body/value']","actions":{"Mark_Flow_Action_Detail_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","recordId":"@items('Mark_each_Flow_Action_Detail_as_deleted')?['admin_flowactiondetailid']","item/admin_flowactiondetaildeleted":true,"item/admin_flowactiondetaildeletedon":"@if(empty(items('Mark_each_Flow_Action_Detail_as_deleted')?['admin_flowactiondetaildeletedon']), variables('today'), if(less(items('Mark_each_Flow_Action_Detail_as_deleted')?['admin_flowactiondetaildeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Mark_each_Flow_Action_Detail_as_deleted')?['admin_flowactiondetaildeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flow_Actions_for_This_Flow":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Filter_tenant_flows_to_this_flow_from_CoE":["Succeeded"]},"expression":{"equals":["@length(body('Filter_tenant_flows_to_this_flow_from_CoE'))",0]},"type":"If"}},"runAfter":{"List_Flows_as_Admin":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Error_Handling_Model_Driven_Apps":["Succeeded","Skipped"]},"type":"Scope"},"Newly_Deleted_Canvas_Apps":{"actions":{"Loop_envs_4":{"foreach":"@outputs('List_CoE_Environments_not_marked_deleted')?['body/value']","actions":{"List_Apps_from_CoE":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, admin_appdeletedon","$filter":"_admin_appenvironment_value eq '@{items('Loop_envs_4')?['admin_environmentid']}' and admin_appdeleted eq false and admin_powerappstype eq 597910000"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Get_Apps_as_Admin":{"runAfter":{"List_Apps_from_CoE":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins_1","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@items('Loop_envs_4')?['admin_environmentname']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_app_in_CoE":{"foreach":"@outputs('List_Apps_from_CoE')?['body/value']","actions":{"Filter_tenant_apps_to_this_app_from_CoE":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('Get_Apps_as_Admin')?['body/value']","where":"@equals(item()?['name'], items('Apply_to_each_app_in_CoE')?['admin_appid'])"}},"If_not_found_in_tenant,_mark_deleted":{"actions":{"Mark_Canvas_App_as_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_app_in_CoE')?['admin_appid']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@if(empty(items('Apply_to_each_app_in_CoE')?['admin_appdeletedon']), variables('today'), if(less(items('Apply_to_each_app_in_CoE')?['admin_appdeletedon'], addDays(utcNow(), -5000)), variables('today'), items('Apply_to_each_app_in_CoE')?['admin_appdeletedon']))"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_tenant_apps_to_this_app_from_CoE":["Succeeded"]},"expression":{"equals":["@length(body('Filter_tenant_apps_to_this_app_from_CoE'))",0]},"type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Error_Handling_Flows":["Succeeded","Skipped"]},"type":"Scope"},"Error_Handling_Model_Driven_Apps":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Check Deleted) - Model Driven Apps","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_failureOccured_true_2":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"failureOccurred","value":"@true"}}},"runAfter":{"Newly_Deleted_Model_Driven_Apps":["Failed"]},"type":"Scope"},"Error_Handling_Flows":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Check Deleted) - Flows"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_failureOccured_true_3":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"failureOccurred","value":"@true"}}},"runAfter":{"Newly_Deleted_Flows":["Failed"]},"type":"Scope"},"Error_Handling_Canvas_Apps":{"actions":{"Create_a_new_record_-_Sync_Flow_Errors_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_syncflowerrorses","item/admin_name":"Admin | Sync Template v3 (Check Deleted) - Canvas Apps","item/admin_flowinstanceurl":"@concat(variables('flowEnvironment'), workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Set_failureOccured_true_4":{"runAfter":{"Create_a_new_record_-_Sync_Flow_Errors_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"failureOccurred","value":"@true"}}},"runAfter":{"Newly_Deleted_Canvas_Apps":["Failed"]},"type":"Scope"},"Deletes_items_from_CoE_":{"actions":{"Check_if_they_want_to_delete_from_CoE":{"actions":{"List_Apps_Marked_Deleted_To_Delete":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid","$filter":"admin_appdeleted eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Flows_Marked_Deleted_To_Delete":{"runAfter":{"Delete_Each_App":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid","$filter":"admin_flowdeleted eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Flow_Actions_Marked_Deleted_To_Delete":{"runAfter":{"Delete_Each_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","$select":"admin_flowactiondetailid","$filter":"admin_flowactiondetaildeleted eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_PVAs_Marked_Deleted_To_Delete":{"runAfter":{"Delete_Each_Flow_Action":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","$select":"admin_pvaid","$filter":"admin_pvadeleted eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_PVA_Components_Marked_Deleted_To_Delete":{"runAfter":{"Delete_Each_PVA":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","$select":"admin_pvacomponentid","$filter":"admin_componentdeleted eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Envts_Marked_Deleted_To_Delete":{"runAfter":{"Delete_Each_PVA_Component_Flow_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid","$filter":"admin_environmentdeleted eq true"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_Each_App":{"foreach":"@outputs('List_Apps_Marked_Deleted_To_Delete')?['body/value']","actions":{"Delete_App":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Delete_Each_App')?['admin_appid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Apps_Marked_Deleted_To_Delete":["Succeeded"]},"type":"Foreach"},"Delete_Each_Flow":{"foreach":"@outputs('List_Flows_Marked_Deleted_To_Delete')?['body/value']","actions":{"Delete_Flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Delete_Each_Flow')?['admin_flowid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flows_Marked_Deleted_To_Delete":["Succeeded"]},"type":"Foreach"},"Delete_Each_Flow_Action":{"foreach":"@outputs('List_Flow_Actions_Marked_Deleted_To_Delete')?['body/value']","actions":{"Delete_Flow_Action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","recordId":"@items('Delete_Each_Flow_Action')?['admin_flowactiondetailid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flow_Actions_Marked_Deleted_To_Delete":["Succeeded"]},"type":"Foreach"},"Delete_Each_PVA":{"foreach":"@outputs('List_PVAs_Marked_Deleted_To_Delete')?['body/value']","actions":{"Delete_PVA":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@items('Delete_Each_PVA')?['admin_pvaid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_PVAs_Marked_Deleted_To_Delete":["Succeeded"]},"type":"Foreach"},"Delete_Each_PVA_Component":{"foreach":"@outputs('List_PVA_Components_Marked_Deleted_To_Delete')?['body/value']","actions":{"Delete_PVA_Component":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","recordId":"@items('Delete_Each_PVA_Component')?['admin_pvacomponentid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_PVA_Components_Marked_Deleted_To_Delete":["Succeeded"]},"type":"Foreach"},"List_PVA_Component_Flows_with_Missing_Flow":{"runAfter":{"Delete_Each_PVA_Component":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","$select":"admin_pvacomponentflowlookupid","$filter":"_admin_flow_value eq null"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_PVA_Component_Flows_with_Missing_PVA_Component":{"runAfter":{"Delete_Each_PVA_Component_Flow_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","$select":"admin_pvacomponentflowlookupid","$filter":"_admin_pvacomponent_value eq null"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_Each_PVA_Component_Flow_1":{"foreach":"@outputs('List_PVA_Component_Flows_with_Missing_Flow')?['body/value']","actions":{"Delete_PVA_Component_Flow_1":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","recordId":"@items('Delete_Each_PVA_Component_Flow_1')?['admin_pvacomponentflowlookupid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_PVA_Component_Flows_with_Missing_Flow":["Succeeded"]},"type":"Foreach"},"Delete_Each_PVA_Component_Flow_2":{"foreach":"@outputs('List_PVA_Component_Flows_with_Missing_PVA_Component')?['body/value']","actions":{"Delete_PVA_Component_Flow_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponentflowlookups","recordId":"@items('Delete_Each_PVA_Component_Flow_2')?['admin_pvacomponentflowlookupid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_PVA_Component_Flows_with_Missing_PVA_Component":["Succeeded"]},"type":"Foreach"},"Delete_Each_Environment":{"foreach":"@outputs('List_Envts_Marked_Deleted_To_Delete')?['body/value']","actions":{"Delete_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('Delete_Each_Environment')?['admin_environmentid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Envts_Marked_Deleted_To_Delete":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@variables('varDeleteFromCoE')","yes"]},"type":"If"}},"runAfter":{"Error_Handling_Canvas_Apps":["Succeeded","Skipped"]},"type":"Scope"},"Initialize_varNoBots":{"runAfter":{"Initialize_varBotFound":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNoBots","type":"boolean","value":"@false"}]}},"See_if_anything_failed_above":{"actions":{"Terminate_Flow_with_Failure":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"500","message":"Flow failed in at least one scope above"}}}},"runAfter":{"Deletes_items_from_CoE_":["Succeeded"]},"expression":{"equals":["@variables('failureOccurred')","@true"]},"type":"If"},"Initialize_varNoMDAs":{"runAfter":{"Initialize_varNoBots":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNoMDAs","type":"boolean","value":"@false"}]}},"Delete_Bad_Data":{"actions":{"List_Apps_with_No_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid","$filter":"_admin_appenvironment_value eq null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_Apps_without_Environments":{"foreach":"@outputs('List_Apps_with_No_Environment')?['body/value']","actions":{"Delete_app_without_environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Delete_Apps_without_Environments')?['admin_appid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Apps_with_No_Environment":["Succeeded"]},"type":"Foreach"},"List_Flow_with_No_Environment":{"runAfter":{"Delete_Desktop_Flows_without_Environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid","$filter":"_admin_flowenvironment_value eq null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_Flows_without_Environments":{"foreach":"@outputs('List_Flow_with_No_Environment')?['body/value']","actions":{"Delete_flow_without_environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Delete_Flows_without_Environments')?['admin_flowid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flow_with_No_Environment":["Succeeded"]},"type":"Foreach"},"List_CoE_Connection_References_with_no_Connection":{"runAfter":{"Delete_Flows_without_Environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid","$filter":"_admin_connector_value eq null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_CoE_Connection_References_with_no_Connection":{"foreach":"@outputs('List_CoE_Connection_References_with_no_Connection')?['body/value']","actions":{"Delete_connection_reference":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","recordId":"@items('Delete_CoE_Connection_References_with_no_Connection')?['admin_connectionreferenceid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_CoE_Connection_References_with_no_Connection":["Succeeded"]},"type":"Foreach"},"List_CoE_Connection_References_with_neither_app_nor_flow":{"runAfter":{"Delete_CoE_Connection_References_with_no_Connection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","$select":"admin_connectionreferenceid","$filter":"_admin_app_value eq null and _admin_flow_value eq null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_CoE_Connection_References_with_neither_app_nor_flow":{"foreach":"@outputs('List_CoE_Connection_References_with_neither_app_nor_flow')?['body/value']","actions":{"Delete_connection_reference_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectionreferences","recordId":"@items('Delete_CoE_Connection_References_with_neither_app_nor_flow')?['admin_connectionreferenceid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_CoE_Connection_References_with_neither_app_nor_flow":["Succeeded"]},"type":"Foreach"},"List_Custom_Connection_with_no_Environment":{"runAfter":{"Delete_CoE_Connection_References_with_neither_app_nor_flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","$select":"admin_connectorid","$filter":"_admin_environmentcustomconnector_value eq null and admin_iscustomapi eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_Custom_Connection_with_no_Environmnet":{"foreach":"@outputs('List_Custom_Connection_with_no_Environment')?['body/value']","actions":{"Delete_custom_connection":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_connectors","recordId":"@items('Delete_Custom_Connection_with_no_Environmnet')?['admin_connectorid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Custom_Connection_with_no_Environment":["Succeeded"]},"type":"Foreach"},"List_Flow_Actions_with_no_Flow_or_no_Envt":{"runAfter":{"Delete_Custom_Connection_with_no_Environmnet":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","$select":"admin_flowactiondetailid","$filter":"_admin_flow_value eq null or _admin_flowactiondetailenvrinment_value eq null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Delete_Flow_Actions_with_no_Flow_or_Envt":{"foreach":"@outputs('List_Flow_Actions_with_no_Flow_or_no_Envt')?['body/value']","actions":{"Delete_flow_action_detail":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","recordId":"@items('Delete_Flow_Actions_with_no_Flow_or_Envt')?['admin_flowactiondetailid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flow_Actions_with_no_Flow_or_no_Envt":["Succeeded"]},"type":"Foreach"},"List_Desktop_Flows_with_No_Environment":{"runAfter":{"Delete_Apps_without_Environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","$select":"admin_rpaid","$filter":"_admin_desktopflowenvironment_value eq null"},"authentication":"@parameters('$authentication')"}},"Delete_Desktop_Flows_without_Environments":{"foreach":"@outputs('List_Desktop_Flows_with_No_Environment')?['body/value']","actions":{"Delete_desktop_flow_without_environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_rpas","recordId":"@items('Delete_Desktop_Flows_without_Environments')?['admin_rpaid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Desktop_Flows_with_No_Environment":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_varNoMDAs":["Succeeded"]},"type":"Scope","description":"We will build to this clean up over time. For now just a few to get it started"},"Unmark_Objects_as_Deleted":{"actions":{"List_Apps_Marked_Deleted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid","$filter":"admin_appdeleted eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Flows_Marked_Deleted":{"runAfter":{"Unmark_All_Apps":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","$select":"admin_flowid","$filter":"admin_flowdeleted eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Flow_Action_Details_Marked_Deleted":{"runAfter":{"Unmark_All_Flows":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","$select":"admin_flowactiondetailid","$filter":"admin_flowactiondetaildeleted eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_PVAs_Marked_Deleted":{"runAfter":{"Unmark_All_Flows_Action_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","$select":"admin_pvaid","$filter":"admin_pvadeleted eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_PVA_Components_Deleted":{"runAfter":{"Unmark_All_PVAs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","$select":"admin_pvacomponentid","$filter":"admin_componentdeleted eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_Envs_Marked_Deleted":{"runAfter":{"Unmark_All_PVA_Components":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid","$filter":"admin_environmentdeleted eq true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Unmark_All_Apps":{"foreach":"@outputs('List_Apps_Marked_Deleted')?['body/value']","actions":{"Unmark_App":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Unmark_All_Apps')?['admin_appid']","item/admin_appdeleted":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Apps_Marked_Deleted":["Succeeded"]},"type":"Foreach"},"Unmark_All_Flows_Action_Details":{"foreach":"@outputs('List_Flow_Action_Details_Marked_Deleted')?['body/value']","actions":{"Unmark_Flow_Action_Detail":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flowactiondetails","recordId":"@items('Unmark_All_Flows_Action_Details')?['admin_flowactiondetailid']","item/admin_flowactiondetaildeleted":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flow_Action_Details_Marked_Deleted":["Succeeded"]},"type":"Foreach"},"Unmark_All_Flows":{"foreach":"@outputs('List_Flows_Marked_Deleted')?['body/value']","actions":{"Unmark_Flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Unmark_All_Flows')?['admin_flowid']","item/admin_flowdeleted":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Flows_Marked_Deleted":["Succeeded"]},"type":"Foreach"},"Unmark_All_Envs":{"foreach":"@outputs('List_Envs_Marked_Deleted')?['body/value']","actions":{"Unmark_Env":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('Unmark_All_Envs')?['admin_environmentid']","item/admin_environmentdeleted":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_Envs_Marked_Deleted":["Succeeded"]},"type":"Foreach"},"Unmark_All_PVA_Components":{"foreach":"@outputs('List_PVA_Components_Deleted')?['body/value']","actions":{"Unmark_PVA_Component":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvacomponents","recordId":"@items('Unmark_All_PVA_Components')?['admin_pvacomponentid']","item/admin_componentdeleted":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_PVA_Components_Deleted":["Succeeded"]},"type":"Foreach"},"Unmark_All_PVAs":{"foreach":"@outputs('List_PVAs_Marked_Deleted')?['body/value']","actions":{"Unmark_PVA":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_pvas","recordId":"@items('Unmark_All_PVAs')?['admin_pvaid']","item/admin_pvadeleted":false},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_PVAs_Marked_Deleted":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Delete_Bad_Data":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}