CoEStarterKit/CenterofExcellenceCoreComponentsTeams_1_992_managed/Workflows/CLEANUP-AdminSyncTemplatev3PowerAppsUserSharedWith-B0EDF614-AD0F-EB11-A814-000D3A1BB7BB.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerPlatformforAdmins"},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreDataverse"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerappsforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECorePowerAppsforAdmins"},"api":{"name":"shared_powerappsforadmins"}},"shared_office365groups":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CoECoreO365Groups"},"api":{"name":"shared_office365groups"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"staticResults":{"List_Environments_as_Admin0":{"status":"Succeeded","outputs":{"statusCode":"OK","headers":{}}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":2,"schedule":{"weekDays":["Sunday"]}},"type":"Recurrence"}},"actions":{"Initialize_Group_Size":{"runAfter":{"Initialize_variable_EnvironmentName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sharedGroupSize","type":"integer","value":0}]}},"Initialize_User_Role_ID":{"runAfter":{"Initialize_Group_Size":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"userRoleObject","type":"string"}]}},"Initialize_variable_EnvironmentName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"EnvironmentName","type":"string"}]}},"List_Environments_as_Admin":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2020-06-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000},"staticResult":{"staticResultOptions":"Disabled","name":"List_Environments_as_Admin0"}}},"Walk_Each_Environment":{"foreach":"@outputs('List_Environments_as_Admin')?['body/value']","actions":{"Get_Environment_":{"actions":{"Envt_Name":{"runAfter":{},"type":"Compose","inputs":"@substring(items('Walk_Each_Environment')?['name'], sub(length(items('Walk_Each_Environment')?['name']), 36), 36)"},"Get_Envt_from_CoE":{"runAfter":{"Envt_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentid","$filter":"admin_environmentid eq @{outputs('Envt_Name')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Scope"},"Proceed_if_Envt_already_in_CoE":{"actions":{"Get_Apps_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins_1","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@items('Walk_Each_Environment')?['name']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Filter_To_Non_Embedded_Apps":{"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_Apps_as_Admin')?['body/value']","where":"@not(equals(item()?['properties']?['embeddedApp']?['type'], 'SharepointFormApp'))"}},"Walk_the_Apps_in_this_Envt":{"foreach":"@body('Filter_To_Non_Embedded_Apps')","actions":{"Get_App_Role_Assignments_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins_1","operationId":"Get-AdminAppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@items('Walk_Each_Environment')?['name']","app":"@items('Walk_the_Apps_in_this_Envt')?['name']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each":{"foreach":"@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']","actions":{"Upsert_Power_Platform_User":{"actions":{"Compose_User_Unique_ID":{"runAfter":{},"type":"Compose","inputs":"@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])"},"Update_Power_Platform_User_":{"runAfter":{"Compose_User_Unique_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformusers","recordId":"@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])","item/admin_displayname":"@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')","item/admin_groupsize":"@variables('sharedGroupSize')","item/admin_type":"@items('Apply_to_each')?['properties/principal/type']","item/admin_userprincipalname":"@coalesce(items('Apply_to_each')?['properties/principal/email'], '')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}}},"Insert_Power_Platform_User":{"runAfter":{"Update_Power_Platform_User_":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformusers","item/admin_displayname":"@coalesce(items('Apply_to_each')?['properties/principal/displayName'], 'Tenant')","item/admin_groupsize":"@variables('sharedGroupSize')","item/admin_powerplatformuserid":"@coalesce(items('Apply_to_each')?['properties/principal/id'], items('Apply_to_each')?['properties/principal/tenantId'])","item/admin_userprincipalname":"@coalesce(items('Apply_to_each')?['properties/principal/email'], '')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}},"description":"If Update fails, try Insert"}},"runAfter":{"Switch":["Succeeded"]},"type":"Scope"},"Upsert_Power_Platform_User_Role":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformuserroles","$filter":"admin_resourceuserlink eq '@{concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])}'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Condition":{"actions":{"Create_Power_Platform_User_Role":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformuserroles","item/admin_name":"@concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])","item/admin_resourcetype":"App","item/admin_resourceuserlink":"@concat(items('Apply_to_each')?['name'], outputs('Get_a_record')?['body/admin_appid'])","item/admin_rolename":"@items('Apply_to_each')?['properties/roleName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}}},"Set_OData_ID_from_Create":{"runAfter":{"Create_Power_Platform_User_Role":["Succeeded"]},"type":"SetVariable","inputs":{"name":"oData","value":"@outputs('Create_Power_Platform_User_Role')?['body/@odata.id']"}}},"runAfter":{"Apply_to_each_record":["Succeeded"]},"else":{"actions":{"Update_Power_Platform_User_Role":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformuserroles","recordId":"@variables('userRoleObject')","item/admin_resourcetype":"App","item/admin_rolename":"@items('Apply_to_each')?['properties/roleName']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}}},"Set_OData_ID_from_Update":{"runAfter":{"Update_Power_Platform_User_Role":["Succeeded"]},"type":"SetVariable","inputs":{"name":"oData","value":"@outputs('Update_Power_Platform_User_Role')?['body/@odata.id']"}}}},"expression":{"equals":["@length(outputs('List_records')?['body/value'])",0]},"type":"If"},"Apply_to_each_record":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"userRoleObject","value":"@items('Apply_to_each_record')?['admin_powerplatformuserroleid']"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Upsert_Power_Platform_User":["Succeeded"]},"type":"Scope"},"Relate_User_with_Role":{"runAfter":{"Upsert_Power_Platform_User_Role":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformusers","recordId":"@outputs('Compose_User_Unique_ID')","associationEntityRelationship":"admin_PowerPlatformUser_User","item/@odata.id":"@variables('oData')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}}},"Relate_App_with_Role":{"runAfter":{"Relate_User_with_Role":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@outputs('Get_a_record')?['body/admin_appid']","associationEntityRelationship":"admin_PowerPlatformUserRole_App_admin_App","item/@odata.id":"@coalesce(outputs('Update_Power_Platform_User_Role')?['body/@odata.id'], outputs('Create_Power_Platform_User_Role')?['body/@odata.id'])"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT20S"}}},"Switch":{"runAfter":{"Compose_2":["Skipped"]},"cases":{"Case":{"case":"Group","actions":{"Set_Group_Size_for_Groups":{"runAfter":{"List_group_members":["Succeeded"]},"type":"SetVariable","inputs":{"name":"sharedGroupSize","value":"@length(outputs('List_group_members')?['body/value'])"}},"List_group_members":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups","operationId":"ListGroupMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"@items('Apply_to_each')?['properties']?['principal']?['id']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}}},"Case_2":{"case":"User","actions":{"Set_Group_Size_for_User":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sharedGroupSize","value":1}}}}},"default":{"actions":{"Set_Default_Group_Size":{"runAfter":{},"type":"SetVariable","inputs":{"name":"sharedGroupSize","value":0}}}},"expression":"@items('Apply_to_each')?['properties/principal/type']","type":"Switch"},"Compose_2":{"runAfter":{"Get_a_record":["Failed"]},"type":"Compose","inputs":"catch"},"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Walk_the_Apps_in_this_Envt')?['name']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Compose":["Skipped"]},"type":"Foreach"},"Compose":{"runAfter":{"Get_App_Role_Assignments_as_Admin":["Failed"]},"type":"Compose","inputs":"catch"},"List_Power_Platform_Users":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformusers","$select":"admin_powerplatformuserid","fetchXml":"<fetch>\n  <entity name=\"admin_powerplatformuser\" >\n    <link-entity name=\"admin_powerplatformuserrole\" from=\"admin_powerplatformuser\" to=\"admin_powerplatformuserid\" link-type=\"inner\" >\n      <filter type=\"and\" >\n        <condition attribute=\"admin_app\" operator=\"eq\" value=\"@{items('Walk_the_Apps_in_this_Envt')?['name']}\" uitype=\"admin_app\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Filter_delta":{"runAfter":{"Select_Role_Assignment_User_IDs":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Select_Power_Platform_User_IDs')","where":"@equals(contains(body('Select_Role_Assignment_User_IDs'), item()), false)"}},"Select_Power_Platform_User_IDs":{"runAfter":{"List_Power_Platform_Users":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('List_Power_Platform_Users')?['body/value']","select":{"ID":"@item()?['admin_powerplatformuserid']"}}},"Select_Role_Assignment_User_IDs":{"runAfter":{"Select_Power_Platform_User_IDs":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']","select":{"ID":"@item()?['name']"}}},"Apply_to_each_unshare":{"foreach":"@body('Filter_delta')","actions":{"Unrelate_User_from_Role":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformusers","recordId":"@items('Apply_to_each_unshare')?['ID']","associationEntityRelationship":"admin_PowerPlatformUser_User","$id":"@variables('oData')"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"List_records_2":{"runAfter":{"Unrelate_User_from_Role":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_powerplatformuserroles","$filter":"_admin_powerplatformuser_value eq @{items('Apply_to_each_unshare')?['ID']} and _admin_app_value eq @{items('Walk_the_Apps_in_this_Envt')?['name']}","$top":1},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Apply_to_each_2":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Compose_3":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_2')?['@odata.id']"},"Unrelate_records":{"runAfter":{"Compose_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Walk_the_Apps_in_this_Envt')?['name']","associationEntityRelationship":"admin_PowerPlatformUserRole_App_admin_App","$id":"@items('Apply_to_each_2')?['@odata.id']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_records_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Filter_delta":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Filter_To_Non_Embedded_Apps":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Environment_":["Succeeded"]},"expression":{"greater":["@length(outputs('Get_Envt_from_CoE')?['body/value'])",0]},"type":"If"}},"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Initialize_User_Role_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"oData","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}