CoEStarterKit/CenterofExcellenceInnovationBacklog_1_30_managed/Workflows/Addpainpoints-7F166395-3204-EB11-A813-000D3A31CB42.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_InnovationBacklogCDSCurrent"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Starter_PainPoints":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"PPs","type":"array","value":["Disparate Data / Processes across Team","Pen and Paper Forms","Time Consuming Manual Work","People not enrolled in process","Processing Delays","Error Prone","Data Loss","Use a 3rd Party Tool","Does not support Mobile Work"]}]}},"Add_Pain_Points":{"actions":{"Apply_to_each":{"foreach":"@variables('PPs')","actions":{"See_if_already_exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$select":"admin_name","$filter":"admin_name eq  '@{items('Apply_to_each')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there":{"actions":{},"runAfter":{"See_if_already_exists":["Succeeded"]},"else":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","item/admin_name":"@items('Apply_to_each')","item/admin_displayname":"@items('Apply_to_each')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists')?['body/value'])",0]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Initialize_var_PPGUID":["Succeeded"]},"type":"Scope"},"Add_data_loss_pain_points":{"actions":{"Get_Record_-_Data_Loss":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Data Loss'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Data_Loss":{"runAfter":{"Get_Record_-_Data_Loss":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Data_Loss')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Time_Spent_Retriving_Data":{"runAfter":{"Get_GUID_-_Data_Loss":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Time Spent Retriving Data'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Spent_Retriving_Data":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Spent_Retriving_Data":["Succeeded"]},"else":{"actions":{"Add_Time_Spent_Retriving_Data":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Spent Retriving Data","item/admin_defaultdisplayname":"Time Spent Retriving Data","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Spent_Retriving_Data')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Money_Lost_due_to_Data_Loss":{"runAfter":{"only_add_if_not_already_there_-_Time_Spent_Retriving_Data":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Money Lost due to Data Loss'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Money_Lost_due_to_Data_Loss":{"actions":{},"runAfter":{"See_if_already_exists_-_Money_Lost_due_to_Data_Loss":["Succeeded"]},"else":{"actions":{"Add_Money_Lost_due_to_Data_Loss":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Money Lost due to Data Loss","item/admin_defaultdisplayname":"Money Lost due to Data Loss","item/admin_defaultmeasuretype":597910001,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Money_Lost_due_to_Data_Loss')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Pain_Points":["Succeeded"]},"type":"Scope"},"Initialize_var_PPGUID":{"runAfter":{"Starter_PainPoints":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PPGUID","type":"string"}]}},"Add_Disparate_Data_Processes_across_Team":{"actions":{"Get_Record_-_Disparate_Data_Processes_across_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Disparate Data / Processes across Team'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Disparate_Data_Processes_across_Team":{"runAfter":{"Get_Record_-_Disparate_Data_Processes_across_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Disparate_Data_Processes_across_Team')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Time_Spent_Training":{"runAfter":{"Get_GUID_-_Disparate_Data_Processes_across_Team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Time Spent Training'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Spent_Training":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Spent_Training":["Succeeded"]},"else":{"actions":{"Add_Time_Spent_Training":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Spent Training","item/admin_defaultdisplayname":"Time Spent Training","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Spent_Training')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Time_Spent_Compiling_Data":{"runAfter":{"only_add_if_not_already_there_-_Time_Spent_Training":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Time Spent Compiling Data'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Spent_Compiling_Data":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Spent_Compiling_Data":["Succeeded"]},"else":{"actions":{"Add_Time_Spent_Compiling_Data":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Spent Compiling Data","item/admin_defaultdisplayname":"Time Spent Compiling Data","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Spent_Compiling_Data')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_data_loss_pain_points":["Succeeded"]},"type":"Scope"},"Add_Does_not_support_Mobile_Work_":{"actions":{"Get_Record_-_Does_not_support_Mobile_Work":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Does not support Mobile Work'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Does_not_support_Mobile_Work_":{"runAfter":{"Get_Record_-_Does_not_support_Mobile_Work":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Does_not_support_Mobile_Work')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Time_spent_digitizing_later":{"runAfter":{"Get_GUID_-_Does_not_support_Mobile_Work_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Time spent digitizing later'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_spent_digitizing_later":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_spent_digitizing_later":["Succeeded"]},"else":{"actions":{"Add_Time_spent_digitizing_later":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time spent digitizing later","item/admin_defaultdisplayname":"Time spent digitizing later","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_spent_digitizing_later')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Missed_Cases":{"runAfter":{"only_add_if_not_already_there_-_Time_spent_digitizing_later":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Missed Cases'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Missed_Cases":{"actions":{},"runAfter":{"See_if_already_exists_-_Missed_Cases":["Succeeded"]},"else":{"actions":{"Add_Missed_Cases":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Missed Cases","item/admin_defaultdisplayname":"Missed Cases","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Instances","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Missed_Cases')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Disparate_Data_Processes_across_Team":["Succeeded"]},"type":"Scope"},"Add_Error_Prone":{"actions":{"Get_Record_-_Error_Prone":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Error Prone'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Error_Prone":{"runAfter":{"Get_Record_-_Error_Prone":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Error_Prone')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Number_of_Errors":{"runAfter":{"Get_GUID_-_Error_Prone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Number of Errors'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Number_of_Errors":{"actions":{},"runAfter":{"See_if_already_exists_-_Number_of_Errors":["Succeeded"]},"else":{"actions":{"Add_Number_of_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Number of Errors","item/admin_defaultdisplayname":"Number of Errors","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Errors","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Number_of_Errors')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Time_Spent_Fixing_Errors":{"runAfter":{"only_add_if_not_already_there_-_Number_of_Errors":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Time Spent Fixing Errors'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Spent_Fixing_Errors":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Spent_Fixing_Errors":["Succeeded"]},"else":{"actions":{"Add_Time_Spent_Fixing_Errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Spent Fixing Errors","item/admin_defaultdisplayname":"Time Spent Fixing Errors","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Spent_Fixing_Errors')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Cost_to_fix_errors":{"runAfter":{"only_add_if_not_already_there_-_Time_Spent_Fixing_Errors":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Cost to fix errors'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Cost_to_fix_errors":{"actions":{},"runAfter":{"See_if_already_exists_-_Cost_to_fix_errors":["Succeeded"]},"else":{"actions":{"Add_Cost_to_fix_errors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Cost to fix errors","item/admin_defaultdisplayname":"Cost to fix errors","item/admin_defaultmeasuretype":597910001,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Cost_to_fix_errors')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Does_not_support_Mobile_Work_":["Succeeded"]},"type":"Scope"},"Add_Pen_and_Paper_Forms":{"actions":{"Get_Record_-_Pen_and_Paper_Forms":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Pen and Paper Forms'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Pen_and_Paper_Forms":{"runAfter":{"Get_Record_-_Pen_and_Paper_Forms":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Pen_and_Paper_Forms')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Data_Loss":{"runAfter":{"Get_GUID_-_Pen_and_Paper_Forms":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Data Loss'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Data_Loss":{"actions":{},"runAfter":{"See_if_already_exists_-_Data_Loss":["Succeeded"]},"else":{"actions":{"Add_Data_Loss":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Data Loss","item/admin_defaultdisplayname":"Data Loss","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Forms","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Data_Loss')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Trees_Saved":{"runAfter":{"only_add_if_not_already_there_-_Data_Loss":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Trees Saved'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Trees_Saved":{"actions":{},"runAfter":{"See_if_already_exists_-_Trees_Saved":["Succeeded"]},"else":{"actions":{"Add_Trees_Saved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Trees Saved","item/admin_defaultdisplayname":"Trees Saved","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Trees","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Trees_Saved')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Time_Saved_Transferring_to_Digital":{"runAfter":{"only_add_if_not_already_there_-_Trees_Saved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Time Saved Transferring to Digital'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Saved_Transferring_to_Digital":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Saved_Transferring_to_Digital":["Succeeded"]},"else":{"actions":{"Add_Time_Saved_Transferring_to_Digital":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Saved Transferring to Digital","item/admin_defaultdisplayname":"Time Saved Transferring to Digital","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Saved_Transferring_to_Digital')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Error_Prone":["Succeeded"]},"type":"Scope"},"Add_People_not_enrolled_in_process":{"actions":{"Get_Record_-_People_not_enrolled_in_process":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'People not enrolled in process'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_People_not_enrolled_in_process":{"runAfter":{"Get_Record_-_People_not_enrolled_in_process":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_People_not_enrolled_in_process')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Time_Spent_Chasing_People":{"runAfter":{"Get_GUID_-_People_not_enrolled_in_process":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Time Spent Chasing People'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Spent_Chasing_People":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Spent_Chasing_People":["Succeeded"]},"else":{"actions":{"Add_Time_Spent_Chasing_People":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Spent Chasing People","item/admin_defaultdisplayname":"Time Spent Chasing People","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Spent_Chasing_People')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Low_Quality_Work":{"runAfter":{"only_add_if_not_already_there_-_Time_Spent_Chasing_People":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Low Quality Work'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Low_Quality_Work":{"actions":{},"runAfter":{"See_if_already_exists_-_Low_Quality_Work":["Succeeded"]},"else":{"actions":{"Add_Low_Quality_Work":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Low Quality Work","item/admin_defaultdisplayname":"Low Quality Work","item/admin_defaultmeasuretype":597910003,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Low_Quality_Work')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Pen_and_Paper_Forms":["Succeeded"]},"type":"Scope"},"Add_Processing_Delays":{"actions":{"Get_Record_-_Processing_Delays":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Processing Delays'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Processing_Delays":{"runAfter":{"Get_Record_-_Processing_Delays":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Processing_Delays')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Accumulation_of_Fines":{"runAfter":{"Get_GUID_-_Processing_Delays":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Accumulation of Fines'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Accumulation_of_Fines":{"actions":{},"runAfter":{"See_if_already_exists_-_Accumulation_of_Fines":["Succeeded"]},"else":{"actions":{"Add_Accumulation_of_Fines":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Accumulation of Fines","item/admin_defaultdisplayname":"Accumulation of Fines","item/admin_defaultmeasuretype":597910001,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Accumulation_of_Fines')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Loss_of_Customers":{"runAfter":{"only_add_if_not_already_there_-_Accumulation_of_Fines":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Loss of Customers'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Loss_of_Customers":{"actions":{},"runAfter":{"See_if_already_exists_-_Loss_of_Customers":["Succeeded"]},"else":{"actions":{"Add_Loss_of_Customers":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Loss of Customers","item/admin_defaultdisplayname":"Loss of Customers","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Customers","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Loss_of_Customers')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Loss_of_Sales":{"runAfter":{"only_add_if_not_already_there_-_Loss_of_Customers":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Loss of Sales'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Loss_of_Sales":{"actions":{},"runAfter":{"See_if_already_exists_-_Loss_of_Sales":["Succeeded"]},"else":{"actions":{"Add_Loss_of_Sales":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Loss of Sales","item/admin_defaultdisplayname":"Loss of Sales","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Sales","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Loss_of_Sales')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_People_not_enrolled_in_process":["Succeeded"]},"type":"Scope"},"Add_Time_Consuming_Manual_Work":{"actions":{"Get_Record_-_Time_Consuming_Manual_Work":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Time Consuming Manual Work'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Time_Consuming_Manual_Work":{"runAfter":{"Get_Record_-_Time_Consuming_Manual_Work":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Time_Consuming_Manual_Work')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_Employee_Attrition":{"runAfter":{"Get_GUID_-_Time_Consuming_Manual_Work":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'Employee Attrition'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Employee_Attrition":{"actions":{},"runAfter":{"See_if_already_exists_-_Employee_Attrition":["Succeeded"]},"else":{"actions":{"Add_Employee_Attrition":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Employee Attrition","item/admin_defaultdisplayname":"Employee Attrition","item/admin_defaultmeasuretype":597910002,"item/admin_defaultnumberofwhat":"Employees","item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Employee_Attrition')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Time_Spent_on_Manual_Work":{"runAfter":{"only_add_if_not_already_there_-_Employee_Attrition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Time Spent on Manual Work'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Spent_on_Manual_Work":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Spent_on_Manual_Work":["Succeeded"]},"else":{"actions":{"Add_Time_Spent_on_Manual_Work":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Spent on Manual Work","item/admin_defaultdisplayname":"Time Spent on Manual Work","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Spent_on_Manual_Work')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Processing_Delays":["Succeeded"]},"type":"Scope"},"Add_Use_a_3rd_Party_Tool":{"actions":{"Get_Record_-_Use_a_3rd_Party_Tool":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointses","$filter":"admin_name eq 'Use a 3rd Party Tool'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_GUID_-_Use_a_3rd_Party_Tool":{"runAfter":{"Get_Record_-_Use_a_3rd_Party_Tool":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PPGuid","value":"@{first(outputs('Get_Record_-_Use_a_3rd_Party_Tool')?['body/value'])?['admin_innovationbacklogpainpointsid']}"}},"See_if_already_exists_-_License_Fees":{"runAfter":{"Get_GUID_-_Use_a_3rd_Party_Tool":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq  'License Fees'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_License_Fees":{"actions":{},"runAfter":{"See_if_already_exists_-_License_Fees":["Succeeded"]},"else":{"actions":{"Add_License_Fees":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"License Fees","item/admin_defaultdisplayname":"License Fees","item/admin_defaultmeasuretype":597910001,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_License_Fees')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Time_Modifying":{"runAfter":{"only_add_if_not_already_there_-_License_Fees":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","$select":"admin_name","$filter":"admin_name eq 'Time Modifying'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"only_add_if_not_already_there_-_Time_Modifying":{"actions":{},"runAfter":{"See_if_already_exists_-_Time_Modifying":["Succeeded"]},"else":{"actions":{"Add_Time_Modifying":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogpainpointsmeasureses","item/admin_name":"Time Modifying","item/admin_defaultdisplayname":"Time Modifying","item/admin_defaultmeasuretype":597910000,"item/admin_DefaultPainPoints@odata.bind":"admin_innovationbacklogpainpointses(@{variables('PPGUID')})"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Time_Modifying')?['body/value'])",0]},"type":"If"}},"runAfter":{"Add_Time_Consuming_Manual_Work":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}