CoEStarterKit/CenterofExcellenceInnovationBacklog_1_30_managed/Workflows/UpdateSoftwareTools-AA0853A1-6F4F-EB11-A813-000D3A5A7846.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"admin_InnovationBacklogPowerPlatform"},"api":{"name":"shared_powerplatformforadmins"}},"shared_powerappsforappmakers_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"admin_InnovationBacklogPowerAppsforMakers"},"api":{"name":"shared_powerappsforappmakers"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_InnovationBacklogCDSCurrent"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_varEnvtNameForConnectors":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEnvtNameForConnectors","type":"string"}]}},"Get_Default_Environments_Connectors":{"actions":{"List_Environments_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"Get-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"2020-09-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Filter_to_Default":{"runAfter":{"List_Environments_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Environments_as_Admin')?['body/value']","where":"@equals(item()?['properties/environmentSku'], 'Default')"}},"Get_Default_Envt_if_have_Permissions,_else_get_first_envt":{"actions":{"Set_to_default":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varEnvtNameForConnectors","value":"@{first(body('Filter_to_Default'))?['name']}"}}},"runAfter":{"Filter_to_Default":["Succeeded"]},"else":{"actions":{"Set_to_first":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varEnvtNameForConnectors","value":"@{first(outputs('List_Environments_as_Admin')?['body/value'])?['name']}"}}}},"expression":{"greater":["@length(body('Filter_to_Default'))",0]},"type":"If"},"Get_Environment_as_Admin":{"runAfter":{"Get_Default_Envt_if_have_Permissions,_else_get_first_envt":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@variables('varEnvtNameForConnectors')","api-version":"2018-10-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Get_Connectors":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers_1","operationId":"Get-Connectors","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"showApisWithToS":"true","$filter":"environment eq '@{body('Get_Environment_as_Admin')?['name']}'","api-version":"2016-11-01","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}}},"runAfter":{"Initialize_varEnvtNameForConnectors":["Succeeded"]},"type":"Scope"},"Add_Connector_if_new,_else_update":{"actions":{"For_each_connector_from_the_default_environment":{"foreach":"@outputs('Get_Connectors')?['body/value']","actions":{"Get_it_as_Tool_from_CoE":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$filter":"admin_id eq '@{items('For_each_connector_from_the_default_environment')?['id']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"If_it_exists,_update,_else_insert":{"actions":{"For_each_tool_returns_-_which_will_be_one":{"foreach":"@outputs('Get_it_as_Tool_from_CoE')?['body/value']","actions":{"Update_Tool":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@items('For_each_tool_returns_-_which_will_be_one')?['admin_innovationbacklogtoolid']","item/admin_name":"@items('For_each_connector_from_the_default_environment')?['name']","item/admin_conntype":"@items('For_each_connector_from_the_default_environment')?['type']","item/admin_description":"@items('For_each_connector_from_the_default_environment')?['properties/connectionParameters/token/uiDefinition/description']","item/admin_displayname":"@items('For_each_connector_from_the_default_environment')?['properties']?['displayName']","item/admin_icon":"@items('For_each_connector_from_the_default_environment')?['properties']?['iconUri']","item/admin_iconbrandcolor":"@items('For_each_connector_from_the_default_environment')?['properties']?['iconBrandColor']","item/admin_id":"@items('For_each_connector_from_the_default_environment')?['id']","item/admin_iscustomsoftwareconnector":"@items('For_each_connector_from_the_default_environment')?['properties']?['isCustomApi']","item/admin_publisher":"@items('For_each_connector_from_the_default_environment')?['properties']?['publisher']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_it_as_Tool_from_CoE":["Succeeded"]},"else":{"actions":{"Insert_Tool":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"@items('For_each_connector_from_the_default_environment')?['name']","item/admin_conntype":"@items('For_each_connector_from_the_default_environment')?['type']","item/admin_description":"@items('For_each_connector_from_the_default_environment')?['properties/connectionParameters/token/uiDefinition/description']","item/admin_displayname":"@items('For_each_connector_from_the_default_environment')?['properties']?['displayName']","item/admin_icon":"@items('For_each_connector_from_the_default_environment')?['properties']?['iconUri']","item/admin_iconbrandcolor":"@items('For_each_connector_from_the_default_environment')?['properties']?['iconBrandColor']","item/admin_id":"@items('For_each_connector_from_the_default_environment')?['id']","item/admin_iscustomsoftwareconnector":"@items('For_each_connector_from_the_default_environment')?['properties']?['isCustomApi']","item/admin_publisher":"@items('For_each_connector_from_the_default_environment')?['properties']?['publisher']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(body('Get_it_as_Tool_from_CoE')?['value'])",0]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_Default_Environments_Connectors":["Succeeded"]},"type":"Scope"},"Delete_what_will_seem_like_Dupes_to_non-PP_users":{"actions":{"shared_excelonlinebusiness":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_innovationbacklogtoolid","$filter":"admin_id eq '/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"shared_excelonline":{"runAfter":{"Apply_to_each_shared_excelonlinebusiness":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_innovationbacklogtoolid","$filter":"admin_id eq '/providers/Microsoft.PowerApps/apis/shared_excelonline'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"shared_iotcentral":{"runAfter":{"Apply_to_each_shared_excelonline":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_innovationbacklogtoolid","$filter":"admin_id eq '/providers/Microsoft.PowerApps/apis/shared_iotcentral'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"shared_basecamp2":{"runAfter":{"Apply_to_each_shared_iotcentral":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_innovationbacklogtoolid","$filter":"admin_id eq '/providers/Microsoft.PowerApps/apis/shared_basecamp2'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"shared_outlook":{"runAfter":{"Apply_to_each_shared_basecamp2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_innovationbacklogtoolid","$filter":"admin_id eq '/providers/Microsoft.PowerApps/apis/shared_outlook'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each_shared_excelonlinebusiness":{"foreach":"@outputs('shared_excelonlinebusiness')?['body/value']","actions":{"Delete_excelonlinebusiness":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@items('Apply_to_each_shared_excelonlinebusiness')?['admin_innovationbacklogtoolid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"shared_excelonlinebusiness":["Succeeded"]},"type":"Foreach"},"Apply_to_each_shared_excelonline":{"foreach":"@outputs('shared_excelonline')?['body/value']","actions":{"Delete_excelonline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@items('Apply_to_each_shared_excelonline')?['admin_innovationbacklogtoolid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"shared_excelonline":["Succeeded"]},"type":"Foreach"},"Apply_to_each_shared_iotcentral":{"foreach":"@outputs('shared_iotcentral')?['body/value']","actions":{"Delete_iotcentral":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@items('Apply_to_each_shared_iotcentral')?['admin_innovationbacklogtoolid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"shared_iotcentral":["Succeeded"]},"type":"Foreach"},"Apply_to_each_shared_basecamp2":{"foreach":"@outputs('shared_basecamp2')?['body/value']","actions":{"Delete_basecamp2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@items('Apply_to_each_shared_basecamp2')?['admin_innovationbacklogtoolid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"shared_basecamp2":["Succeeded"]},"type":"Foreach"},"Apply_to_each_shared_outlook":{"foreach":"@outputs('shared_outlook')?['body/value']","actions":{"Delete_outlook":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@items('Apply_to_each_shared_outlook')?['admin_innovationbacklogtoolid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"shared_outlook":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Add_Connector_if_new,_else_update":["Succeeded"]},"type":"Scope"},"Add_common_non-software":{"actions":{"See_if_already_exists_-_Brain":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Brain'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"only_add_if_not_already_there_-_Brain":{"actions":{},"runAfter":{"See_if_already_exists_-_Brain":["Succeeded"]},"else":{"actions":{"Add_Brain":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Brain","item/admin_description":"Human Decision Making","item/admin_displayname":"Brain","item/admin_id":"/nonsoftware/brain","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":false,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Brain')?['body/value'])",0]},"type":"If"},"See_if_already_exists_-_Camera":{"runAfter":{"only_add_if_not_already_there_-_Brain":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Camera'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Computer_Hardware":{"runAfter":{"only_add_if_not_already_there_-_Camera":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Computer Hardware'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Field_Inspection":{"runAfter":{"only_add_if_not_already_there_-_Computer_Hardware":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Field Inspection'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Herding_Cats":{"runAfter":{"only_add_if_not_already_there_-_Field_Inspection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Herding Cats'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Meeting":{"runAfter":{"only_add_if_not_already_there_-_Herding_Cats":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Meeting'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Pen_and_Paper":{"runAfter":{"only_add_if_not_already_there_-_Meeting":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Pen and Paper'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Printer":{"runAfter":{"only_add_if_not_already_there_-_Pen_and_Paper":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Printer'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"See_if_already_exists_-_Whiteboard":{"runAfter":{"only_add_if_not_already_there_-_Printer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Whiteboard'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"only_add_if_not_already_there_-_Camera":{"actions":{},"runAfter":{"See_if_already_exists_-_Camera":["Succeeded"]},"else":{"actions":{"Add_Camera":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Camera","item/admin_displayname":"Camera","item/admin_id":"/nonsoftware/Camera","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":true,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Camera')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Computer_Hardware":{"actions":{},"runAfter":{"See_if_already_exists_-_Computer_Hardware":["Succeeded"]},"else":{"actions":{"Add_Computer_Hardware":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Computer Hardware","item/admin_description":"working with the computer hardware itself","item/admin_displayname":"Computer Hardware","item/admin_id":"/nonsoftware/Computer Hardware","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":false,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Computer_Hardware')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Field_Inspection":{"actions":{},"runAfter":{"See_if_already_exists_-_Field_Inspection":["Succeeded"]},"else":{"actions":{"Add_Field_Inspection":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Field Inspection","item/admin_displayname":"Field Inspection","item/admin_id":"/nonsoftware/Field Inspection","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":false,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Field_Inspection')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Herding_Cats":{"actions":{},"runAfter":{"See_if_already_exists_-_Herding_Cats":["Succeeded"]},"else":{"actions":{"Add_Herding_Cats":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Herding Cats","item/admin_description":"Chasing people to get them to do the thing.","item/admin_displayname":"Herding Cats","item/admin_id":"/nonsoftware/Herding Cats","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":false,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Herding_Cats')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Meeting":{"actions":{},"runAfter":{"See_if_already_exists_-_Meeting":["Succeeded"]},"else":{"actions":{"Add_Meeting":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Meeting","item/admin_displayname":"Meeting","item/admin_id":"/nonsoftware/Meeting","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":true,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Meeting')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Pen_and_Paper":{"actions":{},"runAfter":{"See_if_already_exists_-_Pen_and_Paper":["Succeeded"]},"else":{"actions":{"Add_Pen_and_Paper":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Pen and Paper","item/admin_displayname":"Pen and Paper","item/admin_id":"/nonsoftware/Pen and Paper","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":true,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Pen_and_Paper')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Printer":{"actions":{},"runAfter":{"See_if_already_exists_-_Printer":["Succeeded"]},"else":{"actions":{"Add_Printer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Printer","item/admin_displayname":"Printer","item/admin_id":"/nonsoftware/Printer","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":false,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Printer')?['body/value'])",0]},"type":"If"},"only_add_if_not_already_there_-_Whiteboard":{"actions":{},"runAfter":{"See_if_already_exists_-_Whiteboard":["Succeeded"]},"else":{"actions":{"Add_Whiteboard":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","item/admin_name":"Whiteboard","item/admin_description":"Using a physical whiteboard to brainstorm, take notes, track, etc","item/admin_displayname":"Whiteboard","item/admin_id":"/nonsoftware/Whiteboard","item/admin_iscustomsoftwareconnector":false,"item/admin_mostcommonlyused":false,"item/admin_tooltype":597910001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"greater":["@length(outputs('See_if_already_exists_-_Whiteboard')?['body/value'])",0]},"type":"If"}},"runAfter":{"Delete_what_will_seem_like_Dupes_to_non-PP_users":["Succeeded"]},"type":"Scope"},"Update_Most_Common":{"actions":{"Get_Connector_-_O365":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'shared_office365'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_Connector_-_SPO":{"runAfter":{"Mark_Common_-_Herding_Cats":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'shared_sharepointonline'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_Connector_-_XL":{"runAfter":{"Mark_Common_-_SPO":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'shared_excel'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_Connector_-_ODB":{"runAfter":{"Mark_Common_-_XL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'shared_onedriveforbusiness'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_Connector_-_PBI":{"runAfter":{"Mark_Common_-_ODB":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'shared_powerbi'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_Connector_-_SQL":{"runAfter":{"Mark_Common_-_PBI":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'shared_sql'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_Connector_-_Herding_Cats":{"runAfter":{"Mark_Common_-_O365":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","$select":"admin_name","$filter":"admin_name eq  'Herding Cats'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Mark_Common_-_O365":{"runAfter":{"Get_Connector_-_O365":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_O365')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Common_-_Herding_Cats":{"runAfter":{"Get_Connector_-_Herding_Cats":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_Herding_Cats')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Common_-_SPO":{"runAfter":{"Get_Connector_-_SPO":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_SPO')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Common_-_XL":{"runAfter":{"Get_Connector_-_XL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_XL')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Common_-_ODB":{"runAfter":{"Get_Connector_-_ODB":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_ODB')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Common_-_PBI":{"runAfter":{"Get_Connector_-_PBI":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_PBI')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_Common_-_SQL":{"runAfter":{"Get_Connector_-_SQL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_innovationbacklogtools","recordId":"@first(outputs('Get_Connector_-_SQL')?['body/value'])?['admin_innovationbacklogtoolid']","item/admin_mostcommonlyused":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Add_common_non-software":["Succeeded"]},"type":"Scope","description":"For now this scope is static, but over time it will start to read those tools actually used most commonly in your organization"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}