CoEStarterKit/CenterofExcellenceAuditComponents_1_60_managed/Workflows/AdminArchiveandCleanUpv2CleanUpandDelete-78466552-7E56-EB11-A812-000D3A996ADC.json
{"properties":{"connectionReferences":{"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_O365UsersGov"},"api":{"name":"shared_office365users"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentGovernConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_flowmanagement_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_PowerAutomateManagementCoEConnection"},"api":{"name":"shared_flowmanagement"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_PowerAppsforAdminsCoEConnection"},"api":{"name":"shared_powerappsforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"Get_my_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"MyProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Initialize_varAutoDelete":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAutoDelete","type":"string","value":"No"}]}},"Set_Env_Var_-_autoDeleteOnArchive":{"actions":{"ListDefns-autoDeleteOnArchive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_autoDeleteOnArchive'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-autoDeleteOnArchive":{"runAfter":{"ListDefns-autoDeleteOnArchive":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-autoDeleteOnArchive')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-autoDeleteOnArchive":{"runAfter":{"GetDefnID-autoDeleteOnArchive":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-autoDeleteOnArchive')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"autoDeleteOnArchive_-__if_no_Current,_use_Default":{"actions":{"Set_varAutoDelete_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAutoDelete","value":"@{first(body('ListCurrents-autoDeleteOnArchive')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-autoDeleteOnArchive":["Succeeded"]},"else":{"actions":{"Set_varAutoDelete_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAutoDelete","value":"@{first(body('ListDefns-autoDeleteOnArchive')?['value'])?['defaultvalue']}"}},"varAutoDelete_-_if_no_Default,_fail_here":{"actions":{"varAutoDelete_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_varAutoDelete_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('varAutoDelete'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-autoDeleteOnArchive')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_varAutoDelete":["Succeeded"]},"type":"Scope"},"Ensure_Approved_Objects_have_date":{"actions":{"Get_old_approvals_without_an_approved_date":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_archiveapprovalid, admin_approvalresponsedate, admin_approvalresponse","$filter":"admin_approvalresponse eq 'Approve' and (admin_approvalresponsedate eq null or admin_approvalresponsedate lt @{formatDateTime(addDays(utcNow(), -3000),'yyyy-MM-dd')})"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Give_them_all_a_date":{"foreach":"@outputs('Get_old_approvals_without_an_approved_date')?['body/value']","actions":{"Give_them_a_date":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","recordId":"@items('Give_them_all_a_date')?['admin_archiveapprovalid']","item/admin_approvalresponsedate":"@utcNow()"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_old_approvals_without_an_approved_date":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Set_Env_Var_-_autoDeleteOnArchive":["Succeeded"]},"type":"Scope","description":"Temporary until we clear out approvals without a date stamp"},"Delete_timed_out_archive_requests":{"actions":{"Apply_to_each":{"foreach":"@outputs('Get_old_archival_requests_to_delete')?['body/value']","actions":{"Delete_the_old_archive_record_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","recordId":"@items('Apply_to_each')?['admin_archiveapprovalid']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_old_archival_requests_to_delete":["Succeeded"]},"type":"Foreach"},"Get_old_archival_requests_to_delete":{"runAfter":{"Get_past_time_for_old_archival_requests":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_archiveapprovalid","$filter":"createdon lt @{body('Get_past_time_for_old_archival_requests')} and admin_deletioncomplete ne true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Get_past_time_for_old_archival_requests":{"runAfter":{},"type":"Expression","kind":"GetPastTime","inputs":{"interval":1,"timeUnit":"Month"}}},"runAfter":{"Ensure_Approved_Objects_have_date":["Succeeded"]},"type":"Scope"},"Delete_objects_that_have_been_approved_for_deletion":{"actions":{"Get_past_time_for_archivals_ready_to_delete":{"runAfter":{},"type":"Expression","kind":"GetPastTime","inputs":{"interval":3,"timeUnit":"Week"}},"Check_if_set_to_delete":{"actions":{"Condition":{"actions":{"Env_Variable_set_to_not_Delete":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@variables('varAutoDelete')","No"]},"type":"If"}},"runAfter":{"Get_past_time_for_archivals_ready_to_delete":["Succeeded"]},"type":"Scope"},"Flows":{"actions":{"Apply_to_each_flow":{"foreach":"@outputs('List_flows_ready_to_delete')?['body/value']","actions":{"Delete_Flow":{"runAfter":{"Modify_Flow_Owners_as_Admin":["Succeeded","Skipped","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"DeleteFlow","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@items('Apply_to_each_flow')?['admin_appenvironmentname']","flowName":"@items('Apply_to_each_flow')?['admin_appname']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Check_for_Perms":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"GetFlow","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@items('Apply_to_each_flow')?['admin_appenvironmentname']","flowName":"@items('Apply_to_each_flow')?['admin_appname']"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Modify_Flow_Owners_as_Admin":{"runAfter":{"Check_for_Perms":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"AdminModifyFlowOwners","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"@items('Apply_to_each_flow')?['admin_appenvironmentname']","flowName":"@items('Apply_to_each_flow')?['admin_appname']","permissions/put":[{"properties/principal/id":"@outputs('Get_my_profile_(V2)')?['body/id']","properties/principal/type":"User"}]},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Compose":{"runAfter":{"Delete_Flow":["Failed"]},"type":"Compose","inputs":"this flow needs to be deleted manually"},"Mark_Flow_Deletion_Complete":{"runAfter":{"Compose":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","recordId":"@items('Apply_to_each_flow')?['admin_archiveapprovalid']","item/admin_deletioncomplete":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_flows_ready_to_delete":["Succeeded"]},"type":"Foreach"},"List_flows_ready_to_delete":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_appname, admin_appenvironmentname, admin_archiveapprovalid","$filter":"admin_deletioncomplete ne true and admin_approvalresponsedate lt @{body('Get_past_time_for_archivals_ready_to_delete')} and admin_approvalresponse eq 'Approve' and cr5d5_archivalitemtype eq 129260000"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}}},"runAfter":{"Check_if_set_to_delete":["Succeeded"]},"type":"Scope"},"Canvas":{"actions":{"List_canvas_apps_ready_to_delete":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_appname, admin_appenvironmentname, admin_archiveapprovalid","$filter":"admin_deletioncomplete ne true and admin_approvalresponsedate lt @{body('Get_past_time_for_archivals_ready_to_delete')} and admin_approvalresponse eq 'Approve' and cr5d5_archivalitemtype eq 129260001"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each_canvas_app":{"foreach":"@outputs('List_canvas_apps_ready_to_delete')?['body/value']","actions":{"Remove_App_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Remove-AdminApp","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@items('Apply_to_each_canvas_app')?['admin_appenvironmentname']","app":"@items('Apply_to_each_canvas_app')?['admin_appname']","api-version":"2016-11-01"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Mark_App_Deletion_Complete":{"runAfter":{"Remove_App_as_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","recordId":"@items('Apply_to_each_canvas_app')?['admin_archiveapprovalid']","item/admin_deletioncomplete":true},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"List_canvas_apps_ready_to_delete":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Flows":["Succeeded"]},"type":"Scope"}},"runAfter":{"Delete_timed_out_archive_requests":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}