CoEStarterKit/CenterofExcellenceAuditComponents_1_60_managed/Workflows/AdminArchiveandCleanUpv2StartApprovalforApps-D740E841-7057-EB11-A812-000D3A9964A5.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentGovernConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_OutlookCoETeamsIntegration"},"api":{"name":"shared_office365"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_PowerAppsforAdminsCoEConnection"},"api":{"name":"shared_powerappsforadmins"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_ApprovalsCoEGovernConnection"},"api":{"name":"shared_approvals"}},"shared_office365users_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_O365UsersGov"},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"schedule":{"weekDays":["Monday"]}},"type":"Recurrence"}},"actions":{"Get_past_time":{"runAfter":{},"type":"Expression","kind":"GetPastTime","inputs":{"interval":6,"timeUnit":"Month"},"description":"If the app has not been modified in the past x months, an approval to archive will trigger. Update your desired archive months here."},"Initialize_adminMail":{"runAfter":{"Initialize_OwnerIsNull":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"string"}]}},"Initialize_var_isReassigned":{"runAfter":{"Initialize_adminMail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isReassigned","type":"boolean","value":"@false"}]}},"Set_Env_Var_-_AdminMail":{"actions":{"ListDefns-AdminMail":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_AdminMail'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-AdminMail":{"runAfter":{"ListDefns-AdminMail":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-AdminMail')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-AdminMail":{"runAfter":{"GetDefnID-AdminMail":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-AdminMail')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"AdminMail_-__if_no_Current,_use_Default":{"actions":{"Set_AdminMail_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@{first(body('ListCurrents-AdminMail')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-AdminMail":["Succeeded"]},"else":{"actions":{"Set_AdminMail_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@{first(body('ListDefns-AdminMail')?['value'])?['defaultvalue']}"}},"AdminMail_-_if_no_Default,_fail_here":{"actions":{"AdminMail_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_AdminMail_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('adminMail'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-AdminMail')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_var_isReassigned":["Succeeded"]},"type":"Scope"},"Initialize_varAssignee":{"runAfter":{"Set_Env_Var_-_ApprovalAdmin":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAssignee","type":"string","value":"@variables('ApprovalAdmin')"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_varAssigneeDisplayName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"string"}]}},"Set_Env_Var_-_eMailHeaderStyle":{"actions":{"ListDefns-eMailHeaderStyle":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-eMailHeaderStyle":{"runAfter":{"ListDefns-eMailHeaderStyle":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-eMailHeaderStyle')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-eMailHeaderStyle":{"runAfter":{"GetDefnID-eMailHeaderStyle":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-eMailHeaderStyle')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"eMailHeaderStyle_-__if_no_Current,_use_Default":{"actions":{"Set_htmlHeader_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@{first(body('ListCurrents-eMailHeaderStyle')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-eMailHeaderStyle":["Succeeded"]},"else":{"actions":{"Set_htmlHeader_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@{first(body('ListDefns-eMailHeaderStyle')?['value'])?['defaultvalue']}"}},"htmlHeader_-_if_no_Default,_fail_here":{"actions":{"htmlHeader_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_htmlHeader_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('htmlHeader'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-eMailHeaderStyle')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"Scope"},"Initialize_var_isProd":{"runAfter":{"Set_Env_Var_-_eMailHeaderStyle":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isProd","type":"string"}]}},"Set_Env_Var_-_ProductionEnvironment":{"actions":{"ListDefns-ProductionEnvironment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_ProductionEnvironment'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-ProductionEnvironment":{"runAfter":{"ListDefns-ProductionEnvironment":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-ProductionEnvironment')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-ProductionEnvironment":{"runAfter":{"GetDefnID-ProductionEnvironment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-ProductionEnvironment')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"ProductionEnvironment-__if_no_Current,_use_Default":{"actions":{"Set_isProd_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isProd","value":"@{first(body('ListCurrents-ProductionEnvironment')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-ProductionEnvironment":["Succeeded"]},"else":{"actions":{"Set_isProd_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isProd","value":"@{first(body('ListDefns-ProductionEnvironment')?['value'])?['defaultvalue']}"}},"isProd_-_if_no_Default,_set_to_true":{"actions":{"Set_isProd_-_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isProd","value":"\"Yes\""}}},"runAfter":{"Set_isProd_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('isProd'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-ProductionEnvironment')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_var_isProd":["Succeeded"]},"type":"Scope"},"Get_Settings":{"runAfter":{"Set_Env_Var_-_ProductionEnvironment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_coesettingses","$select":"admin_logo","$filter":"admin_version ne null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Initialize_logoUrl":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logoUrl","type":"string","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"List_apps_not_launched_or_marked_modified_since_Past_Time_":{"runAfter":{"Initialize_logoUrl":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","$select":"admin_appid, _admin_appenvironment_value, cr5d5_appisorphaned, admin_appmodifiedon, admin_appenvironmentdisplayname, admin_displayname, admin_appownerdisplayname, _admin_appowner_value, admin_applastlaunchedon","$filter":"(admin_appmodifiedon lt @{body('Get_past_time')} or admin_appmodifiedon eq null) and admin_appdeleted eq false  and (admin_applastlaunchedon lt @{body('Get_past_time')} or admin_applastlaunchedon eq null) and admin_powerappstype eq 597910000 and admin_appexcusedfromarchival ne true and admin_appexcusedfromarchival ne true"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_approved_approvals":{"runAfter":{"List_apps_not_launched_or_marked_modified_since_Past_Time_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_archiveapprovalid, admin_appname, admin_appdisplayname,  admin_appenvironmentname, admin_approvalresponsedate, admin_approvalresponse","$filter":"admin_approvalresponse eq 'Approve'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"List_rejected_approvals":{"runAfter":{"List_approved_approvals":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_archiveapprovalid, admin_appname, admin_appdisplayname,  admin_appenvironmentname, admin_approvalresponsedate","$filter":"admin_approvalresponse eq 'Reject'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Create_Archival_Request_for_Each_":{"foreach":"@body('List_apps_not_launched_or_marked_modified_since_Past_Time_')?['value']","actions":{"Filter_to_this_one_approved":{"runAfter":{"Get_Assignee":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_approved_approvals')?['body/value']","where":"@equals(item()?['admin_appname'], items('Create_Archival_Request_for_Each_')?['admin_appid'])"}},"Date_Last_Modified":{"runAfter":{"Filter_to_this_one_approved":["Succeeded"]},"type":"Compose","inputs":"@if(equals(items('Create_Archival_Request_for_Each_')?['admin_appmodifiedon'], null), 'unknown', formatDateTime(items('Create_Archival_Request_for_Each_')?['admin_appmodifiedon'],'dd MMM yyy'))"},"Date_Last_Launched":{"runAfter":{"Date_Last_Modified":["Succeeded"]},"type":"Compose","inputs":"@if(equals(items('Create_Archival_Request_for_Each_')?['admin_applastlaunchedon'], null), 'unknown', formatDateTime(items('Create_Archival_Request_for_Each_')?['admin_applastlaunchedon'], 'dd MMM yyy'))"},"See_if_Approved":{"actions":{"Parse_JSON_this_one_approved":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@body('Filter_to_this_one_approved')","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"admin_approvalid":{"type":"string"},"admin_appenvironmentname":{"type":"string"},"admin_approvalresponse":{"type":"string"},"admin_approvalresponsedate":{"type":"string"},"admin_name":{"type":"string"},"admin_appdisplayname":{"type":"string"},"admin_appname":{"type":"string"},"admin_archiveapprovalid":{"type":"string"}}}}}},"Get_Envt_Name":{"runAfter":{"Parse_JSON_this_one_approved":["Succeeded"]},"type":"Compose","inputs":"@first(body('Parse_JSON_this_one_approved'))['admin_appenvironmentname']"},"Get_Object_Name":{"runAfter":{"Get_Envt_Name":["Succeeded"]},"type":"Compose","inputs":"@first(body('Parse_JSON_this_one_approved'))['admin_appname']"},"Date_Approved":{"runAfter":{"Get_Object_Name":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(first(body('Parse_JSON_this_one_approved'))['admin_approvalresponsedate'], 'dd MMM yyy')"},"Date_to_Delete":{"runAfter":{"Date_Approved":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(addDays(first(body('Parse_JSON_this_one_approved'))['admin_approvalresponsedate'], 21), 'dd MMM yyy')"},"Catch_-_flow_already_deleted":{"runAfter":{"See_if_app_still_exists":["Failed"]},"type":"Compose","inputs":"Flow already Deleted"},"Send_an_email_(V2)":{"runAfter":{"Catch_-_flow_already_deleted":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('varAssignee')","emailMessage/Subject":"Reminder to back up your App:  @{body('See_if_app_still_exists')?['properties']?['displayName']}","emailMessage/Body":"<html>\n@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>Power Automate</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'>\n<tr><td>Auto-Archive .</td>\n<td><img src='https://az158878.vo.msecnd.net/marketing/Partner_21474836617/Product_42949681655/Asset_5497565b-7b50-4cea-98a0-3814524d4228/Windows300x300.png' height=60></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n\n<p>\nAs a reminder, you approved removal of this app from the tenant on @{outputs('Date_Approved')}.\n<br>\nThe app will therefore be removed from the tenant sometime after @{outputs('Date_to_Delete')},\n<br><br>\nIf you want to retain a copy of this app for later restore, if you change your mind, please do so now.\n<br>\nIf you would like to stop recieving these reminders ahead of deletion, please delete on your side, and you will not be prompted again.\n<br><br>\nThank you for using the Power Platform!\n<br>\n</p>\n</li>\n</ol>\n</p>\n</td></tr>\n</table>\n</div>\n</body>\n\n</html>"},"authentication":"@parameters('$authentication')"}},"See_if_app_still_exists":{"runAfter":{"Date_to_Delete":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApp","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@outputs('Get_Envt_Name')","app":"@outputs('Get_Object_Name')","api-version":"2016-11-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Date_Last_Launched":["Succeeded"]},"else":{"actions":{"Filter_to_this_one_rejected":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('List_rejected_approvals')?['body/value']","where":"@equals(item()?['admin_appname'], items('Create_Archival_Request_for_Each_')?['admin_appid'])"}},"See_if_Rejected":{"actions":{"Do_Nothing_-_Already_Rejected":{"runAfter":{},"type":"Compose","inputs":"Request Rejected. That rejection will time out in 1 month and then will recreate"}},"runAfter":{"Filter_to_this_one_rejected":["Succeeded"]},"else":{"actions":{"Create_an_approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"BasicAwaitAll","ApprovalCreationInput/title":"Your app @{items('Create_Archival_Request_for_Each_')?['admin_displayname']} has been flagged for archiving","ApprovalCreationInput/assignedTo":"@{variables('varAssignee')};","ApprovalCreationInput/details":"@{if(equals(variables('isReassigned'), true), 'OWNER DOES NOT EXIST. APPROVAL SENT TO ADMIN.', '')}\nYou own an app that has not been modified nor launched recently. \n\nLast Modified:  @{outputs('Date_Last_Modified')}\nLast Launch:  @{outputs('Date_Last_Launched')}\n\nIt has therefore been flagged for archival and/or deletion.  Please confirm this app is no longer being used and can be deleted by approving this task; or provide a business justification if you reject. \n\nApp Name: @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}\nApp ID: @{items('Create_Archival_Request_for_Each_')?['admin_appid']}\nEnvironment: @{items('Create_Archival_Request_for_Each_')?['admin_appenvironmentdisplayname']}\n\nNotes:\n1) If you select approve, the app will be deleted from the tenant in three weeks, so please manually archive a copy ahead of that date if you believe you will want access in the future. \n\n2) If you select reject, consider launching the app, or performing a re-save, in order to avoid receving this email again in another month. ","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch:_Was_Approval_Creation_Successful":{"runAfter":{"Create_an_approval":["Succeeded","Failed"]},"cases":{"Success_Case":{"case":201,"actions":{"Get_app_environment_for_name":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@items('Create_Archival_Request_for_Each_')?['_admin_appenvironment_value']","$select":"admin_environmentname"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Create_a_new_record":{"runAfter":{"Get_app_environment_for_name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","item/admin_name":"@items('Create_Archival_Request_for_Each_')?['admin_appid']","item/admin_appdisplayname":"@items('Create_Archival_Request_for_Each_')?['admin_displayname']","item/admin_appenvironmentname":"@outputs('Get_app_environment_for_name')?['body/admin_environmentname']","item/admin_appname":"@items('Create_Archival_Request_for_Each_')?['admin_appid']","item/admin_appowneremail":"@variables('varAssignee')","item/admin_appownername":"@variables('varAssigneeDisplayName')","item/admin_AppLookup@odata.bind":"admin_apps(@{items('Create_Archival_Request_for_Each_')?['admin_appid']})","item/admin_approvalid":"@body('Create_an_approval')?['name']","item/cr5d5_archivalitemtype":129260001},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"Failure_Case":{"case":400,"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('adminMail')","emailMessage/Subject":"App owner @{variables('varAssigneeDisplayName')} does not have permissions to perform Arhcive Approval","emailMessage/Body":"<html>\n@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>Power Automate</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'>\n<tr><td>Auto-Archive .</td>\n<td><img src='https://az158878.vo.msecnd.net/marketing/Partner_21474836617/Product_42949681655/Asset_5497565b-7b50-4cea-98a0-3814524d4228/Windows300x300.png' height=60></td>\n</tr></table></td></tr>\n<tr id='message'><td>\n\n<p> @{items('Create_Archival_Request_for_Each_')?['_admin_appowner_value']} was recently prompted to archive the following app:<br>\n<br>\n<strong>Display Name</strong>:  @{items('Create_Archival_Request_for_Each_')?['admin_displayname']}<br>\n<strong>Environment</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_appenvironmentdisplayname']}<br>\n<strong>App ID</strong>: @{items('Create_Archival_Request_for_Each_')?['admin_appid']} <br>\n<br>\nThe request was archiving was unable to process as the user has insufficient permissions to the CoE Environment. Please give them permissions to Approvals in the CoE to proceed.<br>\n</p>\n</li>\n</ol>\n</p>\n</td></tr>\n</table>\n</div>\n</body>\n\n</html>"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}}},"default":{"actions":{}},"expression":"@outputs('Create_an_approval')['statusCode']","type":"Switch"}}},"expression":{"greater":["@length(body('Filter_to_this_one_rejected'))",0]},"type":"If"}}},"expression":{"greater":["@length(body('Filter_to_this_one_approved'))",0]},"type":"If"},"Get_Assignee":{"actions":{"Set_varAssignee_to_Admin":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAssignee","value":"@variables('ApprovalAdmin')"}},"Set_var_isReassigned_to_True":{"runAfter":{"Set_varAssigneeDisplayName":["Succeeded"]},"type":"SetVariable","inputs":{"name":"isReassigned","value":"@true"}},"Set_varAssigneeDisplayName":{"runAfter":{"Set_varAssignee_to_Admin":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varAssigneeDisplayName","value":"@variables('ApprovalAdmin')"}}},"runAfter":{"Catch_OwnerIsNull":["Succeeded","Skipped"]},"else":{"actions":{"Recheck_Orphan_Status":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users_1","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Create_Archival_Request_for_Each_')?['_admin_appowner_value']","$select":"displayName, mail"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Switch":{"runAfter":{"Recheck_Orphan_Status":["Succeeded","Failed"]},"cases":{"Case_200_-_User_Found":{"case":200,"actions":{"Set_varAssignee_to_Owner":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAssignee","value":"@outputs('Recheck_Orphan_Status')?['body/mail']"}},"Set_var_isReassigned_to_False":{"runAfter":{"Set_varAssigneeDisplayName_to_Owner":["Succeeded"]},"type":"SetVariable","inputs":{"name":"isReassigned","value":"@false"}},"Set_varAssigneeDisplayName_to_Owner":{"runAfter":{"Set_varAssignee_to_Owner":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varAssigneeDisplayName","value":"@outputs('Recheck_Orphan_Status')?['body/displayName']"}}}},"Case_404_-_New_Orphan":{"case":404,"actions":{"Set_varAssignee_to_Admin_for_new_Orphan":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varAssignee","value":"@variables('ApprovalAdmin')"}},"Set_var_isReassigned_to_True_for_new_Orphan":{"runAfter":{"Set_varAssigneeDisplayName_to_Admin_for_new_Orphan":["Succeeded"]},"type":"SetVariable","inputs":{"name":"isReassigned","value":"@true"}},"Set_varAssigneeDisplayName_to_Admin_for_new_Orphan":{"runAfter":{"Set_varAssignee_to_Admin_for_new_Orphan":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varAssigneeDisplayName","value":"@variables('ApprovalAdmin')"}}}}},"default":{"actions":{}},"expression":"@outputs('Recheck_Orphan_Status')['statusCode']","type":"Switch"}}},"expression":{"or":[{"equals":["@variables('isProd')","no"]},{"equals":["@variables('OwnerIsNull')","@true"]},{"equals":["@items('Create_Archival_Request_for_Each_')?['cr5d5_appisorphaned']","yes"]},{"equals":["@outputs('Get_the_Maker')?['body/admin_userisserviceprinciple']","@true"]},{"equals":["@items('Create_Archival_Request_for_Each_')?['_admin_appowner_value']","@null"]}]},"type":"If"},"Reset_OwnerIsNull":{"runAfter":{},"type":"SetVariable","inputs":{"name":"OwnerIsNull","value":"@false"}},"Get_the_Maker":{"runAfter":{"Reset_OwnerIsNull":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makers","recordId":"@items('Create_Archival_Request_for_Each_')?['_admin_appowner_value']","$select":"admin_userisserviceprinciple"},"authentication":"@parameters('$authentication')"}},"Catch_OwnerIsNull":{"runAfter":{"Get_the_Maker":["Failed"]},"type":"SetVariable","inputs":{"name":"OwnerIsNull","value":"@true"}}},"runAfter":{"List_rejected_approvals":["Succeeded"]},"type":"Foreach"},"Initialize_ApprovalAdmin":{"runAfter":{"Set_Env_Var_-_AdminMail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalAdmin","type":"string"}]}},"Set_Env_Var_-_ApprovalAdmin":{"actions":{"ListDefns-ApprovalAdmin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_ApprovalAdmin'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-ApprovalAdmin":{"runAfter":{"ListDefns-ApprovalAdmin":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-ApprovalAdmin')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-ApprovalAdmin":{"runAfter":{"GetDefnID-ApprovalAdmin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-ApprovalAdmin')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"ApprovalAdmin_-__if_no_Current,_use_Default":{"actions":{"Set_ApprovalAdmin_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalAdmin","value":"@{first(body('ListCurrents-ApprovalAdmin')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-ApprovalAdmin":["Succeeded"]},"else":{"actions":{"Set_ApprovalAdmin_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalAdmin","value":"@{first(body('ListDefns-ApprovalAdmin')?['value'])?['defaultvalue']}"}},"ApprovalAdmin_-_if_no_Default,_set_to_AdminMail":{"actions":{"Set_ApprovalAdmin_to_adminMail":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ApprovalAdmin","value":"@variables('adminMail')"}}},"runAfter":{"Set_ApprovalAdmin_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('ApprovalAdmin'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-ApprovalAdmin')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_ApprovalAdmin":["Succeeded"]},"type":"Scope"},"Initialize_varAssigneeDisplayName":{"runAfter":{"Initialize_varAssignee":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAssigneeDisplayName","type":"string"}]}},"Initialize_OwnerIsNull":{"runAfter":{"Get_past_time":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"OwnerIsNull","type":"boolean","value":"@false"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}