CoEStarterKit/CenterofExcellenceAuditComponents_1_60_managed/Workflows/AdminArchiveandCleanUpv2CheckApproval-6C0522F0-6256-EB11-A812-000D3A996ADC.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentEnvironmentCoEConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_OutlookCoETeamsIntegration"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"List_Approval_Responses_-_last_10_days":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_flow_approvalresponses","$select":"msdyn_flow_approvalresponseidx_approvalid, msdyn_flow_approvalresponse_response, msdyn_flow_approvalresponse_comments","$filter":"createdon gt @{addDays(utcNow(), -10)}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Initialize_htmlHeader_(style)":{"runAfter":{"Set_Env_Var_-_AdminMail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"string"}]}},"Set_Env_Var_-_eMailHeaderStyle":{"actions":{"ListDefns-eMailHeaderStyle":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_eMailHeaderStyle'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-eMailHeaderStyle":{"runAfter":{"ListDefns-eMailHeaderStyle":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-eMailHeaderStyle')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-eMailHeaderStyle":{"runAfter":{"GetDefnID-eMailHeaderStyle":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-eMailHeaderStyle')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"eMailHeaderStyle_-__if_no_Current,_use_Default":{"actions":{"Set_htmlHeader_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@{first(body('ListCurrents-eMailHeaderStyle')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-eMailHeaderStyle":["Succeeded"]},"else":{"actions":{"Set_htmlHeader_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"htmlHeader","value":"@{first(body('ListDefns-eMailHeaderStyle')?['value'])?['defaultvalue']}"}},"htmlHeader_-_if_no_Default,_fail_here":{"actions":{"htmlHeader_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_htmlHeader_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('htmlHeader'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-eMailHeaderStyle')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"type":"Scope"},"Initialize_adminMail":{"runAfter":{"List_Approval_Responses_-_last_10_days":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"string"}]}},"Set_Env_Var_-_AdminMail":{"actions":{"ListDefns-AdminMail":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid, defaultvalue","$filter":"schemaname eq 'admin_AdminMail'"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"GetDefnID-AdminMail":{"runAfter":{"ListDefns-AdminMail":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-AdminMail')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-AdminMail":{"runAfter":{"GetDefnID-AdminMail":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-AdminMail')}"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"AdminMail_-__if_no_Current,_use_Default":{"actions":{"Set_AdminMail_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@{first(body('ListCurrents-AdminMail')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-AdminMail":["Succeeded"]},"else":{"actions":{"Set_AdminMail_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"adminMail","value":"@{first(body('ListDefns-AdminMail')?['value'])?['defaultvalue']}"}},"AdminMail_-_if_no_Default,_fail_here":{"actions":{"AdminMail_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_AdminMail_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('adminMail'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-AdminMail')?['value'])",1]},"type":"If"}},"runAfter":{"Initialize_adminMail":["Succeeded"]},"type":"Scope"},"Get_Settings":{"runAfter":{"Set_Env_Var_-_eMailHeaderStyle":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_coesettingses","$select":"admin_logo","$filter":"admin_version ne null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Initialize_logoUrl":{"runAfter":{"Get_Settings":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"logoUrl","type":"string","value":"@{first(body('Get_Settings')?['value'])?['admin_logo']}"}]}},"List_Archive_Approval_Tasks":{"runAfter":{"Initialize_logoUrl":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","$select":"admin_approvalid, admin_archiveapprovalid, admin_appdisplayname, admin_appownername, admin_appowneremail, admin_appenvironmentname","$filter":"admin_approvalresponse eq null"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":100000}}},"Apply_to_each":{"foreach":"@outputs('List_Approval_Responses_-_last_10_days')?['body/value']","actions":{"Filter_Archive_Approval_to_get_current_item":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('List_Archive_Approval_Tasks')?['body/value']","where":"@equals(item()?['admin_approvalid'], toLower(items('Apply_to_each')?['msdyn_flow_approvalresponseidx_approvalid']))"}},"Check_if_item_found":{"actions":{"Parse_JSON_-_Archive_Approval_Item":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@first(body('Filter_Archive_Approval_to_get_current_item'))","schema":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"_owningbusinessunit_value":{"type":"string"},"_owningbusinessunit_type":{"type":"string"},"statecode":{"type":"integer"},"_statecode_label":{"type":"string"},"statuscode":{"type":"integer"},"_statuscode_label":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"},"admin_name":{"type":"string"},"admin_approvalid":{"type":"string"},"createdon":{"type":"string"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"admin_archiveapprovalid":{"type":"string"},"versionnumber":{"type":"integer"},"modifiedon":{"type":"string"},"_ownerid_value":{"type":"string"},"_ownerid_type":{"type":"string"},"admin_appenvironmentname":{"type":"string"},"admin_appreadonlyvalue":{"type":"string"},"admin_appname":{"type":"string"},"admin_appdisplayname":{"type":"string"},"admin_appownername":{"type":"string"},"admin_appowneremail":{"type":"string"}}}}},"Check_Approval_Status":{"actions":{"Update_Archive_Approval_Record_-_Approve":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","recordId":"@body('Parse_JSON_-_Archive_Approval_Item')?['admin_archiveapprovalid']","item/admin_approvalcomment":"@items('Apply_to_each')?['msdyn_flow_approvalresponse_comments']","item/admin_approvalresponse":"@items('Apply_to_each')?['msdyn_flow_approvalresponse_response']","item/admin_approvalresponsedate":"@utcNow()"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Get_environment_for_display_name":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('adminMail')","emailMessage/Subject":"Archive PowerApps for @{body('Parse_JSON_-_Archive_Approval_Item')?['admin_appdisplayname']} has been rejected","emailMessage/Body":"<html>\n@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><img id='logo' src='@{variables('logoUrl')}'></td></tr>\n<tr><td><p id='header'>PowerApps</p></td></tr>\n<tr id='ribbon'><td>\n<table id='ribbonContent'>\n<tr><td>Auto-Archive .</td>\n</tr>\n<tr id='message'><td>\n\n<p>@{body('Parse_JSON_-_Archive_Approval_Item')?['admin_appownername']} (@{body('Parse_JSON_-_Archive_Approval_Item')?['admin_appowneremail']}) was recently prompted to archive the following app:<br>\n<br>\n<strong>Display Name</strong>: @{body('Parse_JSON_-_Archive_Approval_Item')?['admin_appdisplayname']}<br>\n<strong>Environment</strong>:  @{outputs('Get_environment_for_display_name')?['body/admin_displayname']}<br>\n<strong>App ID</strong>: @{body('Parse_JSON_-_Archive_Approval_Item')?['admin_archiveapprovalid']}<br>\n<br>\nThe request was archiving was rejected by the app owner with the following reason: @{items('Apply_to_each')?['msdyn_flow_approvalresponse_comments']}<br>\n</p>\n</li>\n</ol>\n</p>\n</td></tr>\n</table>\n</div>\n</body>\n</html>"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Update_Archive_Approval_Record_-_Reject":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_archiveapprovals","recordId":"@body('Parse_JSON_-_Archive_Approval_Item')?['admin_archiveapprovalid']","item/admin_approvalcomment":"@items('Apply_to_each')?['msdyn_flow_approvalresponse_comments']","item/admin_approvalresponse":"@items('Apply_to_each')?['msdyn_flow_approvalresponse_response']","item/admin_approvalresponsedate":"@utcNow()"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}}},"expression":{"equals":["@items('Apply_to_each')?['msdyn_flow_approvalresponse_response']","Approve"]},"type":"If"},"Get_Env_ID":{"runAfter":{"Parse_JSON_-_Archive_Approval_Item":["Succeeded"]},"type":"Compose","inputs":"@substring(body('Parse_JSON_-_Archive_Approval_Item')?['admin_appenvironmentname'], sub(length(body('Parse_JSON_-_Archive_Approval_Item')?['admin_appenvironmentname']), 36), 36)","description":"substring(body('Parse_JSON_-_Archive_Approval_Item')?['admin_appenvironmentname'], sub(length(body('Parse_JSON_-_Archive_Approval_Item')?['admin_appenvironmentname']), 36), 36)"},"Get_environment_for_display_name":{"runAfter":{"Get_Env_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_environments","recordId":"@outputs('Get_Env_ID')","$select":"admin_displayname"},"authentication":"@parameters('$authentication')","retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}}},"runAfter":{"Filter_Archive_Approval_to_get_current_item":["Succeeded"]},"expression":{"not":{"equals":["@length(body('Filter_Archive_Approval_to_get_current_item'))",0]}},"type":"If","description":"If nothing found, then this is an approval outside of the context of our CoE"}},"runAfter":{"List_Archive_Approval_Tasks":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}