CoEStarterKit/CenterofExcellenceAuditComponents_1_60_managed/Workflows/MicrosoftTeamsAdminWeeklyCleanUpofMicrosoftTeamsen-708E4FC8-5E23-EB11-A813-000D3A1BB495.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_PPAdminCoETeamsIntegration"},"api":{"name":"shared_powerplatformforadmins"}},"shared_teams_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_TeamsCoETeamsIntegration"},"api":{"name":"shared_teams"}},"shared_commondataserviceforapps_1":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCoETeamsIntegration"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_Office365OutlookCoEConnection"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Admin eMail":{"defaultValue":"adelev@pplatform.onmicrosoft.com","type":"String","metadata":{"schemaName":"admin_AdminMail","description":"CoE Admin eMail"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"schedule":{"weekDays":["Tuesday"],"hours":["5"]}},"type":"Recurrence"}},"actions":{"Apply_to_each_Teams_Environment":{"foreach":"@outputs('List_7_day_environments')?['body/value']","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Teams_Environment')"},"Is_Business_Justification_Empty":{"runAfter":{"Compose":["Succeeded"]},"type":"Compose","inputs":"@empty(items('Apply_to_each_Teams_Environment')?['admin_makerrequirementbusinessjustification'])"},"Has_Admin_Rejected":{"runAfter":{"Is_Business_Justification_Empty":["Succeeded"]},"type":"Compose","inputs":"@items('Apply_to_each_Teams_Environment')?['admin_adminmicrosoftteamsenvironmentstatus']"},"Check_if_Business_Justification_has_been_provided":{"actions":{"Delete_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins","connectionName":"shared_powerplatformforadmins_1","operationId":"Remove-AdminEnvironment"},"parameters":{"environment":"@items('Apply_to_each_Teams_Environment')?['admin_environmentid']","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}},"Post_a_message_as_the_Flow_bot_to_a_user":{"runAfter":{"Get_Maker_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_1","operationId":"PostUserNotification"},"parameters":{"PostNotificationRequest/recipient/to":"@{outputs('Get_Maker_record')?['body/admin_userprincipalname']};","PostNotificationRequest/messageBody":"Your Microsoft Teams Power Platform environment has been deleted, as you did not provide a business justification or your provided justification has been rejected by the reviewer.  ","PostNotificationRequest/messageTitle":"Your Microsoft Teams environment: @{items('Apply_to_each_Teams_Environment')?['admin_displayname']}"},"authentication":"@parameters('$authentication')"}},"Get_Maker_record":{"runAfter":{"Update_-_Mark_Environment_as_Deleted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Update_-_Mark_Environment_as_Deleted')?['body/_admin_maker_value']"},"authentication":"@parameters('$authentication')"}},"Update_-_Mark_Environment_as_Deleted":{"runAfter":{"Deletion_Failed":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"admin_environments","recordId":"@items('Apply_to_each_Teams_Environment')?['admin_environmentid']","item/admin_environmentdeleted":true,"item/admin_environmentdeletedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Deletion_Failed":{"runAfter":{"Delete_Environment":["Failed"]},"type":"Compose","inputs":"Deletion Failed"}},"runAfter":{"Has_Admin_Rejected":["Succeeded"]},"expression":{"or":[{"equals":["@empty(items('Apply_to_each_Teams_Environment')?['admin_makerrequirementbusinessjustification'])","@true"]},{"equals":["@items('Apply_to_each_Teams_Environment')?['admin_adminmicrosoftteamsenvironmentstatus']",597910001]}]},"type":"If"}},"runAfter":{"List_90_day_environments_":["Succeeded"]},"type":"Foreach"},"Get_90_days_in_the_past":{"runAfter":{},"type":"Expression","kind":"GetPastTime","inputs":{"interval":90,"timeUnit":"Day"},"description":"Environments with no apps or flows will be cleaned up after 90 days of inactivity."},"Get_7_days_in_the_past":{"runAfter":{"Get_90_days_in_the_past":["Succeeded"]},"type":"Expression","kind":"GetPastTime","inputs":{"interval":7,"timeUnit":"Day"},"description":"Environments with no business justification provided or where the business justification has been rejected by the admin will be cleaned up after 7 days."},"List_7_day_environments":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentdeleted,admin_makerrequirementbusinessjustification,admin_environmentcreatedon,admin_adminmicrosoftteamsenvironmentstatus,admin_numberofapps,admin_numberofflows,admin_displayname,admin_environmentmakerdisplayname","$filter":"admin_environmentsku eq 'Teams' and admin_environmentdeleted eq false and admin_businessjustificationdate le @{body('Get_7_days_in_the_past')} and  admin_businessjustificationdate ne null and admin_adminmicrosoftteamsenvironmentstatus ne 597910000"},"authentication":"@parameters('$authentication')"}},"List_90_day_environments_":{"runAfter":{"List_7_day_environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentdeleted,admin_makerrequirementbusinessjustification,admin_environmentcreatedon,admin_adminmicrosoftteamsenvironmentstatus,admin_numberofapps,admin_numberofflows,admin_displayname,admin_environmentmakerdisplayname","$filter":"admin_environmentsku eq 'Teams' and admin_environmentdeleted eq false and  admin_environmentcreatedon le @{body('Get_90_days_in_the_past')}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Teams_Environment_-_90_days":{"foreach":"@outputs('List_90_day_environments_')?['body/value']","actions":{"Check_if_inactivity_after_90_days_2":{"actions":{"Delete_Environment_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins","connectionName":"shared_powerplatformforadmins_1","operationId":"Remove-AdminEnvironment"},"parameters":{"environment":"@items('Apply_to_each_Teams_Environment_-_90_days')?['admin_environmentid']","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}},"Post_a_message_as_the_Flow_bot_to_a_user_4":{"runAfter":{"Get_Maker_record_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_1","operationId":"PostUserNotification"},"parameters":{"PostNotificationRequest/recipient/to":"@{outputs('Get_Maker_record_4')?['body/admin_userprincipalname']};;","PostNotificationRequest/messageBody":"Your Microsoft Teams Power Platform environment has been deleted due to 90 days of inactivity.","PostNotificationRequest/messageTitle":"Your Microsoft Teams environment: @{items('Apply_to_each_Teams_Environment_-_90_days')?['admin_displayname']}"},"authentication":"@parameters('$authentication')"}},"Get_Maker_record_4":{"runAfter":{"Update_-_Mark_Environment_as_Deleted_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem"},"parameters":{"entityName":"admin_makers","recordId":"@outputs('Update_-_Mark_Environment_as_Deleted_4')?['body/_admin_maker_value']"},"authentication":"@parameters('$authentication')"}},"Update_-_Mark_Environment_as_Deleted_4":{"runAfter":{"Deletion_Failed_90_days":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord"},"parameters":{"entityName":"admin_environments","recordId":"@items('Apply_to_each_Teams_Environment_-_90_days')?['admin_environmentid']","item/admin_environmentdeleted":true,"item/admin_environmentdeletedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Deletion_Failed_90_days":{"runAfter":{"Delete_Environment_4":["Failed"]},"type":"Compose","inputs":"Delete Failed"}},"runAfter":{"Compose_2":["Succeeded"]},"expression":{"and":[{"equals":["@items('Apply_to_each_Teams_Environment_-_90_days')?['admin_numberofapps']",0]},{"equals":["@items('Apply_to_each_Teams_Environment_-_90_days')?['admin_numberofflows']",0]}]},"type":"If"},"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Teams_Environment_-_90_days')"}},"runAfter":{"List_90_day_environments_":["Succeeded"]},"type":"Foreach"},"List_new_Teams_environments":{"runAfter":{"Apply_to_each_Teams_Environment":["Succeeded"],"Apply_to_each_Teams_Environment_-_90_days":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentdeleted,admin_makerrequirementbusinessjustification,admin_environmentcreatedon,admin_adminmicrosoftteamsenvironmentstatus,admin_numberofapps,admin_numberofflows,admin_displayname,admin_environmentmakerdisplayname","$filter":"admin_environmentsku eq 'Teams' and admin_environmentdeleted eq false and  admin_environmentcreatedon gt @{body('Get_90_days_in_the_past')}"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_7_days_in_the_past":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminEmail","type":"string","value":"@parameters('Admin eMail')"}]}},"Create_New_Envs_-_HTML_table":{"runAfter":{"List_environments_coming_up_for_review":["Succeeded"]},"type":"Table","inputs":{"from":"@outputs('List_new_Teams_environments')?['body/value']","format":"HTML","columns":[{"header":"Name","value":"@item()?['admin_displayname']"},{"header":"Owner","value":"@item()?['admin_environmentmakerdisplayname']"},{"header":"Justification","value":"@item()?['admin_makerrequirementbusinessjustification']"}]}},"List_environments_coming_up_for_review":{"runAfter":{"List_new_Teams_environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords"},"parameters":{"entityName":"admin_environments","$select":"admin_environmentdeleted,admin_makerrequirementbusinessjustification,admin_environmentcreatedon,admin_adminmicrosoftteamsenvironmentstatus,admin_numberofapps,admin_numberofflows,admin_displayname,admin_environmentmakerdisplayname,admin_adminreviewon","$filter":"admin_environmentsku eq 'Teams' and admin_environmentdeleted eq false and  admin_adminreviewon gt @{utcNow()}  and admin_adminreviewon lt  @{addDays(utcNow(), 7)}"},"authentication":"@parameters('$authentication')"}},"Create_Review_Envs_-_HTML_table":{"runAfter":{"Create_New_Envs_-_HTML_table":["Succeeded"]},"type":"Table","inputs":{"from":"@outputs('List_environments_coming_up_for_review')?['body/value']","format":"HTML","columns":[{"header":"Name","value":"@item()?['admin_displayname']"},{"header":"Owner","value":"@item()?['admin_environmentmakerdisplayname']"},{"header":"Justification","value":"@item()?['admin_makerrequirementbusinessjustification']"},{"header":"Review","value":"@item()?['admin_adminreviewon']"}]}},"Send_mail_if_either_array_non-empty":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('adminEmail')","emailMessage/Subject":"Microsoft Teams Environment Creation review","emailMessage/Body":"<p>In the past 7 days, the following Microsoft Teams environments have been created and require review - please open the Power Platform Admin View and approve/reject the business justification of these environments.<br>\n<br>\n@{body('Create_New_Envs_-_HTML_table')}<br>\n<br>\nIn the next 7 days, the following Microsoft Teams environments are coming up for review:<br>\n<br>\n@{body('Create_Review_Envs_-_HTML_table')}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Review_Envs_-_HTML_table":["Succeeded"]},"expression":{"or":[{"greater":["@length(outputs('List_environments_coming_up_for_review')?['body/value'])",0]},{"greater":["@length(outputs('List_new_Teams_environments')?['body/value'])",0]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}