CoEStarterKit/CenterofExcellenceAuditComponents_1_60_managed/Workflows/MicrosoftTeamsAdminAskforBusinessJustificationwhen-33024C20-C222-EB11-A813-000D3A1BB495.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_OutlookCoETeamsIntegration"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentGovernConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_teams_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_MicrosoftTeamsCoEConnection"},"api":{"name":"shared_teams"}},"shared_commondataserviceforapps_2":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCoETeamsIntegration"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"eMail Header Style":{"defaultValue":"<head> <style>  body {     background-color: #efefef;     font-family: Segoe UI;     text-align: center; }  #content {     border: 1px solid #742774;     background-color: #ffffff;     width: 650px;     margin-bottom: 50px;     display: inline-block; }  #logo {     margin-left: 52px;     margin-top: 40px;     width: 60px;     height: 12px; }  #header {     font-size: 24px;     margin-left: 50px;     margin-top: 20px;     margin-bottom: 20px; }  #ribbon {     background-color: #742774; }  #ribbonContent {     font-size: 20px;     padding-left: 30px;     padding-top: 10px;     padding-bottom: 20px;     color: white;     width: 100%;     padding-right: 10px; }  #message > td {     font-size: 14px;     padding-left: 60px;     padding-right: 60px;     padding-top: 20px;     padding-bottom: 40px; }  #footer > td {     font-size: 12px;     background-color: #cfcfcf;     height: 40px;     padding-top: 15px;     padding-left: 40px;     padding-bottom: 20px; }  #form {     width: 100%;     border-collapse: collapse; }  #app {     width: 60%;     font-size: 12px; }  .label {     color: #5f5f5f }  table {     border-collapse: collapse;     width: 100%; }  th, td {     padding: 8px;     text-align: left;     border-bottom: 1px solid #ddd; }  </style> </head>","type":"String","metadata":{"schemaName":"admin_eMailHeaderStyle","description":"CSS/Style used for eMails"}},"Admin eMail":{"defaultValue":"adelev@pplatform.onmicrosoft.com","type":"String","metadata":{"schemaName":"admin_AdminMail","description":"CoE Admin eMail"}}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"admin_environment","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"admin_environmentsku eq 'Teams'","subscriptionRequest/name":"33024c20-c222-eb11-a813-000d3a1bb495"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_htmlHeader":{"runAfter":{"If_this_environment_has_already_been_through_approval,_exit":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"string","value":"@parameters('eMail Header Style')"}]}},"Initialize_urlWiki":{"runAfter":{"Initialize_adminMail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"urlWiki","type":"string"}]}},"Send_an_email_to_the_Teams_Owner":{"runAfter":{"List_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_Owner')?['body/admin_userprincipalname']","emailMessage/Subject":"Welcome to your Microsoft Teams Environment: @{triggerOutputs()?['body/admin_displayname']}","emailMessage/Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><p id='header'>Microsoft Power Platform</p></td></tr>\n<tr id='message'><td>\n<p>Welcome to your Microsoft Teams Environment!</p>\n<p><br>\n@{outputs('Compose_email')}</p>\n\nLearn more about our Power Platform Policies here:  @{first(outputs('List_records')?['body/value'])?['admin_linktopolicydocumentation']}\n</table>\n</div>\n</body>"},"authentication":"@parameters('$authentication')"}},"Compose_email":{"runAfter":{"Initialize_urlWiki":["Succeeded"]},"type":"Compose","inputs":"Microsoft Dataverse for Teams is an exciting new capability that integrates Teams with the Power Platform. Using Dataverse for Teams, anyone can make and deploy apps, flows, and chatbots directly within Teams with Power Apps, Power Automate, and Power Virtual Agents. These apps, flows, and bots are then available to use by anyone in the team.<br><br>\n\nWhen a team owner adds the capability to their team, Dataverse for Teams creates a new Power Platform environment with a lightweight Dataverse database and links it to the team. <br>\n<strong>Note: ​As this is a limited capability, please be mindful of others. Create just the environments that you need to support your business process​ and if you no longer need the environment, delete it!</strong> \n<br><br>\nIf the environment you just created is permanent, here are the rules:<br>\nA business justification for a production scenario must be provided<br>\nAn admin must approve the request<br>\nThe default Data Loss Preveniton policy will be applied<br>\n<br><br>\nEnvironments will be deleted if any of the following conditions is true:<br>\nNo business justification has been provided within a week of creating the enviornment.<br>\nThe environment is unused after 90 days.<br>\nAn excessive number of environments are created by the same person<br>\n<br><br>\n"},"Check_if_Business_Justification_has_been_provided":{"actions":{"Update_Environment_with_Business_Justification":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"admin_environments","recordId":"@triggerOutputs()?['body/admin_environmentid']","item/admin_makerrequirementbusinessjustification":"@outputs('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response')?['body/data/myBusinessJustification']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_Environment_with_Business_Justification":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@parameters('Admin eMail')","emailMessage/Subject":"Justification Provided for a Microsoft Teams Environment: @{triggerOutputs()?['body/admin_displayname']}","emailMessage/Body":"@{variables('htmlHeader')}\n<body>\n<div id='content'>\n<table id='form'>\n<tr><td><p id='header'>Microsoft Power Platform</p></td></tr>\n<tr id='message'><td>\n<p>New Microsoft Teams Environment Justification Added!</p>\n<p>Please view and approve or reject it as shown here: <a href=\"https://docs.microsoft.com/power-platform/guidance/coe/teams-governance#business-justification-process\">Business justification process</a></p>\n</table>\n</div>\n</body>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response":["Succeeded","TimedOut"]},"expression":{"not":{"equals":["@empty(outputs('Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response')?['body/data/myBusinessJustification'])","@true"]}},"type":"If"},"List_records":{"runAfter":{"Scope_-_Get_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"admin_coesettingses","$top":1},"authentication":"@parameters('$authentication')"}},"Scope_-_Get_Owner":{"actions":{"Get_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"admin_makers","recordId":"@triggerOutputs()?['body/_admin_maker_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_email":["Succeeded"]},"type":"Scope"},"Post_an_Adaptive_Card_to_a_Teams_user_and_wait_for_a_response":{"runAfter":{"Update_Date_asked_for_Business_Justification":["Succeeded"]},"limit":{"timeout":"P6D"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_1","operationId":"SubscribeUserFlowContinuation"},"parameters":{"UserFlowContinuationSubscriptionRequest/body/recipient/to":"@outputs('Get_Owner')?['body/admin_userprincipalname']","UserFlowContinuationSubscriptionRequest/body/messageBody":"{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.2\",\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": 2,\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Your Teams environment: @{triggerOutputs()?['body/admin_displayname']}\",\n                            \"weight\": \"Bolder\",\n                            \"size\": \"Large\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Your @{triggerOutputs()?['body/admin_displayname']} environment might get deleted if the business justification is rejected or if you do not provide a business justification.\",\n                            \"wrap\": true,\n                            \"weight\": \"Bolder\",\n                            \"color\": \"Attention\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Microsoft Dataverse for Teams is an exciting new capability that integrates Teams with the Power Platform. Using Dataverse for Teams, anyone can make and deploy apps, flows, and chatbots directly within Teams.\\nNote: ​As this is a limited capability, please be mindful of others. Create just the environments that you need to support your business process\\n\\nIf the environment you just created is for a production use case, please provide a business justification. \",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Business Justification\",\n                            \"wrap\": true,\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"Input.Text\",\n                            \"id\": \"myBusinessJustification\",\n                            \"isMultiline\": true\n                        }\n                    ]\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Submit\"\n        }\n    ],\n    \"-ms-tokens\": {}\n}","UserFlowContinuationSubscriptionRequest/body/updateMessage":"Your business justification has been submitted.","UserFlowContinuationSubscriptionRequest/body/shouldUpdateCard":true,"UserFlowContinuationSubscriptionRequest/body/recipient/isAlert":true},"authentication":"@parameters('$authentication')"}},"Update_Date_asked_for_Business_Justification":{"runAfter":{"Send_an_email_to_the_Teams_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord"},"parameters":{"entityName":"admin_environments","recordId":"@triggerOutputs()?['body/admin_environmentid']","item/admin_businessjustificationdate":"@utcnow()"},"authentication":"@parameters('$authentication')"}},"If_this_environment_has_already_been_through_approval,_exit":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"or":[{"not":{"equals":["@triggerOutputs()?['body/admin_businessjustificationdate']","@null"]}},{"not":{"equals":["@triggerOutputs()?['body/admin_makerrequirementbusinessjustification']","@null"]}},{"equals":["@triggerOutputs()?['body/admin_adminmicrosoftteamsenvironmentstatus']",597910000]},{"equals":["@triggerOutputs()?['body/admin_adminmicrosoftteamsenvironmentstatus']",597910001]}]},"type":"If"},"Initialize_adminMail":{"runAfter":{"Initialize_htmlHeader":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"string","value":"@parameters('Admin eMail')"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}