CoEStarterKit/SharePoint Setup/CreateCoETemplateLibaryDocLibraryinSP_20210106170445/Microsoft.Flow/flows/fc6c56e2-bf84-4726-8a75-c96339fb6775/definition.json
{"name":"776fd50e-f615-4b5f-a5ce-edbbfb0b5d71","id":"/providers/Microsoft.Flow/flows/776fd50e-f615-4b5f-a5ce-edbbfb0b5d71","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create CoE TemplateLibary Doc Library in SP","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"46fb1e20-a4fa-41dc-93cb-d91664feece6","type":"User","tenantId":"8a235459-3d2c-415d-8c1e-e2fe133509ad"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-12-13T16:19:06.8833203Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Variable_-_Full_URL_of_Target_Site":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCoeTargetSiteFullURL","type":"string"}]},"description":"Internal URL for the site (rather than the display name)"},"Variable_-_Doc_Lib_Name":{"runAfter":{"Set_Env_Var_-_PowerUserURLSharePointSite":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDocLibName","type":"string","value":"AppTemplates"}]}},"Scope_-_Create_the_Fields":{"actions":{"Add_Field_-_Type_String_-_ItemDescription":{"runAfter":{"Add_Field_-_Type_String_-_DisplayName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.Field'},\n    'FieldTypeKind': 3,\n    'Title': 'ItemDescription'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Field_-_Type_Choice_-_TemplateType_":{"runAfter":{"Add_Field_-_Type_Boolean_-_Featured":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{ '__metadata':\n    { 'type': 'SP.FieldChoice'},\n    'Title': 'TemplateType',\n    'FieldTypeKind': 6,\n    'Required': 'true',\n    'Choices': { 'results': ['App', 'Flow',  'Component', 'Image', 'Document' ] }\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"CELA said no sick/personal/vacation references"},"Add_Field_-_Type_String_-_DisplayName":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.Field'},\n    'FieldTypeKind': 2,\n    'Title': 'DisplayName'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Field_-_Type_Boolean_-_Featured":{"runAfter":{"Add_Field_-_Type_String_-_ItemDescription":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.Field'},\n    'FieldTypeKind': 8,\n    'Title': 'Featured'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Add_List_-_Create_the_Document_Library_":["Succeeded"]},"type":"Scope"},"Add_List_-_Create_the_Document_Library_":{"runAfter":{"Variable_-_Doc_Lib_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"/_api/web/lists","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n  \"__metadata\": {\"type\": \"SP.List\"},\n  \"AllowContentTypes\": true,\n  \"BaseTemplate\": 101,\n \"Description\": \"Library of Templates to share with Power Platform Users\",\n \"Title\": \"@{variables('varDocLibName')}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Scope_-_Add_New_Fields_to_Default_View":{"actions":{"Add_To_Default_View_-_ItemDescription":{"runAfter":{"Add_To_Default_View_-_DisplayName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/AddViewField('ItemDescription')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_To_Default_View_-_DisplayName":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/AddViewField('DisplayName')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_To_Default_View_-_TemplateType":{"runAfter":{"Add_To_Default_View_-_Featured":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/AddViewField('TemplateType')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_To_Default_View_-_Featured":{"runAfter":{"Add_To_Default_View_-_ItemDescription":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/AddViewField('Featured')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Create_the_Fields":["Succeeded"]},"type":"Scope"},"Scope_-_Arrange_Field_Order_in_Default_View":{"actions":{"Move_Field_-_DisplayName":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/MoveViewFieldTo","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n     'field': 'DisplayName',\n      'index': 2\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Move_Field_-_ItemDescription":{"runAfter":{"Move_Field_-_DisplayName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/MoveViewFieldTo","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n     'field': 'ItemDescription',\n      'index': 3\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Move_Field_-_TemplateType":{"runAfter":{"Move_Field_-_Featured":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/MoveViewFieldTo","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n     'field': 'TemplateType',\n      'index': 5\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Move_Field_-_Featured":{"runAfter":{"Move_Field_-_ItemDescription":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varCoeTargetSiteFullURL')","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{variables('varDocLibName')}')/views/GetByTitle('All%20Documents')/ViewFields/MoveViewFieldTo","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n     'field': 'Featured',\n      'index': 4\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Add_New_Fields_to_Default_View":["Succeeded"]},"type":"Scope"},"Set_Env_Var_-_PowerUserURLSharePointSite":{"actions":{"ListDefns-PowerUserURLSharePointSite":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"environmentvariabledefinitions","$filter":"schemaname eq 'new_admin_PowerUserURLSharePointSite'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ListCurrents-PowerUserURLSharePointSite":{"runAfter":{"GetDefnID-PowerUserURLSharePointSite":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"environmentvariablevalues","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-PowerUserURLSharePointSite')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GetDefnID-PowerUserURLSharePointSite":{"runAfter":{"ListDefns-PowerUserURLSharePointSite":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-PowerUserURLSharePointSite')?['value'])?['ItemInternalId']"},"varCoeTargetSiteFullURL_-__if_no_Current,_use_Default":{"actions":{"Set_varCoeTargetSiteFullURL_-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varCoeTargetSiteFullURL","value":"@{first(body('ListCurrents-PowerUserURLSharePointSite')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-PowerUserURLSharePointSite":["Succeeded"]},"else":{"actions":{"Set_varCoeTargetSiteFullURL_-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varCoeTargetSiteFullURL","value":"@{first(body('ListDefns-PowerUserURLSharePointSite')?['value'])?['defaultvalue']}"}},"varCoeTargetSiteFullURL-_if_no_Default,_fail_here":{"actions":{"varCoeTargetSiteFullURL_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_varCoeTargetSiteFullURL_-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('varCoeTargetSiteFullURL'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-PowerUserURLSharePointSite')?['value'])",1]},"type":"If"}},"runAfter":{"Variable_-_Full_URL_of_Target_Site":["Succeeded"]},"type":"Scope"}},"description":"This flow creates the dependent SharePoint list in the site of your choice, that will support the template library process."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4d8e977877c44bde8b691a03fa64ffa0","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_commondataservice":{"connectionName":"shared-commondataser-74aa1ef0-be49-4d22-abfd-8607-70d2ad1d","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}