CoEStarterKit/CenterofExcellenceAuditLogs_1_41_managed/Workflows/AdminSyncAuditLogs-FA91974D-6E68-EA11-A811-000D3A31CF04.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentEnvironmentCoEConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCoEAuditConnection"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"CONFIGURE_::_Start_Time":{"runAfter":{"CONFIGURE_::_Time_Interval":["Succeeded"]},"type":"Expression","kind":"GetPastTime","inputs":{"interval":1,"timeUnit":"Day"}},"CONFIGURE_::_End_Time":{"runAfter":{"CONFIGURE_::_Start_Time":["Succeeded"]},"type":"Expression","kind":"GetPastTime","inputs":{"interval":1,"timeUnit":"Minute"}},"Generate_timeSegments_list":{"actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"arrTimeSegments","value":{"startTime":"@{variables('startTime')}","endTime":"@{variables('endTime')}"}}},"Update_startTime":{"runAfter":{"Add_to_startTime":["Succeeded"]},"type":"SetVariable","inputs":{"name":"startTime","value":"@body('Add_to_startTime')"}},"Add_to_startTime":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@variables('startTime')","interval":"@variables('timeInterval')?['int']","timeUnit":"@{variables('timeInterval')?['unit']}"}},"Add_to_endTime":{"runAfter":{"Update_startTime":["Succeeded"]},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@variables('endTime')","interval":"@variables('timeInterval')?['int']","timeUnit":"@{variables('timeInterval')?['unit']}"}},"Update_endTime":{"runAfter":{"Add_to_endTime":["Succeeded"]},"type":"SetVariable","inputs":{"name":"endTime","value":"@body('Add_to_endTime')"}}},"runAfter":{"Initialize_DLP_Changes_array":["Succeeded"]},"expression":"@greaterOrEquals(variables('endTime'), body('CONFIGURE_::_End_Time'))","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Initialize_startTime_variable":{"runAfter":{"Time_interval":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"startTime","type":"string","value":"@body('CONFIGURE_::_Start_Time')"}]}},"Time_interval":{"runAfter":{"CONFIGURE_::_End_Time":["Succeeded"]},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@body('CONFIGURE_::_Start_Time')","interval":"@variables('timeInterval')?['int']","timeUnit":"@{variables('timeInterval')?['unit']}"}},"Initialize_endTime_variable_":{"runAfter":{"Initialize_startTime_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"endTime","type":"string","value":"@body('Time_interval')"}]}},"Initialize_arrTimeSegment_array":{"runAfter":{"Initialize_endTime_variable_":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"arrTimeSegments","type":"array"}]}},"Condition":{"actions":{"Append_last_segment_to_arrtimeSegments":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"arrTimeSegments","value":{"startTime":"@{variables('startTime')}","endTime":"@{body('CONFIGURE_::_End_Time')}"}}}},"runAfter":{"Generate_timeSegments_list":["Succeeded"]},"expression":{"lessOrEquals":["@variables('startTime')","@body('CONFIGURE_::_End_Time')"]},"type":"If"},"Apply_to_each_timeSegment":{"foreach":"@variables('arrTimeSegments')","actions":{"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"751183fc-db68-ea11-a811-000d3a31cf04"},"body":{"text":"@variables('tenantId')","text_1":"@items('Apply_to_each_timeSegment')?['startTime']","text_2":"@items('Apply_to_each_timeSegment')?['endTime']"}}}},"runAfter":{"Condition":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"CONFIGURE_::_Tenant_Id":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"tenantId","type":"string"}]}},"CONFIGURE_::_Time_Interval":{"runAfter":{"Set_Env_Var_-_PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"timeInterval","type":"object","value":{"int":1,"unit":"Day"}}]}},"Initialize_DLP_Changes_array":{"runAfter":{"Initialize_arrTimeSegment_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDLPChanges","type":"array"}]}},"Set_Env_Var_-_PowerAutomateEnvironmentVariable":{"actions":{"tenantID_-__if_no_Current,_use_Default":{"actions":{"Set_tenantID-_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"tenantId","value":"@{first(body('ListCurrents-TenantIDEnvironmentVariable')?['value'])?['Value']}"}}},"runAfter":{"ListCurrents-TenantIDEnvironmentVariable":["Succeeded"]},"else":{"actions":{"Set_tenantID-_DefaultValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"tenantId","value":"@{first(body('ListDefns-TenantIDEnvironmentVariable')?['value'])?['defaultvalue']}"}},"tenantID-_if_no_Default,_fail_here":{"actions":{"flowEnvironment_-_Flow_cannot_succeed_without_this_variable":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"404","message":"No value found for required Env Variable. "}}}},"runAfter":{"Set_tenantID-_DefaultValue":["Succeeded"]},"expression":{"equals":["@empty(variables('tenantId'))","@true"]},"type":"If"}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-TenantIDEnvironmentVariable')?['value'])",1]},"type":"If"},"ListCurrents-TenantIDEnvironmentVariable":{"runAfter":{"GetDefnID-PowerAutomateEnvironmentVariable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnID-PowerAutomateEnvironmentVariable')}"},"authentication":"@parameters('$authentication')"}},"ListDefns-TenantIDEnvironmentVariable":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"environmentvariabledefinitions","$filter":"schemaname eq 'admin_TenantID'"},"authentication":"@parameters('$authentication')"}},"GetDefnID-PowerAutomateEnvironmentVariable":{"runAfter":{"ListDefns-TenantIDEnvironmentVariable":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-TenantIDEnvironmentVariable')?['value'])?['ItemInternalId']"}},"runAfter":{"CONFIGURE_::_Tenant_Id":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}