CoEStarterKit/CenterofExcellenceAuditLogs_1_41_managed/Workflows/ChildAdminSyncLogs-751183FC-DB68-EA11-A811-000D3A31CF04.json
{"properties":{"connectionReferences":{"shared_admin-5foffice-20365-20management-20api-5f691c36f6fa56d15c_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_sharedadmin5foffice2036520management20api5f691c36f6fa56d15c_faecd"},"api":{"name":"shared_admin-5foffice-20365-20management-20api-5fb4d92da55d0c1d25","logicalName":"admin_5Foffice-20365-20management-20api"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentEnvironmentCoEAuditConnection"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TenantId","type":"string","x-ms-dynamically-added":true,"description":"Unique Identifier for the Microsoft tenant","x-ms-content-hint":"TEXT"},"text_1":{"title":"Start","type":"string","x-ms-dynamically-added":true,"description":"DateTime within past 7 days","x-ms-content-hint":"TEXT"},"text_2":{"title":"End","type":"string","x-ms-dynamically-added":true,"description":"DateTime later than Start, 7 days > x >= 2 hours","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each_cluster":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"response":"200"},"schema":{"type":"object","properties":{"response":{"title":"Response","x-ms-dynamically-added":true,"type":"string"}}}}},"List_audit_log_content":{"runAfter":{"Initialize_DLP_Changes_Array":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_admin-5foffice-20365-20management-20api-5f691c36f6fa56d15c_1","operationId":"ListContent","apiId":""},"parameters":{"tenant":"@triggerBody()['text']","contentType":"Audit.General","PublisherIdentifier":"@triggerBody()['text']","startTime":"@triggerBody()['text_1']","endTime":"@triggerBody()['text_2']","Content-Type":"application/json"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_cluster":{"foreach":"@outputs('List_audit_log_content')?['body']","actions":{"Apply_to_each_Audit_Log":{"foreach":"@body('Filter_array')","actions":{"Switch":{"runAfter":{},"cases":{"LaunchPowerApp_Case":{"case":"LaunchPowerApp","actions":{"Insert_Audit_Log_record_(Current_Environment)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_auditlogs","item/admin_creationtime":"@items('Apply_to_each_Audit_Log')?['CreationTime']","item/admin_appid":"@items('Apply_to_each_Audit_Log')?['AppName']","item/admin_auditlogid":"@items('Apply_to_each_Audit_Log')?['Id']","item/admin_operation":"@items('Apply_to_each_Audit_Log')?['Operation']","item/admin_title":"Power App Launch @{items('Apply_to_each_Audit_Log')?['AppName']} - @{items('Apply_to_each_Audit_Log')?['CreationTime']}","item/admin_userupn":"@items('Apply_to_each_Audit_Log')?['UserKey']","item/admin_workload":"@items('Apply_to_each_Audit_Log')?['Workload']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_App_Last_Launch_Date_(Current_Environment)":{"runAfter":{"Catch,_already_inserted":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_Audit_Log')?['AppName']","item/admin_applastlaunchedon":"@items('Apply_to_each_Audit_Log')?['CreationTime']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Catch,_already_inserted":{"runAfter":{"Insert_Audit_Log_record_(Current_Environment)":["Failed"]},"type":"Compose","inputs":"Catch, already inserted. For time span overlaps. "}}},"DeletePowerApp_Case":{"case":"DeletePowerApp","actions":{"Mark_Power_App_record_deleted_(Current_Environment)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_apps","recordId":"@items('Apply_to_each_Audit_Log')?['AppName']","item/admin_appdeleted":true,"item/admin_appdeletedon":"@items('Apply_to_each_Audit_Log')?['CreationTime']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"DeleteFlow_Case":{"case":"DeleteFlow","actions":{"Update_Flow_record_(Current_Environment)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_flows","recordId":"@items('Apply_to_each_Audit_Log')?['ObjectId']","item/admin_flowdeleted":true,"item/admin_flowdeletedon":"@items('Apply_to_each_Audit_Log')?['CreationTime']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each_Audit_Log')?['Operation']","type":"Switch"}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":25}}},"GetContentDetails":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_admin-5foffice-20365-20management-20api-5f691c36f6fa56d15c_1","operationId":"ListContentDetails","apiId":"/providers/Microsoft.PowerApps/apis/shared_admin-5foffice-20365-20management-20api-5fb4d92da55d0c1d25"},"parameters":{"tenant":"@triggerBody()['text']","contentId":"@items('Apply_to_each_cluster')?['contentId']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"retryPolicy":{"type":"exponential","count":10,"interval":"PT10S"}}},"Parse_JSON":{"runAfter":{"GetContentDetails":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('GetContentDetails')?['body']","schema":{"type":"array","items":{"type":"object","properties":{"CreationTime":{"type":"string"},"Id":{"type":"string"},"Operation":{"type":"string"},"Workload":{"type":"string"},"AppName":{"type":"string"},"ObjectId":{"type":"string"},"UserId":{"type":"string"},"UserKey":{"type":"string"}}}}}},"Filter_array":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Parse_JSON')","where":"@or(equals(item()?['Operation'], 'LaunchPowerApp'), equals(item()?['Operation'], 'DeletePowerApp'), equals(item()?['Operation'], 'DeleteFlow'), equals(item()?['Operation'], 'PowerAppPermissionEdited'))"}}},"runAfter":{"List_audit_log_content":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":50}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDelete","type":"array"}]}},"Initialize_DLP_Changes_Array":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDlpChanges","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}