CoEStarterKit/CenterofExcellenceNurtureComponents_1_51_managed/Workflows/AdminNewsletterwithProductUpdates-E7A96786-C7E5-E911-A860-000D3A372932.json
{"properties":{"connectionReferences":{"shared_rss_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_RSSCoENurtureConnection"},"api":{"name":"shared_rss"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_Office365OutlookCoEConnection"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Admin eMail":{"defaultValue":"adelev@pplatform.onmicrosoft.com","type":"String","metadata":{"schemaName":"admin_AdminMail","description":"CoE Admin eMail"}},"eMail Header Style":{"defaultValue":"<head> <style>  body {     background-color: #efefef;     font-family: Segoe UI;     text-align: center; }  #content {     border: 1px solid #742774;     background-color: #ffffff;     width: 650px;     margin-bottom: 50px;     display: inline-block; }  #logo {     margin-left: 52px;     margin-top: 40px;     width: 60px;     height: 12px; }  #header {     font-size: 24px;     margin-left: 50px;     margin-top: 20px;     margin-bottom: 20px; }  #ribbon {     background-color: #742774; }  #ribbonContent {     font-size: 20px;     padding-left: 30px;     padding-top: 10px;     padding-bottom: 20px;     color: white;     width: 100%;     padding-right: 10px; }  #message > td {     font-size: 14px;     padding-left: 60px;     padding-right: 60px;     padding-top: 20px;     padding-bottom: 40px; }  #footer > td {     font-size: 12px;     background-color: #cfcfcf;     height: 40px;     padding-top: 15px;     padding-left: 40px;     padding-bottom: 20px; }  #form {     width: 100%;     border-collapse: collapse; }  #app {     width: 60%;     font-size: 12px; }  .label {     color: #5f5f5f }  table {     border-collapse: collapse;     width: 100%; }  th, td {     padding: 8px;     text-align: left;     border-bottom: 1px solid #ddd; }  </style> </head>","type":"String","metadata":{"schemaName":"admin_eMailHeaderStyle","description":"CSS/Style used for eMails"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"startTime":"2019-10-03T09:00:00Z","schedule":{"weekDays":["Monday"]}},"type":"Recurrence"}},"actions":{"List_PowerApps_Blog_RSS_feed_items":{"runAfter":{"Initialize_htmlHeader_(style)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss_1']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powerapps.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"List_PowerApps_Community_Blog_RSS_feed_items":{"runAfter":{"List_PowerApps_Blog_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss_1']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powerusers.microsoft.com/jgvjg48436/rss/board?board.id=PowerAppsBlog","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"Create_Blog_HTML_table":{"runAfter":{"Apply_to_each_Power_Virtual_Agent_Blog_Post":["Succeeded"]},"type":"Table","inputs":{"from":"@variables('blogContent')","format":"HTML"}},"Compose_Blog_HTML_Table":{"runAfter":{"Create_Blog_HTML_table":["Succeeded"]},"type":"Compose","inputs":"@replace(replace(replace(body('Create_Blog_HTML_table'), '&lt;', '<'), '&gt;', '>'), '&quot;', '\"')"},"Send_an_email_(V2)":{"runAfter":{"Compose_Blog_HTML_Table":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"To":"@variables('adminMail')","Subject":"Internal Power Platform Newsletter","Body":"@{variables('htmlHeader')}\n<strong>Power Platform Product updates, news and announcements </strong>since <strong>@{formatDateTime(body('Get_Date_7_days_ago'), 'yyyy-MM-dd')}</strong><strong></strong><br>\n<br>\n@{outputs('Compose_Blog_HTML_Table')}<br>\n</p>","Importance":"Normal"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"List_Flow_Blog_RSS_feed_items":{"runAfter":{"List_PowerApps_Community_Blog_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss_1']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://flow.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"List_Power_BI_RSS_feed_items":{"runAfter":{"List_Flow_Blog_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss_1']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powerbi.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Power_BI_Blog_Post":{"foreach":"@body('List_Power_BI_RSS_feed_items')","actions":{"Add_Power_BI_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","summary":"@items('Apply_to_each_Power_BI_Blog_Post')?['summary']"}}}},"runAfter":{"Apply_to_each_PowerApps_Community_Blog_Post":["Succeeded"]},"type":"Foreach"},"Apply_to_each_PowerApps_Blog_post":{"foreach":"@body('List_PowerApps_Blog_RSS_feed_items')","actions":{"Add_PowerApps_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"Title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","Summary":"@items('Apply_to_each_PowerApps_Blog_post')?['summary']"}}}},"runAfter":{"List_Power_Virtual_Agent_RSS_feed_items":["Succeeded"]},"type":"Foreach"},"Apply_to_each_Flow_Blog_post":{"foreach":"@body('List_Flow_Blog_RSS_feed_items')","actions":{"Add_Flow_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"Title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","Summary":"@items('Apply_to_each_Flow_Blog_post')?['summary']"}}}},"runAfter":{"Apply_to_each_PowerApps_Blog_post":["Succeeded"]},"type":"Foreach"},"Apply_to_each_PowerApps_Community_Blog_Post":{"foreach":"@body('List_PowerApps_Community_Blog_RSS_feed_items')","actions":{"Add_PowerApps_Community_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","summary":"@items('Apply_to_each_PowerApps_Community_Blog_Post')?['summary']"}}}},"runAfter":{"Apply_to_each_Flow_Blog_post":["Succeeded"]},"type":"Foreach"},"Initialize_Admin_eMail_variable":{"runAfter":{"Initialize_Blog_Content_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminMail","type":"String","value":"@parameters('Admin eMail')"}]},"description":"Environment location specific Flow URL"},"Get_Date_7_days_ago":{"runAfter":{},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@{utcNow()}","interval":7,"timeUnit":"Day"}},"Initialize_Blog_Content_Array":{"runAfter":{"Get_Date_7_days_ago":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"blogContent","type":"Array"}]}},"Initialize_htmlHeader_(style)":{"runAfter":{"Initialize_Admin_eMail_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"htmlHeader","type":"String","value":"@parameters('eMail Header Style')"}]}},"List_Power_Virtual_Agent_RSS_feed_items":{"runAfter":{"List_Power_BI_RSS_feed_items":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListFeedItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_rss_1']['connectionId']"}},"method":"get","path":"/ListFeedItems","queries":{"feedUrl":"https://powervirtualagents.microsoft.com/en-us/blog/feed/","since":"@body('Get_Date_7_days_ago')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Power_Virtual_Agent_Blog_Post":{"foreach":"@body('List_Power_Virtual_Agent_RSS_feed_items')","actions":{"Add_Power_Virtual_Agent_Blog_post_to_array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"blogContent","value":{"title":"@concat('<a href=\"', item()?['primaryLink'], '\">', item()['title'], '</a>')","summary":"@items('Apply_to_each_Power_Virtual_Agent_Blog_Post')?['summary']"}}}},"runAfter":{"Apply_to_each_Power_BI_Blog_Post":["Succeeded"]},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}