CoEStarterKit/CenterofExcellenceNurtureComponents_1_51_managed/Workflows/MakerAssessmentImportstarterdata-596CC029-3372-EB11-A812-000D3A173BB2.json
{"properties":{"connectionReferences":{"shared_excelonlinebusiness_2":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"admin_sharedexcelonlinebusiness_d1ad2"},"api":{"name":"shared_excelonlinebusiness"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_sharedcommondataserviceforapps_6d9ce"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Maker Assessment SharePoint Library":{"defaultValue":"https://pplatform.sharepoint.com/","type":"String","metadata":{"schemaName":"admin_MakerAssessmentSharePointLibrary","description":"Upload the base questions Excel files to a temporary SharePoint Library"}}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table_-_Categories":{"runAfter":{},"metadata":{"01EB4KIVCBHFMXKXQPRFGJD4WTBJ73DM3M":"/assessmentcategories.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_2","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('Maker Assessment SharePoint Library')","drive":"b!USLFzgurgEysC29fEYaZFim4J_jtwnpBkzFasjrdKSz3-2KM6fvTSqj0EE1N9dCR","file":"01EB4KIVCBHFMXKXQPRFGJD4WTBJ73DM3M","table":"{00000000-000C-0000-FFFF-FFFF00000000}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_Category":{"foreach":"@outputs('List_rows_present_in_a_table_-_Categories')?['body/value']","actions":{"See_if_category_already_exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makerassessmentcategories","recordId":"@items('Apply_to_each_Category')?['admin_makerassessmentcategoryid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If_not_create_category":{"runAfter":{"See_if_category_already_exists":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_makerassessmentcategories","item/admin_categoryname":"@items('Apply_to_each_Category')?['admin_categoryname']","item/admin_makerassessmentcategoryid":"@items('Apply_to_each_Category')?['admin_makerassessmentcategoryid']","item/admin_sortorder":"@items('Apply_to_each_Category')?['admin_sortorder']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows_present_in_a_table_-_Categories":["Succeeded"]},"type":"Foreach"},"List_rows_present_in_a_table_-_Questions":{"runAfter":{"Apply_to_each_Category":["Succeeded"]},"metadata":{"01EB4KIVCBHFMXKXQPRFGJD4WTBJ73DM3M":"/assessmentcategories.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","01EB4KIVGUGORY2HXOGNBLBZPLTACGAZ3W":"/assessments.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_2","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('Maker Assessment SharePoint Library')","drive":"b!USLFzgurgEysC29fEYaZFim4J_jtwnpBkzFasjrdKSz3-2KM6fvTSqj0EE1N9dCR","file":"01EB4KIVGUGORY2HXOGNBLBZPLTACGAZ3W","table":"{00000000-000C-0000-FFFF-FFFF00000000}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_Question":{"foreach":"@outputs('List_rows_present_in_a_table_-_Questions')?['body/value']","actions":{"See_if_question_already_exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_assessments","recordId":"@items('Apply_to_each_Question')?['admin_assessmentid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If_not_create_question":{"runAfter":{"See_if_question_already_exists":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_assessments","item/admin_questionname":"@items('Apply_to_each_Question')?['admin_questionname']","item/admin_assessmentid":"@items('Apply_to_each_Question')?['admin_assessmentid']","item/admin_MakerAssessmentCategory@odata.bind":"admin_makerassessmentcategories(@{items('Apply_to_each_Question')?['admin_makerassessmentcategory']})","item/admin_importantthingstokeepinmind":"@items('Apply_to_each_Question')?['admin_importantthingstokeepinmind']","item/admin_questionformat":"@items('Apply_to_each_Question')?['admin_questionformat']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows_present_in_a_table_-_Questions":["Succeeded"]},"type":"Foreach"},"List_rows_present_in_a_table_-_Answers":{"runAfter":{"Apply_to_each_Question":["Succeeded"]},"metadata":{"01EB4KIVA2DRVBFBSZ2RGY7WNTVC5TPYHK":"/answeroptions.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_2","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('Maker Assessment SharePoint Library')","drive":"b!USLFzgurgEysC29fEYaZFim4J_jtwnpBkzFasjrdKSz3-2KM6fvTSqj0EE1N9dCR","file":"01EB4KIVA2DRVBFBSZ2RGY7WNTVC5TPYHK","table":"{00000000-000C-0000-FFFF-FFFF00000000}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_Answer":{"foreach":"@outputs('List_rows_present_in_a_table_-_Answers')?['body/value']","actions":{"See_if_answer_already_exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_answeroptionses","recordId":"@items('Apply_to_each_Answer')?['admin_answeroptionsid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If_not_create_answer":{"runAfter":{"See_if_answer_already_exists":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_answeroptionses","item/admin_answeroption":"@items('Apply_to_each_Answer')?['admin_answeroption']","item/admin_Question@odata.bind":"admin_assessments(@{items('Apply_to_each_Answer')?['admin_question']})","item/admin_consideration":"@items('Apply_to_each_Answer')?['admin_consideration']","item/admin_requiresadditionalstorage":"@items('Apply_to_each_Answer')?['admin_requiresadditionalstorage']","item/admin_requiresaibuilder":"@items('Apply_to_each_Answer')?['admin_requiresaibuilder']","item/admin_requiresportals":"@items('Apply_to_each_Answer')?['admin_requiresportals']","item/admin_requirespremium":"@items('Apply_to_each_Answer')?['admin_requirespremium']","item/admin_requiressupport":"@items('Apply_to_each_Answer')?['admin_requiressupport']","item/admin_answeroptionsid":"@items('Apply_to_each_Answer')?['admin_answeroptionsid']","item/admin_isdefault":"@items('Apply_to_each_Answer')?['admin_isdefault']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows_present_in_a_table_-_Answers":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}