CoEStarterKit/CenterofExcellenceNurtureComponents_1_51_managed/Workflows/TrainingInADayReminder3dayspriorevent-64D797EB-CD9B-EB11-B1AC-000D3A13451D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_CDSCurrentCoEConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"admin_Office365OutlookCoEConnection"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Community URL":{"defaultValue":"https://samplelink","type":"String","metadata":{"schemaName":"admin_CommunityURL","description":"\tLink to your internal Microsoft Power Platform community (for example, Yammer or Teams)"}},"eMail Header Style":{"defaultValue":"<head> <style>  body {     background-color: #efefef;     font-family: Segoe UI;     text-align: center; }  #content {     border: 1px solid #742774;     background-color: #ffffff;     width: 650px;     margin-bottom: 50px;     display: inline-block; }  #logo {     margin-left: 52px;     margin-top: 40px;     width: 60px;     height: 12px; }  #header {     font-size: 24px;     margin-left: 50px;     margin-top: 20px;     margin-bottom: 20px; }  #ribbon {     background-color: #742774; }  #ribbonContent {     font-size: 20px;     padding-left: 30px;     padding-top: 10px;     padding-bottom: 20px;     color: white;     width: 100%;     padding-right: 10px; }  #message > td {     font-size: 14px;     padding-left: 60px;     padding-right: 60px;     padding-top: 20px;     padding-bottom: 40px; }  #footer > td {     font-size: 12px;     background-color: #cfcfcf;     height: 40px;     padding-top: 15px;     padding-left: 40px;     padding-bottom: 20px; }  #form {     width: 100%;     border-collapse: collapse; }  #app {     width: 60%;     font-size: 12px; }  .label {     color: #5f5f5f }  table {     border-collapse: collapse;     width: 100%; }  th, td {     padding: 8px;     text-align: left;     border-bottom: 1px solid #ddd; }  </style> </head>","type":"String","metadata":{"schemaName":"admin_eMailHeaderStyle","description":"CSS/Style used for eMails"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["10"]}},"type":"Recurrence"}},"actions":{"Get_past_time":{"runAfter":{},"type":"Expression","kind":"GetPastTime","inputs":{"interval":3,"timeUnit":"Day"}},"List_Events":{"runAfter":{"Get_past_time":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"admin_inadayattendeeses","$select":"admin_attendeeemail","$filter":"admin_RegisteredEvent/admin_inadayeventid ne null","$expand":"admin_RegisteredEvent($select=admin_starttime,admin_endtime)"},"authentication":"@parameters('$authentication')"}},"Filter_array_":{"runAfter":{"List_Events":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_Events')?['body/value']","where":"@equals(formatDateTime(item()?['admin_registeredevent/admin_starttime'], 'yyyy-MM-dd'), formatDateTime(body('Get_past_time'), 'yyyy-MM-dd'))"}},"Select_attendee_email":{"runAfter":{"Filter_array_":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Filter_array_')","select":"@item()?['admin_attendeeemail']"}},"Compose":{"runAfter":{"Select_attendee_email":["Succeeded"]},"type":"Compose","inputs":"@join(body('Select_attendee_email'), ';')"},"Send_an_email_(V2)":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Compose')","emailMessage/Subject":" Power Platform Event - Your upcoming training","emailMessage/Body":"@{parameters('eMail Header Style')}\n<p>Don't forget your Power Platform event is coming up on.<br>\n<br>\nIf you can no longer make it, please cancel your attendence using the \"Training In A Day Registration\" app.<br>\n<br>\n<strong>What you can expect on the day:</strong><br>\nThis is a beginner level lab for you to get hands on experience with Microsoft Business Application Platform technologies – PowerApps, Microsoft Flow and Microsoft Forms. The labs include step-by-step instructions for someone new to these technologies to build a solutions in less then a day.</p>\nQuestions? Get help from <a href='@{parameters('Community URL')}'>our community</a></p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}